

<span class="roll-mod-container status-{{case "lower" status}} posneg-{{posNeg}} {{~#if tooltip}} tooltip-trigger{{/if}}{{~#if modType}} roll-mod-{{modType}}{{/if}}">

  <span class="roll-mod-label">
    <span class="roll-mod-text">
      {{name}}{{~#if (test sideString "||" (test modType "==" "teamwork"))}}:{{/if}}
    </span>
    {{#if (test sideString "||" (test modType "==" "teamwork"))}}
    <span class="roll-mod-text roll-mod-sidestring">{{{sideString}}}&nbsp;</span>
    {{/if}}
  </span>

{{#if tooltip}}
  <div class="tooltip tooltip-small tooltip-left tooltip-wide tooltip-roll-mod">{{{tooltip}}}</div>
{{/if}}
</span>
