
<span class="toggle-icon {{cssClass}} {{~#if isToggled}} toggled{{/if}}">
  {{#if targetKey}}
    <input
      data-dtype="Boolean"
      data-action="{{dataAction}}"
      type="checkbox"
      class="hidden-toggle"
      {{~#if targetID}} data-target-id="{{targetID}}" data-target-key="{{targetKey}}"{{else}} name="{{targetKey}}"{{/if}} {{checked isToggled}} />
  {{else if targetFlagKey}}
    <input data-dtype="Boolean" type="checkbox" class="hidden-toggle" data-action="{{#if dataAction}}{{dataAction}}{{else}}gm-toggle{{/if}}" {{~#if targetID}} data-target-id="{{targetID}}"{{/if}} data-flag-target="{{targetFlagKey}}" {{checked isToggled}} />
  {{else if dataAction}}
    <a class="button-icon" data-action="{{dataAction}}">
  {{/if}}

  {{#if isToggled}}
    <i class="toggle-on {{activeClass}}"></i>
  {{else}}
    <i class="toggle-off {{inactiveClass}}"></i>
  {{/if}}
  {{#if tooltip}}
  <span class="tooltip toggle-icon-tooltip">{{{tooltip}}}</span>
  {{/if}}
  {{#if activeTooltip}}
    {{#if isToggled}}
      <span class="tooltip toggle-icon-tooltip">{{{activeTooltip}}}</span>
    {{/if}}
  {{/if}}
  {{#if inactiveTooltip}}
    {{#unless isToggled}}
      <span class="tooltip toggle-icon-tooltip">{{{inactiveTooltip}}}</span>
    {{/unless}}
  {{/if}}

  {{#unless targetKey}}{{#unless targetFlagKey}}{{#if dataAction}}
  </a>
  {{/if}}{{/unless}}{{/unless}}
</span>