<div class="clock-key-container">
{{#if isVisible}}
  <div id="{{id}}" class="clock-key {{~#if isActive}} active-key{{/if}}" data-size="{{size}}">
    {{#if isNameVisible}}
    <label class="key-label" data-key-id="{{id}}">{{name}}</label>
    {{/if}}
    <div class="key-image-container">
      <svg class="key-image">
        <use href="#{{size}}-key" class="key-bg" />
        <rect class="metallic-overlay" x="0" y="0" clip-path="url(#{{size}}-key-clip" />
      </svg>
      {{#each clocksData }}
        {{> "systems/eunos-blades/templates/components/clock.hbs" }}
      {{/each}}
    </div>
  </div>
{{/if}}
</div>