{{log "CLOCK KEY" this}}
{{#if isVisible}}
  <div id="{{id}}" class="clock-key {{~#if isActive}} active-key{{/if}}" data-size="{{countSize clocks}}">
    {{#if isNameVisible}}
    <label class="key-label" data-key-id="{{id}}">{{display}}</label>
    {{/if}}
    <div class="clock-label-container">
      {{#each clocks as |clockData clockNum|}}
      {{#if clockData.isNameVisible}}
        <label class="clock-label {{~#if clockData.isActive}} clock-active{{/if}}" data-clock-num="{{clockNum}}">
          <span class="short-label">{{clockData.display}}</span>
          {{#if clockData.tooltip}}<span class="hover-label">{{clockData.tooltip}}</span>{{/if}}
        </label>
      {{/if}}
      {{/each}}
    </div>
    <div class="clock-image-container">
      <svg class="key-image">
        <use href="#{{countSize clocks}}-key" class="key-bg" />
        <rect class="metallic-overlay" x="0" y="0" clip-path="url(#{{countSize clocks}}-key-clip" />
      </svg>
      {{#each clocks as |clockData clockNum|}}
        {{> "systems/eunos-blades/templates/components/clock.hbs" clockData
          clockNum=clockNum}}
      {{/each}}
    </div>
  </div>
{{/if}}