<section class="sheet-topper roll-type roll-type-{{case "lower" rollType}}">
  <div class="roll-type-header">{{rollType}} Roll</div>
</section>

<section class="sheet-topper roll-factors">
  <div class="factors-block flex-horizontal">
    {{#each rollFactors.source}}
    {{#if (test isActive "&&" isPrimary)}}
    <div class="roll-factor roll-factor-source roll-factor-{{name}} roll-factor-primary{{#if cssClasses}} {{cssClasses}}{{/if}} flex-horizontal">
      <label class="shadowed roll-factor-label">{{name}}</label>
      <span class="shadowed roll-factor-value">{{display}}</span>
    </div>
    {{/if}}
    {{/each}}
    {{#each rollFactors.opposition}}
    {{#if (test isActive "&&" isPrimary)}}
    <div class="roll-factor roll-factor-opposition roll-factor-{{name}} roll-factor-primary{{#if cssClasses}} {{cssClasses}}{{/if}} flex-horizontal">
      <label class="shadowed roll-factor-label">{{name}}</label>
      <span class="shadowed roll-factor-value">{{display}}</span>
    </div>
    {{/if}}
    {{/each}}
  </div>
</section>

<section class="sheet-header flex-horizontal">
  <span class="shadowed source-name source-name-type-{{rollPrimary.rollPrimaryType}}" {{#unless rollOpposition}}style="text-align: left; padding-left: 50px;"{{/unless}}>{{rollPrimary.rollPrimaryName}}</span>
  <span class="shadowed vs">{{#if rollOpposition}}vs.{{else}}&nbsp;{{/if}}</span>
  <span class="shadowed opp-name {{~#if rollOpposition}} opp-name-type-{{rollOpposition.rollOppType}}{{/if}}">{{#if rollOpposition}}{{rollOpposition.rollOppName}}{{else}}&nbsp;{{/if}}</span>
</section>

<section class="sheet-subheader flex-horizontal">
  <div class="factors-block flex-horizontal">
    {{#each rollFactors.source}}
    {{#if isActive}}{{#unless isPrimary}}
    <div class="roll-factor roll-factor-source roll-factor-{{name}}{{#if cssClasses}} {{cssClasses}}{{/if}} flex-horizontal">
      <label class="shadowed roll-factor-label">{{name}}</label>
      <span class="shadowed roll-factor-value">{{display}}</span>
    </div>
    {{/unless}}{{/if}}
    {{/each}}
  </div>
</section>

<div class="split-root flex-horizontal">
  <div class="roll-sheet-float-block roll-source-bg-img">
    <img src="{{rollPrimary.rollPrimaryImg}}" />
  </div>
  <div class="roll-sheet-float-block roll-source-bg-overlay">  </div>
  <div class="split-root-left">
    <section class="sheet-main flex-vertical">
      <div class="roll-sheet-block roll-participants-block flex-horizontal">
        {{#each rollParticipantData as |sectionData section|}}
          {{#each sectionData as |participantData subSection|}}
            <span class="flex-horizontal">
              <label class="section-subsection">{{section}}:{{subSection}} -- </label>
              <span class="roll-participant-name">{{participantData.rollParticipantName}}</span>
            </span>
          {{/each}}
        {{/each}}
      </div>

      <div class="roll-sheet-block rolling-block flex-vertical">
        <div class="roll-sheet-sub-block roll-header-block flex-horizontal">
          <label class="filled-label">Rolling:</label>
          <span class="shadowed roll-readonly tooltip-trigger">{{rollTraitData.name}}</span>
          <span class="tooltip tooltip-roll-trait tooltip-roll-trait-gm">{{{rollTraitData.gmTooltip}}}</span>
          <div class="roll-dotline-block">
          {{> "systems/eunos-blades/templates/components/dotline.hbs"
          data=rollTraitData
          isLocked=true
          iconFull="dot-full.svg"
          }}
          </div>
        </div>
        <div class="roll-sheet-sub-block roll-effects-block gm-effects-block flex-horizontal">
          {{#each posRollMods.roll }}
          {{#unless isInInactiveBlock}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" status=status sideString=sideString tooltip=tooltip selectOptions=selectOptions isGM=@root.isGM }}
          {{/unless}}
          {{/each}}
          <span class="roll-mod-block-spacer mid-spacer"></span>
          {{#each negRollMods.roll }}
          {{#unless isInInactiveBlock}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" status=status sideString=sideString tooltip=tooltip selectOptions=selectOptions isGM=@root.isGM }}
          {{/unless}}
          {{/each}}
        </div>
        {{#if hasInactiveConditionals.roll}}
        <div class="roll-sheet-sub-block roll-effects-block gm-effects-block inactive-mod-block flex-vertical">
          {{#each posRollMods.roll }}
          {{#if isInInactiveBlock}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" status=status sideString=sideString tooltip=tooltip selectOptions=selectOptions isGM=@root.isGM }}
          {{/if}}
          {{/each}}
          {{#each negRollMods.roll }}
          {{#if isInInactiveBlock}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" status=status sideString=sideString tooltip=tooltip selectOptions=selectOptions isGM=@root.isGM }}
          {{/if}}
          {{/each}}
        </div>
        {{/if}}
        <div class="roll-sheet-float-block rolling-dice-total-block">
          <span class="dice-total shadowed">{{diceTotal}}</span>
          <span class="d-symbol shadowed">d</span>
        </div>

      </div>
      <div class="roll-sheet-block position-block flex-vertical">
        <div class="roll-sheet-sub-block roll-header-block flex-horizontal">
          <label class="filled-label">Position:</label>
          <div class="roll-mod-controls-container position-controls-container">
            <span class="roll-mod-gm-control gm-control-position-desperate {{~#if (test rollPositionInitial "==" "desperate")}} gm-control-active{{/if}}" data-action="gm-set-position" data-status="desperate">X</span>
            <span class="roll-mod-gm-control gm-control-position-risky {{~#if (test rollPositionInitial "==" "risky")}} gm-control-active{{/if}}" data-action="gm-set-position" data-status="risky">X</span>
            <span class="roll-mod-gm-control gm-control-position-controlled {{~#if (test rollPositionInitial "==" "controlled")}} gm-control-active{{/if}}" data-action="gm-set-position" data-status="controlled">X</span>
          </div>
        </div>
        <div class="roll-sheet-sub-block roll-effects-block gm-effects-block flex-horizontal">
          {{#each posRollMods.position }}
          {{#unless isInInactiveBlock}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" status=status sideString=sideString tooltip=tooltip selectOptions=selectOptions isGM=@root.isGM }}
          {{/unless}}
          {{/each}}
          <span class="roll-mod-block-spacer mid-spacer"></span>
          {{#each negRollMods.position }}
          {{#unless isInInactiveBlock}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" status=status sideString=sideString tooltip=tooltip selectOptions=selectOptions isGM=@root.isGM }}
          {{/unless}}
          {{/each}}
        </div>
        {{#if hasInactiveConditionals.position}}
        <div class="roll-sheet-sub-block roll-effects-block gm-effects-block inactive-mod-block flex-vertical">
          {{#each posRollMods.position }}
          {{#if isInInactiveBlock}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" status=status sideString=sideString tooltip=tooltip selectOptions=selectOptions isGM=@root.isGM }}
          {{/if}}
          {{/each}}
          {{#each negRollMods.position }}
          {{#if isInInactiveBlock}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" status=status sideString=sideString tooltip=tooltip selectOptions=selectOptions isGM=@root.isGM }}
          {{/if}}
          {{/each}}
        </div>
        {{/if}}
        <div class="roll-sheet-float-block final-block position-final-block position-{{case "lower" rollPositionFinal}}">
          <span class="shadowed roll-readonly">{{rollPositionFinal}}</span>
        </div>
      </div>
      <div class="roll-sheet-block effect-block flex-vertical">
        <div class="roll-sheet-sub-block roll-header-block flex-horizontal">
          <label class="filled-label">Effect:</label>
          <div class="roll-mod-controls-container effect-controls-container">
            <span class="roll-mod-gm-control gm-control-effect-zero {{~#if (test rollEffectInitial "==" "zero")}} gm-control-active{{/if}}" data-action="gm-set-effect" data-status="zero">X</span>
            <span class="roll-mod-gm-control gm-control-effect-limited {{~#if (test rollEffectInitial "==" "limited")}} gm-control-active{{/if}}" data-action="gm-set-effect" data-status="limited">X</span>
            <span class="roll-mod-gm-control gm-control-effect-standard {{~#if (test rollEffectInitial "==" "standard")}} gm-control-active{{/if}}" data-action="gm-set-effect" data-status="standard">X</span>
            <span class="roll-mod-gm-control gm-control-effect-great {{~#if (test rollEffectInitial "==" "great")}} gm-control-active{{/if}}" data-action="gm-set-effect" data-status="great">X</span>
            <span class="roll-mod-gm-control gm-control-effect-extreme {{~#if (test rollEffectInitial "==" "extreme")}} gm-control-active{{/if}}" data-action="gm-set-effect" data-status="extreme">X</span>
          </div>
        </div>
        <div class="roll-sheet-sub-block roll-effects-block gm-effects-block flex-horizontal">
          {{#each posRollMods.effect }}
          {{#unless isInInactiveBlock}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" status=status sideString=sideString tooltip=tooltip selectOptions=selectOptions isGM=@root.isGM }}
          {{/unless}}
          {{/each}}
          <span class="roll-mod-block-spacer mid-spacer"></span>
          {{#each negRollMods.effect }}
          {{#unless isInInactiveBlock}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" status=status sideString=sideString tooltip=tooltip selectOptions=selectOptions isGM=@root.isGM }}
          {{/unless}}
          {{/each}}
        </div>
        {{#if hasInactiveConditionals.effect}}
        <div class="roll-sheet-sub-block roll-effects-block gm-effects-block inactive-mod-block flex-vertical">
          {{#each posRollMods.effect }}
          {{#if isInInactiveBlock}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" status=status sideString=sideString tooltip=tooltip selectOptions=selectOptions isGM=@root.isGM }}
          {{/if}}
          {{/each}}
          {{#each negRollMods.effect }}
          {{#if isInInactiveBlock}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" status=status sideString=sideString tooltip=tooltip selectOptions=selectOptions isGM=@root.isGM }}
          {{/if}}
          {{/each}}
        </div>
        {{/if}}
        <div class="roll-sheet-float-block final-block effect-final-block effect-{{case "lower" rollEffectFinal}}">
          <span class="shadowed roll-readonly">{{rollEffectFinal}}</span>
        </div>
      </div>
      <div class="roll-sheet-block result-block flex-vertical">
        <div class="roll-sheet-sub-block roll-header-block  flex-horizontal">
          <label class="filled-label">Result:</label>
        </div>
        <div class="roll-sheet-sub-block roll-effects-block gm-effects-block flex-horizontal">
          {{#each posRollMods.result }}
          {{#unless isInInactiveBlock}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" status=status sideString=sideString tooltip=tooltip selectOptions=selectOptions isGM=@root.isGM }}
          {{/unless}}
          {{/each}}
          <span class="roll-mod-block-spacer mid-spacer"></span>
          {{#each negRollMods.result }}
          {{#unless isInInactiveBlock}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" status=status sideString=sideString tooltip=tooltip selectOptions=selectOptions isGM=@root.isGM }}
          {{/unless}}
          {{/each}}
        </div>
        {{#if hasInactiveConditionals.result}}
        <div class="roll-sheet-sub-block roll-effects-block gm-effects-block inactive-mod-block flex-vertical">
          {{#each posRollMods.result }}
          {{#if isInInactiveBlock}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" status=status sideString=sideString tooltip=tooltip selectOptions=selectOptions isGM=@root.isGM }}
          {{/if}}
          {{/each}}
          {{#each negRollMods.result }}
          {{#if isInInactiveBlock}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" status=status sideString=sideString tooltip=tooltip selectOptions=selectOptions isGM=@root.isGM }}
          {{/if}}
          {{/each}}
        </div>
        {{/if}}
        <div class="roll-sheet-float-block final-block result-final-block result-{{#if (test rollResultFinal "<" 0)}}negative{{/if}}{{~#if (test rollResultFinal "==" 0)}}neutral{{/if}}{{~#if (test rollResultFinal ">" 0)}}positive{{/if}}">
          <span class="shadowed roll-readonly">{{signNum rollResultFinal}} Result Level</span>
        </div>
      </div>
    </section>
  </div>

  <div class="roll-sheet-float-block roll-opp-bg-img">
    {{#if rollOpposition}}<img src="{{rollOpposition.rollOppImg}}" />{{/if}}
  </div>
  <div class="roll-sheet-float-block roll-opp-bg-overlay">  </div>
  <div class="split-root-right" data-action='gm-drop-opposition'>
    <section class="sheet-main tab-content roll-opp-block nav-group flex-vertical">
      {{> "systems/eunos-blades/templates/components/roll-collab-opposition.hbs" rollOpposition=rollOpposition factorData=rollFactors.opposition}}
    </section>
    <section class="sheet-main tab-content roll-consequences flex-vertical full-width">
        <h2>Consequences</h2>
        {{#if consequenceData}}
        {{#with (lookup consequenceData rollPositionFinal) as |csqData|}}
        <h3 class="gold-bright">On Partial Success:</h3>
        <div class="consequence-container flex-vertical full-width">
        {{#each csqData.partial as |cData cIndex|}}
          {{#if cData.resistTo}}
          {{> "systems/eunos-blades/templates/components/consequence.hbs" cData
            isResistanceVisible=true }}
          {{/if}}
        {{/each}}
        </div>
        <h3 class="red-bright">On Failure:</h3>
        <div class="consequence-container flex-vertical full-width">
        {{#each csqData.fail as |cData cIndex|}}
          {{#if cData.resistTo}}
          {{> "systems/eunos-blades/templates/components/consequence.hbs" cData
            isResistanceVisible=true }}
          {{/if}}
        {{/each}}
        </div>
        {{/with}}
        {{/if}}
        {{> "systems/eunos-blades/templates/components/button-icon.hbs"
          blockClass="edit-consequence-button-container"
          action="gm-edit-consequences"
          buttonImg="systems/eunos-blades/assets/icons/consequence-icons/gm-csq-button.svg"
        }}
    </section>
    <section class="sheet-main flex-vertical factor-controls">

      {{> "systems/eunos-blades/templates/roll/partials/roll-collab-gm-factor-control.hbs" factor="tier"}}
      {{> "systems/eunos-blades/templates/roll/partials/roll-collab-gm-factor-control.hbs" factor="quality"}}
      {{> "systems/eunos-blades/templates/roll/partials/roll-collab-gm-factor-control.hbs" factor="scale"}}
      {{> "systems/eunos-blades/templates/roll/partials/roll-collab-gm-factor-control.hbs" factor="magnitude"}}

    </section>
  </div>
</div>

<section class="sheet-footer">
  <div class="roll-sheet-block">
  <div class="roll-sheet-float-block roll-sheet-sub-block roll-effects-block flex-horizontal">
    {{#each posRollMods.after }}
    {{#unless isInInactiveBlock}}
    {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" status=status sideString=sideString tooltip=tooltip selectOptions=selectOptions isGM=@root.isGM }}
    {{/unless}}
    {{/each}}
    <span class="roll-mod-block-spacer mid-spacer"></span>
    {{#each negRollMods.after }}
    {{#unless isInInactiveBlock}}
    {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" status=status sideString=sideString tooltip=tooltip selectOptions=selectOptions isGM=@root.isGM}}
    {{/unless}}
    {{/each}}
  </div>
  {{#if hasInactiveConditionals.after}}
  <div class="roll-sheet-sub-block roll-effects-block inactive-mod-block flex-horizontal">
    {{#each posRollMods.after }}
    {{#if isInInactiveBlock}}
    {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" status=status sideString=sideString tooltip=tooltip selectOptions=selectOptions isGM=@root.isGM }}
    {{/if}}
    {{/each}}
    {{#each negRollMods.after }}
    {{#if isInInactiveBlock}}
    {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" status=status sideString=sideString tooltip=tooltip selectOptions=selectOptions isGM=@root.isGM }}
    {{/if}}
    {{/each}}
  </div>
  {{/if}}
  </div>
  <div class="roll-sheet-float-block roll-button">
    <div class="roll-odds-strip">
      {{{oddsHTMLStart}}}{{{oddsHTMLStop}}}
      {{{oddsHTMLStart}}}{{{oddsHTMLStop}}}
      {{{oddsHTMLStart}}}{{{oddsHTMLStop}}}
      {{{oddsHTMLStart}}}{{{oddsHTMLStop}}}
      {{{oddsHTMLStart}}}{{{oddsHTMLStop}}}
    </div>
    <div class="roll-odds-label-container">
      <div class="input-target-cycler roll-phase-cycler" data-action="gm-cycle-target" data-flag-target="rollPhase" data-vals="Collaboration|AwaitingRoll" data-cur-val="{{rollPhase}}">
        {{#if (test rollPhase "==" "Collaboration")}}
          <i class="fa-duotone fa-messages"></i>
        {{else if (test rollPhase "==" "AwaitingRoll")}}
          <i class="fa-duotone fa-dice"></i>
        {{/if}}
      </div>
      <div class="roll-odds-label-text">
        {{#if (test rollPhase "==" "Collaboration")}}
          Click to Enable Roll
        {{else if (test rollPhase "==" "AwaitingRoll")}}
          Waiting for Roll
        {{/if}}
      </div>
    </div>
  </div>
  {{#if costData}}
  <div class="roll-sheet-float-block roll-stress-block {{~#if isGMReady}} gm-ready{{/if}} tooltip-trigger">
    <span class="shadowed roll-stress-cost">{{{costData.footerLabel}}}</span>
    <span class="tooltip tooltip-roll-stress">{{{costData.tooltip}}}</span>
  </div>
  {{/if}}
</section>