{{#with this as |data|}}
{{#with (calc (calc data.range "*" 2) "+" 1) as |spread|}}
{{#with (calc (calc -1 "*" data.origValue) "max" (calc -1 "*" data.range)) as |startNum|}}

<div class="roll-num-container flex-horizontal {{~#if tooltip}} tooltip-trigger{{/if}}" style="--spread-count: {{spread}};">
  {{#if data.label}}
  <label class="num-spread-label">{{data.label}}</label>
  {{/if}}
  <div class="roll-num-spread">
    {{#forloop (calc -1 "*" data.origValue) (calc (calc -1 "*" data.origValue) "+" (calc spread "-" 1))}}
      <div class="num-box {{~#if (test this "==" 0)}} origin-box{{/if}}" data-action="gm-set-target" data-dtype="number" data-target="flags.eunos-blades.rollCollab.{{data.target}}" data-value="{{this}}" {{~#if (test data.curValue "==" this)}} data-active="true"{{/if}}>
        {{calc this "+" data.origValue}}
      </div>
    {{/forloop}}
  </div>
</div>

{{/with}}
{{/with}}
{{/with}}
