<section class="sheet-topper roll-type roll-type-{{case "lower" rollType}}" data-roll-id="{{id}}">
  <div class="roll-type-header">{{rollType}} Roll</div>
</section>

<section class="sheet-header flex-horizontal">
  <span class="roll-prompt shadowed"
    data-action="gm-text-popup"
    data-prompt="What question will this Fortune Roll answer?"
    data-flag-target="rollCollab.rollPrompt">{{rollPrompt}}</span>
</section>

<section class="sheet-main flex-vertical">
  <div class="roll-sheet-block rolling-block flex-vertical">
    <div class="roll-sheet-sub-block roll-header-block flex-horizontal">

      <label class="filled-label">Rolling:</label>

      {{#if GMOverrides.rollTrait}}
      <span class="shadowed roll-readonly">{{GMOverrides.rollTrait}}</span>
      {{else if rollTraitOptions}}
      <select class="shadowed roll-sheet-select roll-sheet-select-trait" name="flags.eunos-blades.rollCollab.rollTrait">
        {{#select rollTrait}}
        {{#each rollTraitOptions}}
        <option value="{{value}}">{{name}}</option>
        {{/each}}
        {{/select}}
      </select>
      {{else if (test rollTraitData "&&" rollTraitData.name)}}
      <span class="shadowed roll-readonly">{{rollTraitData.name}}</span>
      {{/if}}

      <span class="gm-input-popup-icon"
        data-action="gm-text-popup"
        data-prompt="Enter name of Trait to display."
        data-flag-target="rollCollab.GMOverrides.rollTrait">
        <i class=""></i>
      </span>

      <div class="comp">
        <div class="comp-body roll-dotline-block">
      {{#if GMOverrides.rollTraitValue}}
        <div class="dotline locked">
        {{#for 1 GMOverrides.rollTraitValue}}
        <span class="dot full-dot"></span>
        {{/for}}
        </div>
      {{else if (test rollTraitData "&&" rollTraitData.value)}}
        {{> "systems/eunos-blades/templates/components/dotline.hbs"
        data=rollTraitData
        isLocked=true
        iconFull="dot-full.svg"
        }}
      {{/if}}
      </div>
      </div>

      <span class="gm-input-popup-icon"
        data-action="gm-text-popup"
        data-prompt="Enter value of displayed trait."
        data-flag-target="rollCollab.GMOverrides.rollTraitValue">
        <i class=""></i>
      </span>

      {{#if GMOverrides.rollPrimaryName}}
      <span class="shadowed source-name"><em>({{GMOverrides.rollPrimaryName}})</em></span>
      {{else if (test rollPrimary "&&" rollPrimary.rollPrimaryName)}}
      <span class="shadowed source-name source-name-type-{{rollPrimary.rollPrimaryType}}"><em>({{rollPrimary.rollPrimaryName}})</em></span>
      {{/if}}

      <span class="gm-input-popup-icon"
        data-action="gm-text-popup"
        data-prompt="Enter name of primary actor."
        data-flag-target="rollCollab.GMOverrides.rollPrimaryName">
        <i class=""></i>
      </span>

    </div>
    <div class="roll-sheet-sub-block roll-effects-block flex-horizontal">
      {{#each posRollMods.roll }}
      {{#unless (test isInInactiveBlock "||" (test "!" isVisible))}}
      {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
      {{/unless}}
      {{/each}}
      <span class="roll-mod-block-spacer mid-spacer"></span>
      {{#each negRollMods.roll }}
      {{#unless (test isInInactiveBlock "||" (test "!" isVisible))}}
      {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
      {{/unless}}
      {{/each}}
    </div>
    {{#if hasInactiveConditionals.roll}}
    <div class="roll-sheet-sub-block roll-effects-block inactive-mod-block flex-horizontal">
      {{#each posRollMods.roll }}
      {{#if (test isInInactiveBlock "&&" isVisible)}}
      {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
      {{/if}}
      {{/each}}
      {{#each negRollMods.roll }}
      {{#if (test isInInactiveBlock "&&" isVisible)}}
      {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
      {{/if}}
      {{/each}}
    </div>
    {{/if}}
  </div>



  {{#if isAffectingResult}}
  <div class="roll-sheet-block result-block flex-vertical">
    <div class="roll-sheet-sub-block roll-header-block  flex-horizontal">
      <label class="filled-label">Result:</label>
    </div>
    <div class="roll-sheet-sub-block roll-effects-block flex-horizontal">
      {{#each posRollMods.result }}
      {{#unless (test isInInactiveBlock "||" (test "!" isVisible))}}
      {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
      {{/unless}}
      {{/each}}
      <span class="roll-mod-block-spacer mid-spacer"></span>
      {{#each negRollMods.result }}
      {{#unless (test isInInactiveBlock "||" (test "!" isVisible))}}
      {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
      {{/unless}}
      {{/each}}
    </div>
    {{#if hasInactiveConditionals.result}}
    <div class="roll-sheet-sub-block roll-effects-block inactive-mod-block flex-horizontal">
      {{#each posRollMods.result }}
      {{#if (test isInInactiveBlock "&&" isVisible)}}
      {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
      {{/if}}
      {{/each}}
      {{#each negRollMods.result }}
      {{#if (test isInInactiveBlock "&&" isVisible)}}
      {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
      {{/if}}
      {{/each}}
    </div>
    {{/if}}
    <div class="roll-sheet-float-block final-block result-final-block result-{{#if (test rollResultDelta "<" 0)}}negative{{/if}}{{~#if (test rollResultDelta "==" 0)}}neutral{{/if}}{{~#if (test rollResultDelta ">" 0)}}positive{{/if}}">
      <span class="shadowed roll-readonly">{{signNum rollResultDelta}} Result Level</span>
    </div>
  </div>
  {{/if}}
</section>

<section class="sheet-footer">
  <div class="roll-sheet-block">
    {{#if isAffectingAfter}}
    <div class="roll-sheet-float-block roll-sheet-sub-block roll-effects-block flex-horizontal">
      {{#each posRollMods.after }}
      {{#unless (test isInInactiveBlock "||" (test "!" isVisible))}}
      {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
      {{/unless}}
      {{/each}}
      <span class="roll-mod-block-spacer mid-spacer"></span>
      {{#each negRollMods.after }}
      {{#unless (test isInInactiveBlock "||" (test "!" isVisible))}}
      {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
      {{/unless}}
      {{/each}}
    </div>
    {{#if hasInactiveConditionals.after}}
    <div class="roll-sheet-sub-block roll-effects-block inactive-mod-block flex-horizontal">
      {{#each posRollMods.after }}
      {{#if (test isInInactiveBlock "&&" isVisible)}}
      {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
      {{/if}}
      {{/each}}
      {{#each negRollMods.after }}
      {{#if (test isInInactiveBlock "&&" isVisible)}}
      {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
      {{/if}}
      {{/each}}
    </div>
    {{/if}}
    {{/if}}
  </div>
    <div class="roll-sheet-float-block roll-button">
      <div class="roll-odds-strip">
        {{{oddsHTMLStart}}}{{{oddsHTMLStop}}}
        {{{oddsHTMLStart}}}{{{oddsHTMLStop}}}
        {{{oddsHTMLStart}}}{{{oddsHTMLStop}}}
        {{{oddsHTMLStart}}}{{{oddsHTMLStop}}}
        {{{oddsHTMLStart}}}{{{oddsHTMLStop}}}
      </div>
      {{#if (test rollPhase "==" "Collaboration")}}
        <div class="roll-odds-label-container">
          <div class="roll-odds-label-text">Waiting For GM ...</div>
        </div>
      {{else if (test rollPhase "==" "AwaitingRoll")}}
        <button class="roll-button" data-action="roll" data-roll-id="{{id}}">ROLL</button>
      {{/if}}
    </div>

    {{#if (test totalStressCost "||" specArmorCost)}}
    <div class="roll-sheet-float-block roll-stress-block {{~#if isGMReady}} gm-ready{{/if}} tooltip-trigger">
      <span class="shadowed roll-stress-cost">
        ( Roll Costs&nbsp;
        {{#if totalStressCost}}<span class="red-bright"><strong>{{totalStressCost}} Stress</strong></span>{{/if}}
        {{#if (test totalStressCost "&&" specArmorCost)}}&nbsp;and&nbsp;{{/if}}
        {{#if specArmorCost}}your <span class="cyan-bright"><strong>Special Armor</strong></span>{{/if}}
        )
      </span>
      <span class="tooltip tooltip-roll-stress">
        <h1>Roll Costs</h1>
        <ul>
          {{#each stressCosts as |cost label|}}
          <li><strong class="shadowed">{{label}}: <span class="red-bright">{{cost}}</span> Stress</strong></li>
          {{/each}}
          {{#if specArmorCost}}
          <li><strong class="shadowed">{{specArmorCost}}: <strong class="cyan-bright">Special Armor</strong></strong></li>
        </ul>
      </span>
    </div>
    {{/if}}

</section>