<div class="split-root flex-horizontal">
  <div class="split-root-left">
    <section class="sheet-top roll-sheet-block">
      <h1 class="shadowed roll-type">{{rollType}} Roll: <span class="source-name source-type-{{source.type}}">{{rollSource.name}}</span></h1>
    </section>
    <section class="sheet-main tab-content nav-group flex-vertical">
      <div class="roll-sheet-block rolling-block flex-vertical">
        <div class="roll-sheet-sub-block roll-header-block flex-horizontal">
          <label class="filled-label">Rolling:</label>
          <span class="shadowed roll-readonly">{{rollTraitData.name}}</span>
          <div class="roll-dotline-block">
          {{> "systems/eunos-blades/templates/components/dotline.hbs"
          data=rollTraitData
          isLocked=true
          iconFull="dot-full.svg"
          }}
          </div>
        </div>
        <div class="roll-sheet-sub-block roll-effects-block flex-horizontal">
          {{#each rollMods.roll.positive }}
          {{#unless (test mod_data.isConditional "&&" (test (test mod_data.status "==" "ForcedOff") "||" (test mod_data.status "==" "ToggledOff")))}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
          {{/unless}}
          {{/each}}
          <span class="roll-mod-block-spacer mid-spacer"></span>
          {{#each rollMods.roll.negative }}
          {{#unless (test mod_data.isConditional "&&" (test (test mod_data.status "==" "ForcedOff") "||" (test mod_data.status "==" "ToggledOff")))}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
          {{/unless}}
          {{/each}}
        </div>
        {{#if hasInactiveConditionals.roll}}
        <div class="roll-sheet-sub-block roll-effects-block inactive-mod-block flex-horizontal">
          {{#each rollMods.roll.positive }}
          {{#if (test mod_data.isConditional "&&" (test (test mod_data.status "==" "ForcedOff") "||" (test mod_data.status "==" "ToggledOff")))}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
          {{/if}}
          {{/each}}
          {{#each rollMods.roll.negative }}
          {{#if (test mod_data.isConditional "&&" (test (test mod_data.status "==" "ForcedOff") "||" (test mod_data.status "==" "ToggledOff")))}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
          {{/if}}
          {{/each}}
        </div>
        {{/if}}
        <div class="roll-sheet-float-block rolling-dice-total-block">
          <span class="dice-total shadowed">{{diceTotal}}</span>
          <span class="d-symbol shadowed">d</span>
        </div>

      </div>
      <div class="roll-sheet-block position-block flex-vertical">
        <div class="roll-sheet-sub-block roll-header-block flex-horizontal">
          <label class="filled-label">Position:</label>
          <select class="shadowed roll-sheet-select roll-sheet-select-position" name="flags.eunos-blades.rollCollab.rollPositionInitial">
            {{#select rollPositionInitial}}
            {{#each rollPositions}}
            <option value="{{this}}">{{case "upper" this}}</option>
            {{/each}}
            {{/select}}
          </select>
        </div>
        <div class="roll-sheet-sub-block roll-effects-block flex-horizontal">
          {{#each rollMods.position.positive }}
          {{#unless (test mod_data.isConditional "&&" (test (test mod_data.status "==" "ForcedOff") "||" (test mod_data.status "==" "ToggledOff")))}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
          {{/unless}}
          {{/each}}
          <span class="roll-mod-block-spacer mid-spacer"></span>
          {{#each rollMods.position.negative }}
          {{#unless (test mod_data.isConditional "&&" (test (test mod_data.status "==" "ForcedOff") "||" (test mod_data.status "==" "ToggledOff")))}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
          {{/unless}}
          {{/each}}
        </div>
        {{#if hasInactiveConditionals.position}}
        <div class="roll-sheet-sub-block roll-effects-block inactive-mod-block flex-horizontal">
          {{#each rollMods.position.positive }}
          {{#if (test mod_data.isConditional "&&" (test (test mod_data.status "==" "ForcedOff") "||" (test mod_data.status "==" "ToggledOff")))}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
          {{/if}}
          {{/each}}
          {{#each rollMods.position.negative }}
          {{#if (test mod_data.isConditional "&&" (test (test mod_data.status "==" "ForcedOff") "||" (test mod_data.status "==" "ToggledOff")))}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
          {{/if}}
          {{/each}}
        </div>
        {{/if}}
        <div class="roll-sheet-float-block final-block position-final-block position-{{case "lower" rollPositionFinal}}">
          <span class="shadowed roll-readonly">{{rollPositionFinal}}</span>
        </div>
      </div>
      <div class="roll-sheet-block effect-block flex-vertical">
        <div class="roll-sheet-sub-block roll-header-block flex-horizontal">
          <label class="filled-label">Effect:</label>
          <select class="shadowed roll-sheet-select roll-sheet-select-effect" name="flags.eunos-blades.rollCollab.rollEffectInitial">
            {{#select rollEffectInitial}}
            {{#each rollEffects}}
            <option value="{{this}}">{{case "upper" this}}</option>
            {{/each}}
            {{/select}}
          </select>
        </div>
        <div class="roll-sheet-sub-block roll-effects-block flex-horizontal">
          {{#each rollMods.effect.positive }}
          {{#unless (test mod_data.isConditional "&&" (test (test mod_data.status "==" "ForcedOff") "||" (test mod_data.status "==" "ToggledOff")))}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
          {{/unless}}
          {{/each}}
          <span class="roll-mod-block-spacer mid-spacer"></span>
          {{#each rollMods.effect.negative }}
          {{#unless (test mod_data.isConditional "&&" (test (test mod_data.status "==" "ForcedOff") "||" (test mod_data.status "==" "ToggledOff")))}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
          {{/unless}}
          {{/each}}
        </div>
        {{#if hasInactiveConditionals.effect}}
        <div class="roll-sheet-sub-block roll-effects-block inactive-mod-block flex-horizontal">
          {{#each rollMods.effect.positive }}
          {{#if (test mod_data.isConditional "&&" (test (test mod_data.status "==" "ForcedOff") "||" (test mod_data.status "==" "ToggledOff")))}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
          {{/if}}
          {{/each}}
          {{#each rollMods.effect.negative }}
          {{#if (test mod_data.isConditional "&&" (test (test mod_data.status "==" "ForcedOff") "||" (test mod_data.status "==" "ToggledOff")))}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
          {{/if}}
          {{/each}}
        </div>
        {{/if}}
        <div class="roll-sheet-float-block final-block effect-final-block effect-{{case "lower" rollEffectFinal}}">
          <span class="shadowed roll-readonly">{{rollEffectFinal}}</span>
        </div>
      </div>
      {{#if isAffectingResult}}
      <div class="roll-sheet-block result-block flex-vertical">
        <div class="roll-sheet-sub-block roll-header-block  flex-horizontal">
          <label class="filled-label">Result:</label>
        </div>
        <div class="roll-sheet-sub-block roll-effects-block flex-horizontal">
          {{#each rollMods.result.positive }}
          {{#unless (test mod_data.isConditional "&&" (test (test mod_data.status "==" "ForcedOff") "||" (test mod_data.status "==" "ToggledOff")))}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
          {{/unless}}
          {{/each}}
          <span class="roll-mod-block-spacer mid-spacer"></span>
          {{#each rollMods.result.negative }}
          {{#unless (test mod_data.isConditional "&&" (test (test mod_data.status "==" "ForcedOff") "||" (test mod_data.status "==" "ToggledOff")))}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
          {{/unless}}
          {{/each}}
        </div>
        {{#if hasInactiveConditionals.result}}
        <div class="roll-sheet-sub-block roll-effects-block inactive-mod-block flex-horizontal">
          {{#each rollMods.result.positive }}
          {{#if (test mod_data.isConditional "&&" (test (test mod_data.status "==" "ForcedOff") "||" (test mod_data.status "==" "ToggledOff")))}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
          {{/if}}
          {{/each}}
          {{#each rollMods.result.negative }}
          {{#if (test mod_data.isConditional "&&" (test (test mod_data.status "==" "ForcedOff") "||" (test mod_data.status "==" "ToggledOff")))}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
          {{/if}}
          {{/each}}
        </div>
        {{/if}}
        <div class="roll-sheet-float-block final-block result-final-block result-{{#if (test rollResultFinal "<" 0)}}negative{{/if}}{{~#if (test rollResultFinal "==" 0)}}neutral{{/if}}{{~#if (test rollResultFinal ">" 0)}}positive{{/if}}">
          <span class="shadowed roll-readonly">{{signNum rollResultFinal}} Result Level</span>
        </div>
      </div>
      {{/if}}
    </section>
  </div>
  <div class="split-root-right">
    <section class="sheet-top">
      <div class="roll-sheet-block factors-block flex-vertical">
        {{#each rollFactorData}}
        <div class="roll-factor flex-horizontal">
          <label class="shadowed roll-factor-label">{{name}}</label>
          <span class="shadowed roll-factor-value {{cssClasses}}">{{value}}</span>
        </div>
        {{/each}}
        <label class="shadowed roll-factor-vs">vs.</label>
      </div>
    </section>
    <section class="sheet-main tab-content nav-group flex-vertical">
      {{#if rollOpposition}}
      {{> "systems/eunos-blades/templates/components/roll-collab-opposition.hbs" rollOpposition}}
      {{/if}}
    </section>
  </div>
</div>
<section class="sheet-footer">
  <div class="roll-sheet-float-block roll-button">
    <div class="roll-odds-strip" style="background: {{{oddsGradient}}};">
      {{#unless isGMReady}}Waiting For GM ...{{/unless}}
    </div>
    {{#if isGMReady}}
    <button class="roll-button" data-action="roll" data-roll-id="{{rollID}}">ROLL</button>
    {{/if}}
  </div>
  {{#if stressData}}
  <div class="roll-sheet-float-block roll-stress-block {{~#if isGMReady}} gm-ready{{/if}} tooltip-trigger">
    <span class="shadowed roll-stress-cost">(Roll Costs {{stressData.cost}} Stress)</span>
    <span class="tooltip tooltip-roll-stress">{{{stressData.tooltip}}}</span>
  </div>
  {{/if}}
</section>