<div class="split-root flex-horizontal">
  <div class="split-root-left">
    <section class="sheet-top roll-sheet-block">
      <h1 class="shadowed roll-type">{{rollType}} Roll: <span class="source-name source-type-{{source.type}}">{{rollSource.name}}</span></h1>
    </section>
    <section class="sheet-main tab-content nav-group flex-vertical">
      <div class="roll-sheet-block rolling-block flex-vertical">
        <div class="roll-sheet-sub-block roll-header-block flex-horizontal">
          <label class="filled-label">Rolling:</label>
          {{#if rollTraitOptions}}
          <select class="shadowed roll-sheet-select roll-sheet-select-trait" name="flags.eunos-blades.rollCollab.rollTrait">
            {{#select rollTrait}}
            {{#each rollTraitOptions}}
            <option value="{{value}}">{{name}}</option>
            {{/each}}
            {{/select}}
          </select>
          {{else}}
          <span class="shadowed roll-readonly">{{rollTraitData.name}}</span>
          {{/if}}
          <div class="roll-dotline-block">
          {{> "systems/eunos-blades/templates/components/dotline.hbs"
          data=rollTraitData
          isLocked=true
          iconFull="dot-full.svg"
          }}
          </div>
        </div>
        <div class="roll-sheet-sub-block roll-effects-block pos-effects-block flex-horizontal">
          {{#each rollMods.roll.positive as |mod_data mod_name|}}
          {{#unless (test mod_data.isConditional "&&" (test (test mod_data.status "==" "ForcedOff") "||" (test mod_data.status "==" "ToggledOff")))}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs"
            name=mod_name
            data=mod_data
            type="roll"
            cat="positive" }}
          {{/unless}}
          {{/each}}
        </div>
        <div class="roll-sheet-sub-block roll-effects-block neg-effects-block flex-horizontal">
          {{#each rollMods.roll.negative as |mod_data mod_name|}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs"
            name=mod_name
            data=mod_data
            type="roll"
            cat="negative" }}
          {{/each}}
        </div>
        {{#if hasInactiveConditionals.roll}}
        <div class="roll-sheet-sub-block roll-effects-block inactive-mod-block flex-horizontal">
          {{#each rollMods.roll.positive as |mod_data mod_name|}}
          {{#if (test mod_data.isConditional "&&" (test (test mod_data.status "==" "ForcedOff") "||" (test mod_data.status "==" "ToggledOff")))}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs"
            name=mod_name
            data=mod_data
            type="roll"
            cat="positive" }}
          {{/if}}
          {{/each}}
        </div>
        {{/if}}
        <div class="roll-sheet-float-block rolling-dice-total-block">
          <span class="dice-total shadowed">{{diceTotal}}</span>
          <span class="d-symbol shadowed">d</span>
        </div>

      </div>
      <div class="roll-sheet-block position-block flex-vertical">
        <div class="roll-sheet-sub-block roll-header-block flex-horizontal">
          <label class="filled-label">Position:</label>
          <span class="roll-readonly">{{rollPositionInitial}}</span>
        </div>
        <div class="roll-sheet-sub-block roll-effects-block pos-effects-block flex-horizontal">
          {{#each rollMods.position.positive as |mod_data mod_name|}}
          {{#unless (test mod_data.isConditional "&&" (test (test mod_data.status "==" "ForcedOff") "||" (test mod_data.status "==" "ToggledOff")))}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs"
            name=mod_name
            data=mod_data
            type="position"
            cat="positive" }}
          {{/unless}}
          {{/each}}
        </div>
        <div class="roll-sheet-sub-block roll-effects-block neg-effects-block flex-horizontal">
          {{#each rollMods.position.negative as |mod_data mod_name|}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs"
            name=mod_name
            data=mod_data
            type="position"
            cat="negative" }}
          {{/each}}
        </div>
        {{#if hasInactiveConditionals.position}}
        <div class="roll-sheet-sub-block roll-effects-block inactive-mod-block flex-horizontal">
          {{#each rollMods.position.positive as |mod_data mod_name|}}
          {{#if (test mod_data.isConditional "&&" (test (test mod_data.status "==" "ForcedOff") "||" (test mod_data.status "==" "ToggledOff")))}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs"
            name=mod_name
            data=mod_data
            type="position"
            cat="positive" }}
          {{/if}}
          {{/each}}
        </div>
        {{/if}}
        <div class="roll-sheet-float-block final-block position-final-block position-{{case "lower" rollPositionFinal}}">
          <span class="shadowed roll-readonly">{{rollPositionFinal}}</span>
        </div>
      </div>
      <div class="roll-sheet-block effect-block flex-vertical">
        <div class="roll-sheet-sub-block roll-header-block flex-horizontal">
          <label class="filled-label">Effect:</label>
          <span class="roll-readonly">{{rollEffectInitial}}</span>
        </div>
        <div class="roll-sheet-sub-block roll-effects-block pos-effects-block flex-horizontal">
          {{#each rollMods.effect.positive as |mod_data mod_name|}}
          {{#unless (test mod_data.isConditional "&&" (test (test mod_data.status "==" "ForcedOff") "||" (test mod_data.status "==" "ToggledOff")))}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs"
            name=mod_name
            data=mod_data
            type="effect"
            cat="positive" }}
          {{/unless}}
          {{/each}}
        </div>
        <div class="roll-sheet-sub-block roll-effects-block neg-effects-block flex-horizontal">
          {{#each rollMods.effect.negative as |mod_data mod_name|}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs"
            name=mod_name
            data=mod_data
            type="effect"
            cat="negative" }}
          {{/each}}
        </div>
        {{#if hasInactiveConditionals.effect}}
        <div class="roll-sheet-sub-block roll-effects-block inactive-mod-block flex-horizontal">
          {{#each rollMods.effect.positive as |mod_data mod_name|}}
          {{#if (test mod_data.isConditional "&&" (test (test mod_data.status "==" "ForcedOff") "||" (test mod_data.status "==" "ToggledOff")))}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs"
            name=mod_name
            data=mod_data
            type="effect"
            cat="positive" }}
          {{/if}}
          {{/each}}
        </div>
        {{/if}}
        <div class="roll-sheet-float-block pos-effect-trade-block flex-vertical tooltip-trigger" data-action="trade" data-value="{{rollPosEffectTrade}}">
          <i class="fa-solid fa-triangle icon-1"></i>
          <i class="fa-solid fa-triangle icon-2"></i>
          <i class="fa-solid fa-triangle icon-3"></i>
          <i class="fa-solid fa-triangle icon-4"></i>
          <i class="fa-solid fa-triangle icon-5"></i>
        </div>
        <div class="tooltip tooltip-small tooltip-left tooltip-pos-effect-trade">
          <p><strong class="inline-code">Left-Click</strong> to <strong>increase</strong> <strong class='gold-bright'>Position</strong> at the cost of <strong class='red-bright'>Effect</strong>.
          <br><strong class="inline-code">Right-Click</strong> to <strong>increase</strong> <strong class='gold-bright'>Effect</strong> at the cost of <strong class='red-bright'>Position</strong>.
          <br>Click again to reset.</p>
        </div>
        <div class="roll-sheet-float-block final-block effect-final-block effect-{{case "lower" rollEffectFinal}}">
          <span class="shadowed roll-readonly">{{rollEffectFinal}}</span>
        </div>
      </div>
      {{#if isAffectingResult}}
      <div class="roll-sheet-block result-block flex-vertical">
        <div class="roll-sheet-sub-block roll-header-block  flex-horizontal">
          <label class="filled-label">Result:</label>
        </div>
        <div class="roll-sheet-sub-block roll-effects-block pos-effects-block flex-horizontal">
          {{#each rollMods.result.positive as |mod_data mod_name|}}
          {{#unless (test mod_data.isConditional "&&" (test (test mod_data.status "==" "ForcedOff") "||" (test mod_data.status "==" "ToggledOff")))}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs"
            name=mod_name
            data=mod_data
            type="result"
            cat="positive" }}
          {{/unless}}
          {{/each}}
        </div>
        <div class="roll-sheet-sub-block roll-effects-block neg-effects-block flex-horizontal">
          {{#each rollMods.result.negative as |mod_data mod_name|}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs"
            name=mod_name
            data=mod_data
            type="result"
            cat="negative" }}
          {{/each}}
        </div>
        {{#if hasInactiveConditionals.result}}
        <div class="roll-sheet-sub-block roll-effects-block inactive-mod-block flex-horizontal">
          {{#each rollMods.result.positive as |mod_data mod_name|}}
          {{#if (test mod_data.isConditional "&&" (test (test mod_data.status "==" "ForcedOff") "||" (test mod_data.status "==" "ToggledOff")))}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs"
            name=mod_name
            data=mod_data
            type="result"
            cat="positive" }}
          {{/if}}
          {{/each}}
        </div>
        {{/if}}
        <div class="roll-sheet-float-block final-block result-final-block result-{{#if (test rollResultFinal "<" 0)}}negative{{/if}}{{~#if (test rollResultFinal "==" 0)}}neutral{{/if}}{{~#if (test rollResultFinal ">" 0)}}positive{{/if}}">
          <span class="shadowed roll-readonly">{{signNum rollResultFinal}} Result Level</span>
        </div>
      </div>
      {{/if}}
    </section>
  </div>
  <div class="split-root-right">
    <section class="sheet-top">
      <div class="roll-sheet-block factors-block flex-vertical">
        {{#each rollFactorData}}
        <div class="roll-factor flex-horizontal">
          <label class="shadowed roll-factor-label">{{name}}</label>
          <span class="shadowed roll-factor-value {{cssClasses}}">{{value}}</span>
        </div>
        {{/each}}
        <label class="shadowed roll-factor-vs">vs.</label>
      </div>
    </section>
    <section class="sheet-main tab-content nav-group flex-vertical">
      <div class="roll-opp-block">
        <div class="roll-opp-num-container" style="--spread-count: 7; --spread-size: 30px;">
          <div class="roll-op-num-spread">
            <div>0</div>
            <div>1</div>
            <div>2</div>
            <div class="origin-box">3</div>
            <div>4</div>
            <div data-active="true">5</div>
            <div>6</div>
          </div>
          <div class="roll-op-num-spread">
            <div>0</div>
            <div data-active="true">1</div>
            <div>2</div>
            <div class="origin-box">3</div>
            <div>4</div>
            <div>5</div>
            <div>6</div>
          </div>
        </div>
      </div>
      {{#if rollOpposition}}
      {{> "systems/eunos-blades/templates/components/roll-collab-opposition.hbs" rollOpposition}}
      {{/if}}
    </section>
  </div>
</div>
<section class="sheet-footer">
  <div class="roll-sheet-float-block roll-button">
    <div class="roll-odds-strip" style="background: {{{oddsGradient}}};">
      {{#unless isGMReady}}Waiting For GM ...{{/unless}}
    </div>
    {{#if isGMReady}}
    <button class="roll-button" data-action="roll" data-roll-id="{{rollID}}">ROLL</button>
    {{/if}}
  </div>
  {{#if stressData}}
  <div class="roll-sheet-float-block roll-stress-block {{~#if isGMReady}} gm-ready{{/if}} tooltip-trigger">
    <span class="shadowed roll-stress-cost">(Roll Costs {{stressData.cost}} Stress)</span>
    <span class="tooltip tooltip-roll-stress">{{{stressData.tooltip}}}</span>
  </div>
  {{/if}}
</section>