<div class="roll-doc-select-container {{~#if tooltip}} tooltip-trigger{{/if}}">
  {{#if label}}
  <label class="doc-select-label">{{label}}</label>
  {{/if}}
  <div class="roll-doc-select">
    <select class="shadowed roll-sheet-select roll-sheet-doc-select" name="flags.eunos-blades.rollCollab.docSelections.{{docCategory}}.{{docTarget}}">
      {{#select (lookup (concat "flags.eunos-blades.rollCollab.docSelections." docCategory "." docTarget))}}
      {{#each docs}}
      <option value="{{id}}">{{name}}</option>
      {{/each}}
      {{/select}}
    </select>
  </div>
</div>

<!--
  tooltip?: string
  label?: string

  docs: BladesActor[]|BladesItem[]
  docCategory: "roll"
  docTarget: "Assist"
-->