<div class="split-root flex-horizontal">
  <div class="split-root-left">
    <section class="sheet-top roll-sheet-block">
      <h1 class="shadowed roll-type">{{rollType}} Roll: <span class="source-name source-type-{{source.type}}">{{rollSource.name}}</span></h1>
    </section>
    <section class="sheet-main tab-content nav-group flex-vertical">
      <div class="roll-sheet-block rolling-block flex-vertical">
        <div class="roll-sheet-sub-block roll-header-block flex-horizontal">
          <label class="filled-label">Rolling:</label>
          {{#if rollTraitOptions}}
          <select class="shadowed roll-sheet-select roll-sheet-select-trait" name="flags.eunos-blades.rollCollab.rollTrait">
            {{#select rollTrait}}
            {{#each rollTraitOptions}}
            <option value="{{value}}">{{name}}</option>
            {{/each}}
            {{/select}}
          </select>
          {{else}}
          <span class="shadowed roll-readonly">{{rollTraitData.name}}</span>
          {{/if}}
          <div class="roll-dotline-block">
          {{> "systems/eunos-blades/templates/components/dotline.hbs"
          data=rollTraitData
          isLocked=true
          iconFull="dot-full.svg"
          }}
          </div>
        </div>
        <div class="roll-sheet-sub-block roll-effects-block flex-horizontal">
          {{#each posRollMods.roll }}
          {{#unless (test (test (test status "==" "Hidden") "&&" (test "!" ../isGM)) "||" (test isConditional "&&" (test status "==" "ToggledOff")))}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
          {{/unless}}
          {{/each}}
          <span class="roll-mod-block-spacer mid-spacer"></span>
          {{#each negRollMods.roll }}
          {{#unless (test (test (test status "==" "Hidden") "&&" (test "!" ../isGM)) "||" (test isConditional "&&" (test status "==" "ToggledOff")))}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
          {{/unless}}
          {{/each}}
        </div>
        {{#if hasInactiveConditionals.roll}}
        <div class="roll-sheet-sub-block roll-effects-block inactive-mod-block flex-horizontal">
          {{#each posRollMods.roll }}
          {{#if (test (test (test status "!=" "Hidden") "||" (test "!" ../isGM)) "&&" (test isConditional "&&" (test status "==" "ToggledOff")))}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
          {{/if}}
          {{/each}}
          {{#each negRollMods.roll }}
          {{#if (test (test (test status "!=" "Hidden") "||" (test "!" ../isGM)) "&&" (test isConditional "&&" (test status "==" "ToggledOff")))}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
          {{/if}}
          {{/each}}
        </div>
        {{/if}}
        <div class="roll-sheet-float-block rolling-dice-total-block">
          <span class="dice-total shadowed">{{diceTotal}}</span>
          <span class="d-symbol shadowed">d</span>
        </div>

      </div>
      <div class="roll-sheet-block position-block flex-vertical">
        <div class="roll-sheet-sub-block roll-header-block flex-horizontal">
          <label class="filled-label">Position:</label>
          {{#unless (test rollPositionInitial "==" rollPositionFinal)}}
          <span class="roll-readonly">{{rollPositionInitial}} →</span>
          {{/unless}}
        </div>
        <div class="roll-sheet-sub-block roll-effects-block flex-horizontal">
          {{#each posRollMods.position }}
          {{#unless (test (test (test status "==" "Hidden") "&&" (test "!" ../isGM)) "||" (test isConditional "&&" (test status "==" "ToggledOff")))}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
          {{/unless}}
          {{/each}}
          <span class="roll-mod-block-spacer mid-spacer"></span>
          {{#each negRollMods.position }}
          {{#unless (test (test (test status "==" "Hidden") "&&" (test "!" ../isGM)) "||" (test isConditional "&&" (test status "==" "ToggledOff")))}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
          {{/unless}}
          {{/each}}
        </div>
        {{#if hasInactiveConditionals.position}}
        <div class="roll-sheet-sub-block roll-effects-block inactive-mod-block flex-horizontal">
          {{#each posRollMods.position }}
          {{#if (test (test (test status "!=" "Hidden") "||" (test "!" ../isGM)) "&&" (test isConditional "&&" (test status "==" "ToggledOff")))}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
          {{/if}}
          {{/each}}
          {{#each negRollMods.position }}
          {{#if (test (test (test status "!=" "Hidden") "||" (test "!" ../isGM)) "&&" (test isConditional "&&" (test status "==" "ToggledOff")))}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
          {{/if}}
          {{/each}}
        </div>
        {{/if}}
        <div class="roll-sheet-float-block final-block position-final-block position-{{case "lower" rollPositionFinal}}">
          <span class="shadowed roll-readonly">{{rollPositionFinal}}</span>
          {{#if canTradePosition}}
          <div class="pos-effect-trade-block tooltip-trigger" data-action="tradePosition" data-value="{{rollPosEffectTrade}}">
            <i class="fa-sharp {{#if rollPosEffectTrade}}fa-light{{else}}fa-solid{{/if}} fa-triangle fa-flip-vertical"></i>
          </div>
          <div class="tooltip tooltip-small tooltip-left tooltip-pos-effect-trade">
            <h1>Trading Position for Effect</h1>
            <p><strong>Increase</strong> <strong class='gold-bright'>Effect</strong> at the cost of <strong class='red-bright'>Position</strong>.</p>
          </div>
          {{/if}}
        </div>
      </div>
      <div class="roll-sheet-block effect-block flex-vertical">
        <div class="roll-sheet-sub-block roll-header-block flex-horizontal">
          <label class="filled-label">Effect:</label>
          {{#unless (test rollEffectInitial "==" rollEffectFinal)}}
          <span class="roll-readonly">{{rollEffectInitial}} →</span>
          {{/unless}}
        </div>
        <div class="roll-sheet-sub-block roll-effects-block flex-horizontal">
          {{#each posRollMods.effect }}
          {{#unless (test (test (test status "==" "Hidden") "&&" (test "!" ../isGM)) "||" (test isConditional "&&" (test status "==" "ToggledOff")))}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
          {{/unless}}
          {{/each}}
          <span class="roll-mod-block-spacer mid-spacer"></span>
          {{#each negRollMods.effect }}
          {{#unless (test (test (test status "==" "Hidden") "&&" (test "!" ../isGM)) "||" (test isConditional "&&" (test status "==" "ToggledOff")))}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
          {{/unless}}
          {{/each}}
        </div>
        {{#if hasInactiveConditionals.effect}}
        <div class="roll-sheet-sub-block roll-effects-block inactive-mod-block flex-horizontal">
          {{#each posRollMods.effect }}
          {{#if (test (test (test status "!=" "Hidden") "||" (test "!" ../isGM)) "&&" (test isConditional "&&" (test status "==" "ToggledOff")))}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
          {{/if}}
          {{/each}}
          {{#each negRollMods.effect }}
          {{#if (test (test (test status "!=" "Hidden") "||" (test "!" ../isGM)) "&&" (test isConditional "&&" (test status "==" "ToggledOff")))}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
          {{/if}}
          {{/each}}
        </div>
        {{/if}}
        <div class="roll-sheet-float-block final-block effect-final-block effect-{{case "lower" rollEffectFinal}}">
          <span class="shadowed roll-readonly">{{rollEffectFinal}}</span>
          {{#if canTradeEffect}}
          <div class="pos-effect-trade-block tooltip-trigger" data-action="tradeEffect" data-value="{{rollPosEffectTrade}}">
            <i class="fa-sharp {{#if rollPosEffectTrade}}fa-light{{else}}fa-solid{{/if}} fa-triangle"></i>
          </div>
          <div class="tooltip tooltip-small tooltip-left tooltip-pos-effect-trade">
            <h1>Trading Effect for Position</h1>
            <p><strong>Increase</strong> <strong class='gold-bright'>Position</strong> at the cost of <strong class='red-bright'>Effect</strong>.</p>
          </div>
          {{/if}}
        </div>
      </div>
      {{#if isAffectingResult}}
      <div class="roll-sheet-block result-block flex-vertical">
        <div class="roll-sheet-sub-block roll-header-block  flex-horizontal">
          <label class="filled-label">Result:</label>
        </div>
        <div class="roll-sheet-sub-block roll-effects-block flex-horizontal">
          {{#each posRollMods.result }}
          {{#unless (test (test (test status "==" "Hidden") "&&" (test "!" ../isGM)) "||" (test isConditional "&&" (test status "==" "ToggledOff")))}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
          {{/unless}}
          {{/each}}
          <span class="roll-mod-block-spacer mid-spacer"></span>
          {{#each negRollMods.result }}
          {{#unless (test (test (test status "==" "Hidden") "&&" (test "!" ../isGM)) "||" (test isConditional "&&" (test status "==" "ToggledOff")))}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
          {{/unless}}
          {{/each}}
        </div>
        {{#if hasInactiveConditionals.result}}
        <div class="roll-sheet-sub-block roll-effects-block inactive-mod-block flex-horizontal">
          {{#each posRollMods.result }}
          {{#if (test (test (test status "!=" "Hidden") "||" (test "!" ../isGM)) "&&" (test isConditional "&&" (test status "==" "ToggledOff")))}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
          {{/if}}
          {{/each}}
          {{#each negRollMods.result }}
          {{#if (test (test (test status "!=" "Hidden") "||" (test "!" ../isGM)) "&&" (test isConditional "&&" (test status "==" "ToggledOff")))}}
          {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
          {{/if}}
          {{/each}}
        </div>
        {{/if}}
        <div class="roll-sheet-float-block final-block result-final-block result-{{#if (test rollResultFinal "<" 0)}}negative{{/if}}{{~#if (test rollResultFinal "==" 0)}}neutral{{/if}}{{~#if (test rollResultFinal ">" 0)}}positive{{/if}}">
          <span class="shadowed roll-readonly">{{signNum rollResultFinal}} Result Level</span>
        </div>
      </div>
      {{/if}}
    </section>
  </div>
  <div class="split-root-right">
    <section class="sheet-top">
      <div class="roll-sheet-block factors-block flex-vertical">
        {{#each rollFactorData}}
        <div class="roll-factor flex-horizontal">
          <label class="shadowed roll-factor-label">{{name}}</label>
          <span class="shadowed roll-factor-value {{cssClasses}}">{{value}}</span>
        </div>
        {{/each}}
        <label class="shadowed roll-factor-vs">vs.</label>
      </div>
    </section>
    <section class="sheet-main tab-content nav-group flex-vertical">
      {{#if rollOpposition}}
      {{> "systems/eunos-blades/templates/components/roll-collab-opposition.hbs" rollOpposition}}
      {{/if}}
    </section>
  </div>
</div>
<section class="sheet-footer">
  {{#if isAffectingAfter}}
  <div class="roll-sheet-float-block roll-effects-block flex-horizontal">
    {{#each posRollMods.after }}
    {{#unless (test (test (test status "==" "Hidden") "&&" (test "!" ../isGM)) "||" (test isConditional "&&" (test status "==" "ToggledOff")))}}
    {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
    {{/unless}}
    {{/each}}
    <span class="roll-mod-block-spacer mid-spacer"></span>
    {{#each negRollMods.after }}
    {{#unless (test (test (test status "==" "Hidden") "&&" (test "!" ../isGM)) "||" (test isConditional "&&" (test status "==" "ToggledOff")))}}
    {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
    {{/unless}}
    {{/each}}
  </div>
  {{#if hasInactiveConditionals.after}}
  <div class="roll-sheet-sub-block roll-effects-block inactive-mod-block flex-horizontal">
    {{#each posRollMods.after }}
    {{#if (test (test (test status "!=" "Hidden") "||" (test "!" ../isGM)) "&&" (test isConditional "&&" (test status "==" "ToggledOff")))}}
    {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
    {{/if}}
    {{/each}}
    {{#each negRollMods.after }}
    {{#if (test (test (test status "!=" "Hidden") "||" (test "!" ../isGM)) "&&" (test isConditional "&&" (test status "==" "ToggledOff")))}}
    {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs" }}
    {{/if}}
    {{/each}}
  </div>
  {{/if}}
  {{/if}}
  <div class="roll-sheet-float-block roll-button">
    <div class="roll-odds-strip" style="background: {{{oddsGradient}}};">
      {{#unless isGMReady}}Waiting For GM ...{{/unless}}
    </div>
    {{#if isGMReady}}
    <button class="roll-button" data-action="roll" data-roll-id="{{rollID}}">ROLL</button>
    {{/if}}
  </div>
  {{#if stressData}}
  <div class="roll-sheet-float-block roll-stress-block {{~#if isGMReady}} gm-ready{{/if}} tooltip-trigger">
    <span class="shadowed roll-stress-cost">(Roll Costs {{stressData.cost}} Stress)</span>
    <span class="tooltip tooltip-roll-stress">{{{stressData.tooltip}}}</span>
  </div>
  {{/if}}
</section>