{{#if (test clockKey.isVisible "&&" clockKey.isInCurrentScene)}}
<div class="control-flipper clock-key-control-flipper" data-clock-key-id="{{clockKey.id}}" style="translate: none; rotate: none; scale: none; transform: translate(0px 0px);">
{{else}}
<div class="control-flipper clock-key-control-flipper controls-flipped" data-clock-key-id="{{clockKey.id}}" style="translate: none; rotate: none; scale: none; transform: rotateX(180deg);">
{{/if}}

  <div class="clock-key-control-panel controls-front" style="translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate3d(0px, 0px, 2px);">
    {{!-- Pull Key Animation --}}
    {{> "systems/eunos-blades/templates/components/button-icon.hbs"
      blockClass="clock-control-button clock-control-pull-key"
      buttonClass="fa-duotone fa-circle-up-left"
      buttonStyle="--fa-primary-color: var(--blades-red-bright); --fa-secondary-color: var(--blades-black); --fa-secondary-opacity: 1;"
      action="pull-clock-key"
    }}

    {{!-- Toggle Name Visibility --}}
    {{> "systems/eunos-blades/templates/components/button-icon.hbs"
      blockClass="clock-control-button clock-toggle-name-visible"
      toggleIconKey="signature"
      toggleIconValue=clockKey.isNameVisible
      action="toggle-name-visibility"
    }}

    {{!-- Toggle Spotlight --}}
    {{> "systems/eunos-blades/templates/components/button-icon.hbs"
      blockClass="clock-control-button clock-toggle-spotlit"
      toggleIconKey="message"
      toggleIconValue=clockKey.isSpotlit
      action="toggle-spotlight"
    }}

    {{!-- Name --}}
    <input type="text" class="clock-key-input clock-key-input-name" {{~#if clockKey.isNameVisible}} readonly{{else}}{{#unless clockKey.isClockKeeperKey}} readonly{{/unless}}{{/if}}
      data-target-prop="name"
      value="{{clockKey.name}}"
    />
  </div>

  <div class="clock-key-control-panel controls-back" style="translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate3d(0px, 0px, -2px) rotateX(180deg);">
    {{#if isSceneTab}}
    {{!-- Drop Key --}}
    {{> "systems/eunos-blades/templates/components/button-icon.hbs"
      blockClass="clock-control-button clock-control-drop-key"
      buttonClass="fa-duotone fa-circle-down"
      buttonStyle="--fa-primary-color: var(--blades-green-bright); --fa-secondary-color: var(--blades-black); --fa-secondary-opacity: 1;"
      action="drop-clock-key"
      targetId=clockKey.id
    }}
    {{!-- Select Overlay Position --}}
    {{!-- Spawns a draggable targeting reticule on GM's overlay, deleted once its position is retrieved and the key is dropped --}}
    {{> "systems/eunos-blades/templates/components/button-icon.hbs"
      blockClass="clock-control-button clock-spawn-position-dragger"
      buttonClass="fa-sharp fa-regular fa-arrows-up-down-left-right"
      action="spawn-position-dragger"
    }}
    {{else}}
    {{!-- Add to Scene --}}
    {{> "systems/eunos-blades/templates/components/button-icon.hbs"
      blockClass="clock-control-button clock-control-add-key-to-scene"
      buttonClass="fa-sharp fa-solid fa-film"
      action="add-key-to-scene"
    }}
    {{/if}}

    {{!-- Toggle Name Visibility --}}
    {{> "systems/eunos-blades/templates/components/button-icon.hbs"
      blockClass="clock-control-button clock-toggle-name-visible"
      toggleIconKey="signature"
      toggleIconValue=clockKey.isNameVisible
      action="toggle-name-visibility"
    }}

    {{!-- Add Clock --}}
    {{> "systems/eunos-blades/templates/components/button-icon.hbs"
      blockClass="clock-control-button clock-control-add-clock-to-key"
      buttonClass="fa-sharp fa-solid fa-octagon-plus"
      action="add-clock-to-key"
      targetId=clockKey.id
    }}

    {{!-- Name --}}
    <input type="text" class="clock-key-input clock-key-input-name"
      data-target-prop="name"
      value="{{clockKey.name}}"
      {{#unless clockKey.isClockKeeperKey}}
      readonly
      {{/unless}}
    />

    {{#if isSceneTab}}
    {{#if clockKey.isClockKeeperKey}}
    {{!-- Delete Key --}}
    {{> "systems/eunos-blades/templates/components/button-icon.hbs"
      blockClass="clock-control-button clock-control-delete-key"
      buttonClass="fa-sharp fa-solid fa-trash-can-xmark"
      action="delete-clock-key"
      targetId=clockKey.id
    }}
    {{else}}
    {{!-- Remove from Scene --}}
    {{> "systems/eunos-blades/templates/components/button-icon.hbs"
      blockClass="clock-control-button clock-control-remove-key-from-scene"
      buttonClass="fa-sharp fa-regular fa-film-slash"
      action="remove-key-from-scene"
    }}
    {{/if}}
    {{/if}}
  </div>


</div>

{{#each clockKey.clocks as |clock|}}
  {{> "systems/eunos-blades/templates/parts/clock-sheet-clock-controls.hbs"
    clockKey = ../clockKey
    clock = clock
  }}
{{/each}}
