
{{#with this as |actor|}}
<div class="pc-summary">
  <img class="pc-summary-img" src="{{actor.img}}" />
  <section class="pc-summary-header">
    <span class="pc-summary-name shadowed">{{actor.name}}</span>

    <span class="pc-summary-heritage shadowed">{{actor.itemTypes.heritage.0.name}}</span>
    <div class="tooltip-container pc-summary-tooltip-container tooltip-trigger">
      <img class="pc-summary-background-img" src="{{actor.itemTypes.background.0.img}}" />
      <div class="tooltip tooltip-pc-summary-background">{{actor.itemTypes.background.0.name}}</div>
    </div>
    <div class="tooltip-container pc-summary-tooltip-container tooltip-trigger">
      <img class="pc-summary-vice-img tooltip-trigger" src="{{actor.itemTypes.vice.0.img}}" />
      <div class="tooltip tooltip-pc-summary-vice">{{actor.itemTypes.vice.0.name}}</div>
    </div>
    <img class="pc-summary-playbook-img" src="{{actor.playbook.img}}" />
  </section>

  <section class="pc-summary-actions">

    {{#each actor.actionData as |attrData attrName|}}
    <div class="pc-summary-attribute shadowed">
      <label>{{case "upper" attrName}}</label>
      <span>{{lookup actor.attributes attrName}}</span>
    </div>
    {{#each attrData as |actionData actionName|}}
    {{#unless (test actionData.value "==" 0)}}
    <div class="pc-summary-action shadowed">
      <label>{{actionName}}</label>
      <span>{{actionData.value}}</span>
    </div>
    {{/unless}}
    {{/each}}
    {{/each}}

  </section>

  <section class="pc-summary-assets">
    <div class="pc-summary-assets-container pc-summary-gear">
      <div class="pc-summary-gear-loadout-container">
        <label class="pc-summary-gear-loadout shadowed">{{localize actor.system.loadout.selected}}</label>
        {{#if (test actor.armorStatus.max "==" 2)}}
          {{#if (test actor.armorStatus.value "==" 2)}}
            <i class="fa-sharp cyan-bright fa-duotone fa-shield-halved"></i>
          {{else}}
            {{#if (test actor.armorStatus.value "==" 1)}}
              <i class="fa-sharp cyan-bright fa-solid fa-shield-halved"></i>
            {{else}}
              <i class="fa-sharp cyan-bright fa-light fa-shield-halved"></i>
            {{/if}}
          {{/if}}
        {{else}}
          {{#if (test actor.armorStatus.max "==" 1)}}
            {{#if (test actor.armorStatus.value "==" 1)}}
              <i class="fa-sharp fa-solid fa-shield"></i>
            {{else}}
              <i class="fa-sharp fa-regular fa-shield"></i>
            {{/if}}
          {{/if}}
        {{/if}}
        {{#if (test "special" "in" actor.armorStatus)}}
          {{#if actor.armorStatus.special}}
          <i class="fa-light gold-bright fa-shield-quartered"></i>
          {{else}}
          <i class="fa-sharp gold-bright fa-duotone fa-shield-quartered"></i>
          {{/if}}
        {{/if}}
      </div>

      {{#each actor.itemTypes.gear}}
      {{#unless (test tags "includes" "Archived")}}
      <div class="pc-summary-asset pc-summary-ability tooltip-trigger">
        <img class="pc-summary-asset-img" src="{{img}}" />
        <label class="pc-summary-asset-name shadowed {{~#if (test tags "includes" "Fine" )}}
          cyan-bright{{/if}}">{{name}}</label>
        <div class="pc-summary-asset-tooltip tooltip">{{{tooltip}}}</div>
      </div>
      {{/unless}}
      {{/each}}
    </div>
    <div class="pc-summary-assets-container pc-summary-abilities">
      {{#each actor.itemTypes.ability}}
      <div class="pc-summary-asset pc-summary-ability tooltip-trigger">
        <img class="pc-summary-asset-img" src="{{img}}" />
        <label class="pc-summary-asset-name shadowed">{{name}}</label>
        <div class="pc-summary-asset-tooltip tooltip">{{{tooltip}}}</div>
      </div>
      <div class="pc-summary-asset-tooltip tooltip">{{{tooltip}}}</div>
      {{/each}}
    </div>
  </section>

  <section class="pc-summary-maluses">
    <div class="pc-summary-stress-container">
      {{#for 1 actor.system.stress.value}}
      <span class="pc-summary-stress-box stress-box-full"></span>
      {{/for}}
      {{#for (calc actor.system.stress.value "+" 1) actor.system.stress.max}}
      <span class="pc-summary-stress-box stress-box-empty"></span>
      {{/for}}
    </div>
    <div class="pc-summary-trauma-container">
      {{#each actor.system.trauma.checked as |checkedVal traumaName|}}
      {{#with (lookup actor.system.trauma.active traumaName) as |activeVal|}}
      {{#if (test checkedVal "&&" activeVal)}}
      <span class="pc-summary-trauma shadowed">{{traumaName}}</span>
      {{/if}}
      {{/with}}
      {{/each}}
    </div>
    <div class="pc-summary-harm-container">

      <div class="pc-summary-harm pc-harm-severe {{#unless system.harm.severe.one}} harm-inactive{{/unless}}">
        <i class="fa-sharp fa-solid fa-crutches shadowed"></i>
        <label class="harm-severe shadowed">{{system.harm.severe.one}}</label>
      </div>


      <div class="pc-summary-harm pc-harm-moderate {{#unless system.harm.moderate.one}} harm-inactive{{/unless}}">
        <i class="fa-sharp fa-solid fa-crutch shadowed"></i>
        <label class="harm-moderate shadowed">{{system.harm.moderate.one}}</label>
      </div>

      <div class="pc-summary-harm pc-harm-moderate {{#unless system.harm.moderate.two}} harm-inactive{{/unless}}">
        <i class="fa-sharp fa-solid fa-crutch shadowed"></i>
        <label class="harm-moderate shadowed">{{system.harm.moderate.two}}</label>
      </div>

      <div class="pc-summary-harm pc-harm-lesser {{#unless system.harm.lesser.one}} harm-inactive{{/unless}}">
        <i class="fa-sharp fa-light fa-crutch fa-flip-horizontal"></i>
        <label class="harm-lesser">{{system.harm.lesser.one}}</label>
      </div>

      <div class="pc-summary-harm pc-harm-lesser {{#unless system.harm.lesser.two}} harm-inactive{{/unless}}">
        <i class="fa-sharp fa-light fa-crutch fa-flip-horizontal"></i>
        <label class="harm-lesser">{{system.harm.lesser.two}}</label>
      </div>


    </div>

  </section>

  <section class="pc-summary-notes">
    <textarea class="pc-summary-notes-body" data-id="{{actor.id}}">{{actor.system.gm_notes}}</textarea>
  </section>
</div>
{{/with}}