<form class="{{cssClass}} actor-sheet" autocomplete="off">

  {{!-- Actor Img: Portrait & Background Overlay --}}
  <img class="sheet-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
  {{#unless (test actor.img "==" "icons/svg/mystery-man.svg")}}
  <div class="sheet-img-bg full-width">
    <img src="{{actor.img}}" />
  </div>
  {{/unless}}

  {{!-- SubActor GM Alert --}}
  {{#if isGM}}{{#if isSubActor}}
  <div class="gm-alert-header">Editing as SubActor of {{parentActor.name}}</div>
  {{/if}}{{/if}}

  {{!-- Tags --}}
  {{#if isGM}}
  <input type="text" class="comp-tags tags-gm" />
  {{/if}}

  {{!-- Sheet Container --}}
  <div class="sheet-root">

    {{!-- Header --}}
    <section class="sheet-top">
      <input class="sheet-title shadowed" type="text" name="name" value="{{actor.name}}">

      {{> "systems/eunos-blades/templates/parts/tier-block.hbs" }}

      <input class="sheet-subtitle shadowed" type="text" name="system.subtitle" value="{{system.subtitle}}"
        placeholder="Overview">
    </section>

    {{!-- Tabs, Tab Navigation --}}
    <section class="tab-content nav-group flex-vertical">
      {{!-- Nav menu --}}
      <nav class="nav-tabs flex-horizontal">
        <a class="tab-selector" data-tab="overview">Overview</a>
        <a class="tab-selector" data-tab="people">People</a>
        <a class="tab-selector" data-tab="clocks">Clocks</a>
        {{#if isGM}}
        <a class="tab-selector" data-tab="gm-notes">GM Notes</a>
        <a class="tab-selector" data-tab="all-items">All Items</a>
        {{/if}}
      </nav>

      {{!-- Overview --}}
      <div class="tab overview flex-vertical" data-tab="overview">
        <label class="tab-label">
          <span class="tab-title">Description</span>
        </label>
        {{editor system.description target="system.description" button=true owner=owner editable=isGM}}
        <label class="tab-label">
          <span class="tab-title">Turf</span>
        </label>
        {{editor system.turf target="system.turf" button=true owner=owner editable=isGM}}

        {{#if isGM}}
        <label class="tab-label">
          <span class="tab-title">Assets</span>
        </label>
        {{editor system.assets target="system.assets" button=true owner=owner editable=isGM}}

        <label class="tab-label">
          <span class="tab-title">Situation</span>
        </label>
        {{editor system.situation target="system.situation" button=true owner=owner editable=isGM}}
        {{/if}}

      </div>


      {{!-- People --}}
      <div class="tab people flex-vertical" data-tab="people">

      </div>


      {{!-- Clocks --}}
      <div class="tab clocks flex-vertical" data-tab="clocks">

        <label class="comp tab-label" data-comp-cat="Clock" data-comp-type="Virtual">
          <a class="comp-control comp-button comp-add-clock">
            <i class="fa-sharp fa-solid fa-square-plus"></i>
          </a>
          <span class="tab-title">Clocks</span>
        </label>

        {{#each clocksData}}
        {{> "systems/eunos-blades/templates/components/clock-key.hbs" }}
        {{/each}}
      </div>


      {{!-- GM-ONLY TABS --}}
      {{#if isGM}}

      {{!-- GM Notes & Effects Tab --}}
      <div class="tab gm-notes flex-vertical" data-tab="gm-notes">
        <label class="tab-label">
          <span class="tab-title">GM Notes</span>
        </label>
        {{editor system.gm_notes target="system.gm_notes" button=true owner=owner editable=isGM}}
        <label class="tab-label">
          <span class="tab-title">{{localize "BITD.Effects"}}</span>
        </label>
        {{> "systems/eunos-blades/templates/parts/active-effects.hbs"}}
      </div>

      {{!-- Full Item List Tab --}}
      <div class="tab all-items flex-vertical" data-tab="all-items">
        <label class="comp tab-label">
          <span class="tab-title">{{localize "BITD.AllItems"}}</span>
        </label>

        {{#each actor.items as |item id|}}
        {{> "systems/eunos-blades/templates/components/comp.hbs" item
        id=item.id
        class="comp-desc-trait comp-horizontal full-width"
        docType="Item"
        remFullButton=true
        }}
        {{/each}}
      </div>

      {{/if}}
    </section>
  </div>
</form>