<form class="{{cssClass}} actor-sheet" autocomplete="off">

	<img class="char-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
	<div class="char-img-bg full-width">
		<img src="{{actor.img}}" />
	</div>

	{{#if items.playbook}}
	<div class="labelled-item labelled-horizontal playbook-experience">
		<div class="labelled-item-container">
				{{> "systems/eunos-blades/templates/parts/dotline.hbs"
					data=data.experience.playbook
					target="data.experience.playbook.value"
					svgKey="teeth.tall"
					svgFull="full|frame"
					svgEmpty="full|half|frame"
					blockClass="teeth long-teeth"
				}}
		</div>
	</div>
	{{/if}}

	{{!-- Header --}}
	<section class="sheet-top">
		<input class="char-name top-title shadowed" type="text" name="name" value="{{actor.name}}">
		<input class="char-full-name top-subtitle shadowed" type="text" name="data.full_name" value="{{data.full_name}}" placeholder="Full Name">

		<div class="char-playbook labelled-item labelled-vertical">
		{{#if items.playbook}}
			<div class="labelled-item-container" data-item-id="{{items.playbook.id}}">
				<img src="{{items.playbook.system.bgImg}}" />
				<div class="item-name item-title shadowed">{{items.playbook.name}}</div>
			</div>
		{{else}}
			<label class="labelled-item-prompt shadowed">
				<a class="item-add-popup" data-distinct="true" data-item-type="playbook">
					<span class="sur-title">Select Your</span>
					<span class="main-title">Playbook</span>
				</a>
			</label>
		{{/if}}
		</div>

		<div class="char-heritage labelled-item labelled-vertical">
			{{#if items.heritage}}
			<label>
				<a class="item-add-popup" data-distinct="true" data-item-type="heritage">{{localize "BITD.Heritage"}}</a>
			</label>
			<div class="labelled-item-container" data-item-id="{{items.heritage._id}}">
				<div class="item-name item-title shadowed">{{items.heritage.name}}</div>
			</div>
			{{else}}
			<label class="labelled-item-prompt shadowed">
				<a class="item-add-popup" data-distinct="true" data-item-type="heritage">
					<span class="sur-title">Select Your</span>
					<span class="main-title">Heritage</span>
				</a>
			</label>
			{{/if}}
		</div>

		<div class="char-background labelled-item labelled-vertical">
			{{#if items.background}}
			<label>
				<a class="item-add-popup" data-distinct="true" data-item-type="background">{{localize "BITD.Background"}}</a>
			</label>
			<div class="labelled-item-container" data-item-id="{{items.background._id}}">
				<img src="{{items.background.img}}" title="{{items.background.name}}" />
				<div class="item-name item-title shadowed">{{items.background.name}}</div>
			</div>
			{{else}}
			<label class="labelled-item-prompt shadowed">
				<a class="item-add-popup" data-distinct="true" data-item-type="background">
					<span class="sur-title">Select Your</span>
					<span class="main-title">Background</span>
				</a>
			</label>
			{{/if}}
		</div>

		<div class="char-vice labelled-item labelled-vertical">
			{{#if items.vice}}
			<label>
				<a class="item-add-popup" data-distinct="true" data-item-type="vice">{{actor.system.vice.name}}</a>
			</label>
			<div class="labelled-item-container" data-item-id="{{items.vice._id}}">
				<img src="{{items.vice.img}}" title="{{items.vice.name}}" />
				<div class="item-name item-title long-name shadowed">{{items.vice.name}}</div>
			</div>
			{{else}}
			<label class="labelled-item-prompt shadowed">
				<a class="item-add-popup" data-distinct="true" data-item-type="vice">
					<span class="sur-title">Select Your</span>
					<span class="main-title">Vice</span>
				</a>
			</label>
			{{/if}}
			{{#if items.vice.secondVice}}
			<div class="labelled-item-container second-vice" data-item-id="{{items.vice.secondVice._id}}">
				<img src="{{items.vice.secondVice.img}}" title="{{items.vice.secondVice.name}}" />
				<div class="item-name item-title long-name shadowed">{{items.vice.secondVice.name}}</div>
			</div>
			{{/if}}
		</div>

		{{#if comps.crew}}
		<div class="comp-crew comp-vertical comp" data-comp-cat="pc-crew" data-comp-id="{{comps.crew.id}}">
		<label class="comp-label">
			<a class="popup comp-add">Crew</a>
		</label>
		<div class="comp-body">
			<img src="{{comps.crew.img}}" title="{{comps.crew.name}}" />
			<div class="comp-name long-text shadowed">{{comps.crew.name}}</div>
		</div>
		</div>
		{{else}}
		<div class="comp-crew comp-vertical comp" data-comp-cat="pc-crew">
			<label class="comp-prompt shadowed">
				<a class="popup comp-add">
					<span class="sur-title">Select Your</span>
					<span class="main-title">Crew</span>
				</a>
			</label>
		</div>
		{{/if}}

		<div class="char-coins labelled-item labelled-vertical">
 			<label>Coins</label>
			<div class="labelled-item-container">
				{{> "systems/eunos-blades/templates/parts/dotline.hbs"
					data=data.coins
					target="data.coins.value"
					iconEmpty="coin-empty.svg"
					iconEmptyHover="coin-empty-hover.svg"
					iconFull="coin-full.svg"
					iconFullHover="coin-full-hover.svg"
					blockClass="centered"
				}}
			</div>
		</div>

		<div class="char-stash labelled-item labelled-horizontal">
 			<label>Stash:</label>
			<div class="labelled-item-container">
				{{> "systems/eunos-blades/templates/parts/dotline.hbs"
					data=data.stash
					target="data.stash.value"
					iconEmpty="coin-empty.svg"
					iconEmptyHover="coin-empty-hover.svg"
					iconFull="coin-full.svg"
					iconFullHover="coin-full-hover.svg"
					altIconFull="coin-ten.svg"
					altIconFullHover="coin-ten-hover.svg"
					altIconStep=10
				}}
			</div>
		</div>
	</section>

	{{!-- Stress and Trauma --}}
	<section class="stress-trauma flex-horizontal full-width">
		<div class="stress-teeth flex-horizontal">
			<label class="dotline-label filled-label">{{data.stress.name}}</label>
			{{> "systems/eunos-blades/templates/parts/dotline.hbs"
				data=data.stress
				target="data.stress.value"
				svgKey="teeth.tall"
				svgFull="full|half|frame"
				svgEmpty="full|half|frame"
				blockClass="teeth long-teeth"
			}}
		</div>

		<div class="trauma-teeth flex-vertical">
			<label class="dotline-label filled-label">{{traumaData.name}}</label>
			{{> "systems/eunos-blades/templates/parts/dotline.hbs"
				data=traumaData
				target="data.trauma.value"
				svgKey="teeth.short"
				svgFull="full|frame"
				svgEmpty="frame"
				blockClass="teeth short-teeth"
				isLocked="true"
			}}
		</div>

		<div class="trauma-conditions flex-vertical">
			<div class="flex-horizontal">
			{{#each traumaData.displayed as |status displayName|}}
				<label class="text-checkbox">
					<input type="checkbox" data-dtype="Boolean" name="data.trauma.checked.{{displayName}}" value="{{status}}" {{checked status}}/>
					<span>{{displayName}}</span>
				</label>
				{{#if (test @index "==" (calc (calc (calc "floor" (count ../traumaData.displayed)) "/" 2) "-" 1))}}
				</div><div class="flex-horizontal">
				{{/if}}
			{{/each}}
			</div>
		</div>
	</section>

	{{!-- Harm, Healing and Armor --}}
	<section class="harm-armor full-width">
			<table class="shadowed">
				<thead>
					<th colspan="4">
						<label class="dotline-label filled-label">{{localize "BITD.Harm"}}</label>
					</th>
					<th>
						<center><label class="dotline-label filled-label">{{localize "BITD.Healing"}}</label></center>
					</th>
					<th>
						<center><label class="dotline-label filled-label">{{localize "BITD.Armor"}}</label></center>
					</th>
				</thead>
				<tbody>
					<tr>
						<td class="harm-level">3</td>
						<td class="harm-input" colspan="2">
							<input type="text" name="data.harm.heavy.one" value="{{data.harm.heavy.one}}">
						</td>
						<td class="harm-effect">{{localize "BITD.NeedHelp"}}</td>
						<td class="healing-clock clock-container" rowspan="3">
							{{> "systems/eunos-blades/templates/components/clock.hbs"
								target="system.healing.value"
								data=healing_clock
							}}
						</td>
						<td class="armor-uses" rowspan="3">
							{{> "systems/eunos-blades/templates/components/armor.hbs"
								data=armor}}
						</td>
					</tr>
					<tr>
						<td class="harm-level">2</td>
						<td class="harm-input">
							<input type="text" name="data.harm.medium.one" value="{{data.harm.medium.one}}">
						</td>
						<td class="harm-input">
							<input type="text" name="data.harm.medium.two" value="{{data.harm.medium.two}}">
						</td>
						<td class="harm-effect">&minus;1D</td>
					</tr>
					<tr>
						<td class="harm-level">1</td>
						<td class="harm-input">
							<input type="text" name="data.harm.light.one" value="{{data.harm.light.one}}">
						</td>
						<td class="harm-input">
							<input type="text" name="data.harm.light.two" value="{{data.harm.light.two}}">
						</td>
						<td class="harm-effect">{{localize "BITD.LessEffect"}}</td>
					</tr>
				</tbody>
			</table>
	</section>

	<div class="split-panel full-width">
		{{!-- Navigable Tabs --}}
		<section class="tab-content nav-group flex-vertical">
				{{!-- Nav menu --}}
				<nav class="nav-tabs flex-horizontal">
					<a class="tab-selector" data-tab="abilities">{{localize "BITD.Abilities"}}</a>
					<a class="tab-selector" data-tab="loadout">{{localize "BITD.Loadout"}}</a>
					<a class="tab-selector" data-tab="character-notes">{{localize "BITD.Notes"}}</a>
					{{#if isGM}}
						<a class="tab-selector" data-tab="gm-notes">GM Notes</a>
						<a class="tab-selector" data-tab="effects">{{localize "BITD.Effects"}}</a>
						<a class="tab-selector" data-tab="all-character-items">{{localize "BITD.AllItems"}}</a>
					{{/if}}
				</nav>

				{{!-- Abilities Tab --}}
				<div class="tab abilities flex-vertical" data-tab="abilities">
					<label class="tab-label">
						<a class="item-add-popup" data-item-type="ability">
							<i class="fas fa-plus-square"></i>
						</a>
						<span class="tab-title">{{localize "BITD.Abilities"}}</span>
					</label>

					{{#each items.abilities}}
						<div class="labelled-item labelled-horizontal item" data-item-id="{{_id}}">
							<label class="item-name">
								<span class="item-title">{{case "title" name}}</span>
								<img class="item-img" src="{{img}}" />
							</label>
							<div class="labelled-item-container">
								<div class="item-description shadowed">{{{system.rules}}}</div>
							</div>
							<a class="item-control item-delete" title="{{localize 'BITD.TitleDeleteItem'}}">
								<i class="fas fa-trash"></i>
							</a>
						</div>
					{{/each}}
				</div>

				{{!-- Loadout Tab --}}
				<div class="tab loadout flex-vertical" data-tab="loadout">
					<label class="tab-label">
						<a class="item-add-popup" data-item-type="item">
							<i class="fas fa-plus-square"></i>
						</a>
						<span class="tab-title">{{localize "BITD.Loadout"}}</span>
						<select class="load-selector" data-dtype="string" name="data.loadout.selected">
							{{#select loadData.selLoadLevel}}
							<option value="" hidden disabled selected></option>
							{{#each loadData.selections}}
							<option value="{{this}}">{{localize this}}</option>
							{{/each}}
							{{/select}}
						</select>

						<span class="load-selected-count">{{#if loadData.selLoadCount}}(Max <span class="shadowed">{{loadData.selLoadCount}}</span> Load){{/if}}</span>

						<span class="load-level">Current Load:</span>
						<span class="load-amount number-circle">{{loadData.curLoad}}</span>
					</label>

					{{#each items.loadout}}
						<div class="labelled-item labelled-horizontal item" data-item-id="{{_id}}">
							<label class="item-name">
								<span class="item-title">{{case "title" name}}</span>
								<img class="item-img" src="{{img}}" />
								{{#if (test system.uses.max ">" 0)}}
								{{> "systems/eunos-blades/templates/parts/dotline.hbs"
									data=system.uses
									target="item.system.uses.value"
									iconEmpty="dot-empty.svg"
									iconEmptyHover="dot-empty-hover.svg"
									iconFull="dot-full.svg"
									iconFullHover="dot-full-hover.svg"
								}}
								{{/if}}
							</label>
							<div class="labelled-item-container">
								<div class="item-description shadowed">{{{system.rules}}}</div>
							</div>
							<a class="item-control item-delete" title="{{localize 'BITD.TitleDeleteItem'}}">
								<i class="fas fa-trash"></i>
							</a>
							<div class="item-load number-circle">{{system.load}}</div>
						</div>
					{{/each}}

				</div>

				{{!-- Description & Notes Tab --}}
				<div class="tab character-notes flex-vertical" data-tab="character-notes">
					<label class="tab-label">
						<span class="tab-title">Description</span>
					</label>
					{{editor content=data.description target="data.description" button=true owner=owner editable=editable}}

					<label class="tab-label">
						<span class="tab-title">{{localize "BITD.Notes"}}</span>
					</label>
					{{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}
				</div>

				{{!-- GM-ONLY TABS --}}
				{{#if isGM}}

					{{!-- GM Notes Tab --}}
					<div class="tab gm-notes flex-vertical" data-tab="gm-notes">
						<label class="tab-label">
							<span class="tab-title">GM Notes</span>
						</label>
						{{editor content=data.gm_notes target="data.gm_notes" button=true owner=owner editable=editable}}
					</div>

					{{!-- Active Effects Tab --}}
					<div class="tab effects flex-vertical" data-tab="effects">
						<label class="tab-label">
							<span class="tab-title">{{localize "BITD.Effects"}}</span>
						</label>
						{{> "systems/eunos-blades/templates/parts/active-effects.hbs"}}
					</div>

					{{!-- Full Item List Tab --}}
					<div class="tab all-items flex-vertical" data-tab="all-character-items">
						<label class="tab-label">
							<span class="tab-title">{{localize "BITD.AllItems"}}</span>
						</label>
						{{#each actor.items as |item id|}}
						<div class="item flex-horizontal" data-item-id="{{item._id}}">
							<div class="item-body item-sheet-open flex-horizontal">
								<img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
								<div class="item-name item-title">{{item.name}}</div>
							</div>
							<a class="item-control item-delete" title="{{localize 'BITD.TitleDeleteItem'}}">
								<i class="fas fa-trash"></i>
							</a>
						</div>
						{{/each}}
					</div>
				{{/if}}

		</section>

		<section class="action-ratings flex-vertical">

				{{#each data.attributes as |attribute_data attribute_name|}}
				<div class="labelled-item labelled-horizontal labelled-attribute">
					<div class="attribute-total-clock clock-container">
							{{> "systems/eunos-blades/templates/components/clock.hbs"
								data=(lookup ../attributes attribute_name)
							}}
						</td>
					</div>
					<label data-roll-attribute="{{attribute_name}}">{{case "title" attribute_name}}</label>
					<div class="labelled-item-container">
						{{> "systems/eunos-blades/templates/parts/dotline.hbs"
							data=(lookup ../data.experience attribute_name)
							target=(concat "data.experience." attribute_name ".value")
							svgKey="teeth.tall"
							svgFull="full|frame"
							svgEmpty="full|half|frame"
							blockClass="teeth long-teeth"
						}}
					</div>
				</div>
				{{#each attribute_data as |action_data action_name|}}
				<div class="labelled-item labelled-horizontal labelled-action">
					<div class="labelled-item-container">
							{{> "systems/eunos-blades/templates/parts/dotline.hbs"
								data=action_data
								target=(concat "data.attributes." attribute_name "." action_name ".value")
								iconEmpty="dot-empty.svg"
								iconEmptyHover="dot-empty-hover.svg"
								iconFull="dot-full.svg"
								iconFullHover="dot-full-hover.svg"
								blockClass="action"
							}}
					</div>
					<label data-roll-attribute="{{action_name}}">{{case "upper" action_name}}</label>
				</div>
				{{/each}}
				{{/each}}

		</section>
	</div>
</form>