<form class="{{cssClass}} actor-sheet" autocomplete="off">

	{{!-- Actor Img: Portrait & Background Overlay --}}
	<img class="sheet-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
	<div class="sheet-img-bg full-width">
		<img src="{{actor.img}}" />
	</div>

	{{!-- Playbook XP --}}
	{{#if playbookData}}
		{{> "systems/eunos-blades/templates/components/comp.hbs"
			class="comp-xp comp-xp-playbook comp-horizontal comp-teeth comp-teeth-long"
			dotline=playbookData.dotline
		}}
	{{/if}}

	{{!-- Header --}}
	<section class="sheet-top">
		<input class="sheet-title shadowed" type="text" name="name" value="{{actor.name}}">
		<input class="sheet-subtitle shadowed" type="text" name="data.full_name" value="{{data.full_name}}" placeholder="Full Name">

		{{> "systems/eunos-blades/templates/components/comp.hbs" items.playbook
			class="comp-playbook comp-vertical"
			label="Playbook"
			cat="playbook"
			addButton=true
			id=items.playbook._id
		}}

		{{> "systems/eunos-blades/templates/components/comp.hbs" items.heritage
			class="comp-heritage comp-vertical long-text"
			label="Heritage"
			cat="heritage"
			addButton=true
			tooltip=items.heritage.system.rules
		}}

		{{> "systems/eunos-blades/templates/components/comp.hbs" items.background
			class="comp-background comp-vertical"
			label="Background"
			cat="background"
			addButton=true
			tooltip=items.background.system.rules
		}}

		{{> "systems/eunos-blades/templates/components/comp.hbs" items.vice
			class="comp-vice comp-vertical"
			label="Vice"
			cat="vice"
			addButton=true
			tooltip=items.vice.system.rules
		}}

		{{> "systems/eunos-blades/templates/components/comp.hbs" items.crew
			class="comp-crew comp-vertical long-text"
			label="Crew"
			cat="pc-crew"
			addButton=true
			id=items.crew.id
		}}

		{{> "systems/eunos-blades/templates/components/comp.hbs" coinsData
			class="comp-coins comp-vertical" }}

		{{> "systems/eunos-blades/templates/components/comp.hbs" stashData
			class="comp-stash comp-horizontal" }}
	</section>

	{{!-- Stress and Trauma --}}
	<section class="sheet-mid-bar flex-horizontal full-width">

		{{> "systems/eunos-blades/templates/components/comp.hbs"
			class="comp-stress comp-horizontal comp-teeth comp-teeth-long"
			label=stressData.name
			labelClass="filled-label"
			dotline=stressData.dotline
		}}

		{{> "systems/eunos-blades/templates/components/comp.hbs"
			class="comp-trauma comp-vertical comp-teeth comp-teeth-short"
			label=traumaData.name
			labelClass="filled-label"
			dotline=traumaData.dotline
		}}

		{{> "systems/eunos-blades/templates/components/comp.hbs"
			class="comp-trauma-conditions comp-vertical"
			compContainer=traumaData.compContainer
		}}

	</section>

	{{!-- Harm, Healing and Armor --}}
	<section class="harm-armor full-width">
			<table class="shadowed">
				<thead>
					<th colspan="4">
						<label class="dotline-label filled-label">{{localize "BITD.Harm"}}</label>
					</th>
					<th>
						<center><label class="dotline-label filled-label">{{localize "BITD.Healing"}}</label></center>
					</th>
					<th>
						<center><label class="dotline-label filled-label">{{localize "BITD.Armor"}}</label></center>
					</th>
				</thead>
				<tbody>
					<tr>
						<td class="harm-level">3</td>
						<td class="harm-input" colspan="2">
							<input type="text" name="data.harm.heavy.one" value="{{data.harm.heavy.one}}">
						</td>
						<td class="harm-effect">{{localize "BITD.NeedHelp"}}</td>
						<td class="healing-clock clock-container" rowspan="3">
							{{> "systems/eunos-blades/templates/components/clock.hbs"
								target="system.healing.value"
								data=healing_clock
							}}
						</td>
						<td class="armor-uses" rowspan="3">
							{{> "systems/eunos-blades/templates/components/armor.hbs"
								data=armor}}
						</td>
					</tr>
					<tr>
						<td class="harm-level">2</td>
						<td class="harm-input">
							<input type="text" name="data.harm.medium.one" value="{{data.harm.medium.one}}">
						</td>
						<td class="harm-input">
							<input type="text" name="data.harm.medium.two" value="{{data.harm.medium.two}}">
						</td>
						<td class="harm-effect">&minus;1D</td>
					</tr>
					<tr>
						<td class="harm-level">1</td>
						<td class="harm-input">
							<input type="text" name="data.harm.light.one" value="{{data.harm.light.one}}">
						</td>
						<td class="harm-input">
							<input type="text" name="data.harm.light.two" value="{{data.harm.light.two}}">
						</td>
						<td class="harm-effect">{{localize "BITD.LessEffect"}}</td>
					</tr>
				</tbody>
			</table>
	</section>

	<div class="split-panel full-width">
		{{!-- Navigable Tabs --}}
		<section class="tab-content nav-group flex-vertical">
				{{!-- Nav menu --}}
				<nav class="nav-tabs flex-horizontal">
					<a class="tab-selector" data-tab="abilities">{{localize "BITD.Abilities"}}</a>
					<a class="tab-selector" data-tab="loadout">{{localize "BITD.Loadout"}}</a>
					<a class="tab-selector" data-tab="character-notes">{{localize "BITD.Notes"}}</a>
					{{#if isGM}}
						<a class="tab-selector" data-tab="gm-notes">GM Notes</a>
						<a class="tab-selector" data-tab="effects">{{localize "BITD.Effects"}}</a>
						<a class="tab-selector" data-tab="all-character-items">{{localize "BITD.AllItems"}}</a>
					{{/if}}
				</nav>

				{{!-- Abilities Tab --}}
				<div class="tab abilities flex-vertical" data-tab="abilities">
					<label class="comp tab-label" data-comp-cat="ability">
						<a class="comp-control comp-button comp-add">
							<i class="fas fa-plus-square"></i>
						</a>
						<span class="tab-title">{{localize "BITD.Abilities"}}</span>
					</label>

					{{#each items.abilities}}
					{{> "systems/eunos-blades/templates/components/comp.hbs" this
						class="comp-desc-trait comp-horizontal full-width"
						remButton=true
					}}
					{{/each}}
				</div>

				{{!-- Loadout Tab --}}
				<div class="tab loadout flex-vertical" data-tab="loadout">
					<label class="tab-label">
						<a class="comp-control comp-add" data-item-type="item">
							<i class="fas fa-plus-square"></i>
						</a>
						<span class="tab-title">{{localize "BITD.Loadout"}}</span>
						<select class="load-selector" data-dtype="string" name="data.loadout.selected">
							{{#select loadData.selLoadLevel}}
							<option value="" hidden disabled selected></option>
							{{#each loadData.selections}}
							<option value="{{this}}">{{localize this}}</option>
							{{/each}}
							{{/select}}
						</select>

						<span class="load-selected-count">{{#if loadData.selLoadCount}}(Max <span class="shadowed">{{loadData.selLoadCount}}</span> Load){{/if}}</span>

						<span class="load-level">Current Load:</span>
						<span class="load-amount number-circle">{{loadData.curLoad}}</span>
					</label>

					{{#each items.loadout}}
						<div class="comp comp-horizontal item" data-item-id="{{_id}}">
							<label class="comp-title">
								<span class="item-title">{{case "title" name}}</span>
								<img class="item-img" src="{{img}}" />
								{{#if (test system.uses.max ">" 0)}}
								{{> "systems/eunos-blades/templates/parts/dotline.hbs"
									data=system.uses
									target="item.system.uses.value"
									iconEmpty="dot-empty.svg"
									iconEmptyHover="dot-empty-hover.svg"
									iconFull="dot-full.svg"
									iconFullHover="dot-full-hover.svg"
								}}
								{{/if}}
							</label>
							<div class="comp-body">
								<div class="comp-body-text shadowed">{{{system.rules}}}</div>
							</div>
							<a class="comp-control comp-delete" title="{{localize 'BITD.TitleDeleteItem'}}">
								<i class="fas fa-trash"></i>
							</a>
							<div class="item-load number-circle">{{system.load}}</div>
						</div>
					{{/each}}

				</div>

				{{!-- Description & Notes Tab --}}
				<div class="tab character-notes flex-vertical" data-tab="character-notes">
					<label class="tab-label">
						<span class="tab-title">Description</span>
					</label>
					{{editor content=data.description target="data.description" button=true owner=owner editable=editable}}

					<label class="tab-label">
						<span class="tab-title">{{localize "BITD.Notes"}}</span>
					</label>
					{{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}
				</div>

				{{!-- GM-ONLY TABS --}}
				{{#if isGM}}

					{{!-- GM Notes Tab --}}
					<div class="tab gm-notes flex-vertical" data-tab="gm-notes">
						<label class="tab-label">
							<span class="tab-title">GM Notes</span>
						</label>
						{{editor content=data.gm_notes target="data.gm_notes" button=true owner=owner editable=editable}}
					</div>

					{{!-- Active Effects Tab --}}
					<div class="tab effects flex-vertical" data-tab="effects">
						<label class="tab-label">
							<span class="tab-title">{{localize "BITD.Effects"}}</span>
						</label>
						{{> "systems/eunos-blades/templates/parts/active-effects.hbs"}}
					</div>

					{{!-- Full Item List Tab --}}
					<div class="tab all-items flex-vertical" data-tab="all-character-items">
						<label class="tab-label">
							<span class="tab-title">{{localize "BITD.AllItems"}}</span>
						</label>
						{{#each actor.items as |item id|}}
						<div class="item flex-horizontal" data-item-id="{{item._id}}">
							<div class="item-body item-sheet-open flex-horizontal">
								<img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
								<div class="comp-title">{{item.name}}</div>
							</div>
							<a class="comp-control comp-delete" title="{{localize 'BITD.TitleDeleteItem'}}">
								<i class="fas fa-trash"></i>
							</a>
						</div>
						{{/each}}
					</div>
				{{/if}}

		</section>

		<section class="action-ratings flex-vertical">

				{{#each data.attributes as |attribute_data attribute_name|}}
				<div class="comp comp-horizontal comp-attribute">
					<div class="clock-container">
							{{> "systems/eunos-blades/templates/components/clock.hbs"
								data=(lookup ../attributes attribute_name)
							}}
						</td>
					</div>
					<label class="comp-label" data-roll-attribute="{{attribute_name}}">{{case "title" attribute_name}}</label>
					<div class="comp-body">
						{{> "systems/eunos-blades/templates/parts/dotline.hbs"
							data=(lookup ../data.experience attribute_name)
							target=(concat "data.experience." attribute_name ".value")
							svgKey="teeth.tall"
							svgFull="full|frame"
							svgEmpty="full|half|frame"
							blockClass="teeth long-teeth"
						}}
					</div>
				</div>
				{{#each attribute_data as |action_data action_name|}}
				<div class="comp comp-horizontal comp-action">
					<div class="comp-body">
							{{> "systems/eunos-blades/templates/parts/dotline.hbs"
								data=action_data
								target=(concat "data.attributes." attribute_name "." action_name ".value")
								iconEmpty="dot-empty.svg"
								iconEmptyHover="dot-empty-hover.svg"
								iconFull="dot-full.svg"
								iconFullHover="dot-full-hover.svg"
								blockClass="action"
							}}
					</div>
					<label data-roll-attribute="{{action_name}}">{{case "upper" action_name}}</label>
				</div>
				{{/each}}
				{{/each}}

		</section>
	</div>
</form>