<form class="{{cssClass}} actor-sheet" autocomplete="off">

	<img class="char-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
	<div class="char-img-bg full-width">
		<img src="{{actor.img}}" />
	</div>

	{{#if items.playbook}}
	<div class="labelled-item labelled-horizontal playbook-experience">
		<div class="labelled-item-container">
				{{> "systems/eunos-blades/templates/parts/dotline.hbs"
					data=data.experience.playbook
					target="data.experience.playbook.value"
					svgKey="teeth.tall"
					svgFull="full|frame"
					svgEmpty="full|half|frame"
					blockClass="teeth long-teeth"
				}}
		</div>
	</div>
	{{/if}}

	{{!-- Header --}}
	<section class="sheet-top">
		<input class="char-name top-title shadowed" type="text" name="name" value="{{actor.name}}">

		<div class="char-playbook labelled-item labelled-vertical">
		{{#if items.playbook}}
			<div class="labelled-item-container" data-item-id="{{items.playbook.id}}">
				<img src="{{items.playbook.system.bgImg}}" />
				<div class="item-name item-title shadowed">{{items.playbook.name}}</div>
			</div>
		{{else}}
			<label class="labelled-item-prompt shadowed">
				<a class="item-add-popup" data-distinct="true" data-item-type="crew_type">
					<span class="sur-title">Select Your</span>
					<span class="main-title">Playbook</span>
				</a>
			</label>
		{{/if}}
		</div>

		<div class="char-reputation labelled-item labelled-vertical">
			{{#if items.reputation}}
			<label>
				<a class="item-add-popup" data-distinct="true" data-item-type="crew_reputation">Reputation</a>
			</label>
			<div class="labelled-item-container" data-item-id="{{items.reputation._id}}">
				<div class="item-name item-title shadowed">{{items.reputation.name}}</div>
			</div>
			{{else}}
			<label class="labelled-item-prompt shadowed">
				<a class="item-add-popup" data-distinct="true" data-item-type="crew_reputation">
					<span class="sur-title">Select Your</span>
					<span class="main-title">Reputation</span>
				</a>
			</label>
			{{/if}}
		</div>

		<div class="char-hold labelled-item labelled-vertical">
			<label>Hold</label>
			{{#if hold}}
			<div class="labelled-item-container" data-item-id="{{items.background._id}}">
				<img src="{{items.background.img}}" title="{{items.background.name}}" />
				<div class="item-name item-title shadowed">{{items.background.name}}</div>
			</div>
			{{/if}}
		</div>

		<div class="char-tier labelled-item labelled-vertical">
 			<label>Tier</label>
			<div class="labelled-item-container">
				{{> "systems/eunos-blades/templates/parts/dotline.hbs"
					data=data.tier
					target="data.tier.value"
					iconEmpty="coin-empty.svg"
					iconEmptyHover="coin-empty-hover.svg"
					iconFull="coin-full.svg"
					iconFullHover="coin-full-hover.svg"
					blockClass="centered"
				}}
			</div>
		</div>

		<div class="char-coins labelled-item labelled-vertical">
 			<label>Coins</label>
			<div class="labelled-item-container">
				{{> "systems/eunos-blades/templates/parts/dotline.hbs"
					data=data.coins
					target="data.coins.value"
					iconEmpty="coin-empty.svg"
					iconEmptyHover="coin-empty-hover.svg"
					iconFull="coin-full.svg"
					iconFullHover="coin-full-hover.svg"
					blockClass="centered"
				}}
			</div>
		</div>
	</section>

	{{!-- Rep/Turf, Heat, Wanted --}}
	<section class="rep-heat flex-horizontal full-width">
		<div class="rep-turf-teeth flex-horizontal">
			<label class="dotline-label filled-label">Rep</label>
			{{> "systems/eunos-blades/templates/parts/dotline.hbs"
				data=data.rep
				target="data.rep.value"
				svgKey="teeth.tall"
				svgFull="full|half|frame"
				svgEmpty="full|half|frame"
				blockClass="teeth long-teeth"
			}}
			{{#if (test data.turf.value ">" 0)}}
			{{> "systems/eunos-blades/templates/parts/dotline.hbs"
				data=data.turf
				target="data.turf.value"
				svgKey="teeth.tall"
				svgFull="full|half|frame"
				svgEmpty="full|half|frame"
				blockClass="teeth long-teeth flex-row-reverse"
				isLocked="true"
			}}
			<label class="dotline-label filled-label">Turf</label>
			{{/if}}
		</div>
		<div class="heat-teeth flex-horizontal">
			<label class="dotline-label filled-label">Heat</label>
			{{> "systems/eunos-blades/templates/parts/dotline.hbs"
				data=data.heat
				target="data.heat.value"
				svgKey="teeth.tall"
				svgFull="full|half|frame"
				svgEmpty="full|half|frame"
				blockClass="teeth long-teeth"
			}}
		</div>
		<div class="wanted-teeth flex-vertical">
			<label class="dotline-label filled-label">Wanted Level</label>
			{{> "systems/eunos-blades/templates/parts/dotline.hbs"
				data=data.wanted
				target="data.wanted.value"
				svgKey="teeth.short"
				svgFull="full|frame"
				svgEmpty="frame"
				blockClass="teeth short-teeth"
			}}
		</div>
	</section>

	{{!-- Members --}}
	<section class="members flex-horizontal full-width">
			<label class="dotline-label filled-label">Members</label>
	</section>

	{{!-- Navigable Tabs --}}
	<section class="tab-content nav-group flex-vertical">
		{{!-- Nav menu --}}
		<nav class="nav-tabs flex-horizontal">
			<a class="tab-selector" data-tab="claims">Claims</a>
			<a class="tab-selector" data-tab="upgrades">Upgrades</a>
			<a class="tab-selector" data-tab="abilities">Abilities</a>
			<a class="tab-selector" data-tab="cohorts">Cohorts</a>
			<a class="tab-selector" data-tab="notes">Notes</a>
			{{#if isGM}}
				<a class="tab-selector" data-tab="gm-notes">GM Notes</a>
				<a class="tab-selector" data-tab="all-character-items">All Items</a>
			{{/if}}
		</nav>

		{{!-- Claims --}}
    <div class="tab" data-tab="claims">
      {{#if items.playbook}}
      <div class="item" data-item-id="{{items.playbook._id}}">
      {{> "systems/eunos-blades/templates/parts/turf-list.hbs" actor=actor turfs_data=items.playbook.system.turfs can_edit=false}}
      </div>
      {{/if}}
    </div>




		{{!-- Crew Upgrades --}}
		<div class="tab abilities flex-vertical" data-tab="upgrades">
			<label class="tab-label">
				<a class="item-add-popup" data-item-type="crew_upgrade">
					<i class="fas fa-plus-square"></i>
				</a>
				<span class="tab-title">Crew Upgrades</span>
			</label>

			{{#each items.upgrades}}
				<div class="labelled-item labelled-horizontal item" data-item-id="{{_id}}">
					<label class="item-name">
						<span class="item-title">{{case "title" name}}</span>
						<img class="item-img" src="{{img}}" />
					</label>
					<div class="labelled-item-container">
						<div class="item-description shadowed">{{{system.rules}}}</div>
					</div>
					<a class="item-control item-delete" title="{{localize 'BITD.TitleDeleteItem'}}">
						<i class="fas fa-trash"></i>
					</a>
				</div>
			{{/each}}
		</div>

    {{!-- Crew Abilities --}}
		<div class="tab abilities flex-vertical" data-tab="abilities">
			<label class="tab-label">
				<a class="item-add-popup" data-item-type="crew_ability">
					<i class="fas fa-plus-square"></i>
				</a>
				<span class="tab-title">Crew Abilities</span>
			</label>

			{{#each items.abilities}}
				<div class="labelled-item labelled-horizontal item" data-item-id="{{_id}}">
					<label class="item-name">
						<span class="item-title">{{case "title" name}}</span>
						<img class="item-img" src="{{img}}" />
					</label>
					<div class="labelled-item-container">
						<div class="item-description shadowed">{{{system.rules}}}</div>
					</div>
					<a class="item-control item-delete" title="{{localize 'BITD.TitleDeleteItem'}}">
						<i class="fas fa-trash"></i>
					</a>
				</div>
			{{/each}}
		</div>

    {{!-- Cohorts --}}
		<div class="tab cohorts flex-vertical" data-tab="cohorts">
			<label class="tab-label">
				<a class="item-add-popup" data-item-type="cohort">
					<i class="fas fa-plus-square"></i>
				</a>
				<span class="tab-title">Cohorts: Gangs & Experts</span>
			</label>

			{{#each items.cohorts}}
				{{> "systems/eunos-blades/templates/parts/cohort-block.hbs" }}
			{{/each}}
		</div>

		{{!-- Description & Notes Tab --}}
		<div class="tab character-notes flex-vertical" data-tab="notes">
			<label class="tab-label">
				<span class="tab-title">Description</span>
			</label>
			{{editor content=data.description target="data.description" button=true owner=owner editable=editable}}

			<label class="tab-label">
				<span class="tab-title">{{localize "BITD.Notes"}}</span>
			</label>
			{{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}
		</div>
		{{!-- GM-ONLY TABS --}}
		{{#if isGM}}

			{{!-- GM Notes Tab --}}
			<div class="tab gm-notes flex-vertical" data-tab="gm-notes">
				<label class="tab-label">
					<span class="tab-title">GM Notes</span>
				</label>
				{{editor content=data.gm_notes target="data.gm_notes" button=true owner=owner editable=editable}}
			</div>


			{{!-- Full Item List Tab --}}
			<div class="tab all-items flex-vertical" data-tab="all-character-items">
				<label class="tab-label">
					<span class="tab-title">{{localize "BITD.AllItems"}}</span>
				</label>
				{{#each actor.items as |item id|}}
				<div class="item flex-horizontal" data-item-id="{{item._id}}">
					<div class="item-body item-sheet-open flex-horizontal">
						<img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
						<div class="item-name item-title">{{item.name}}</div>
					</div>
					<a class="item-control item-delete" title="{{localize 'BITD.TitleDeleteItem'}}">
						<i class="fas fa-trash"></i>
					</a>
				</div>
				{{/each}}
			</div>

		{{/if}}

	</section>
</form>
