{{log "THIS" this}}
<div class="{{cssClass}} dialog-content">
	<section class="tab-content nav-group flex-vertical">

		{{#if (test (count tabs) ">" 1)}}
		{{!-- Nav menu --}}
		<nav class="nav-tabs flex-horizontal">
			{{#each tabs as |itemList tabName|}}
			<a class="tab-selector" data-tab="{{@index}}">{{tabName}}</a>
			{{/each}}
		</nav>
		{{/if}}

		{{!-- Tabs --}}
		{{#each tabs as |tabData tabName|}}
		<div class="tab flex-horizontal flex-wrap {{~#unless (test (count ../tabs) ">" 1)}} active{{/unless}}" data-tab="{{@index}}">
			{{#each tabData.featured as |item|}}
				<div class="comp comp-vertical featured-item">
					<div class="comp-body" data-item-id="{{item._id}}">
						<img src="{{item.img}}" />
						<div class="comp-title shadowed">{{item.name}}</div>
						{{#if item.system.load}}
						<div class="number-circle">{{item.system.load}}</div>
						{{/if}}
					</div>
					{{#if item.tooltip}}
					<div class="tooltip {{~#if (test ../../category "==" "playbook")}} playbook-tooltip{{/if}}">
						{{{item.tooltip}}}
					</div>
					{{/if}}
				</div>
			{{/each}}

			{{#each tabData.other as |item|}}
			<div class="comp comp-vertical">
				<div class="comp-body" data-item-id="{{item._id}}">
					<img src="{{item.img}}" />
					<div class="comp-title shadowed">{{item.name}}</div>
					{{#if item.system.load}}
					<div class="number-circle">{{item.system.load}}</div>
					{{/if}}
				</div>
				{{#if item.tooltip}}
				<div class="tooltip {{~#if (test ../../category "==" "playbook")}} playbook-tooltip{{/if}}">
					{{{item.tooltip}}}
				</div>
				{{/if}}
			</div>
			{{/each}}

		</div>
		{{/each}}
	</section>
</div>

<div class="dialog-buttons">
	{{#each buttons as |bData bName|}}
	<button class="dialog-button {{bName}} {{~#if (test ../default "==" bName)}} default{{/if}}" data-button="{{bName}}">
		{{{bData.icon}}}
		{{{bData.label}}}
	</button>
	{{/each}}
</div>