{{eLog "DialogConsequence Context" this}}
<div class="{{cssClass}} dialog-content dialog-consequence">
  <section class="tab-content flex-vertical">
    {{> "systems/eunos-blades/templates/parts/dialog-consequence-block.hbs"
      rollPosition="controlled"
      consequenceData=consequenceData
      consequenceTypeOptions=consequenceTypeOptions
      consequenceTypeOptionsAll=consequenceTypeOptionsAll
      consequenceAttributeOptions=consequenceAttributeOptions
    }}
    {{> "systems/eunos-blades/templates/parts/dialog-consequence-block.hbs"
      rollPosition="risky"
      consequenceData=consequenceData
      consequenceTypeOptions=consequenceTypeOptions
      consequenceTypeOptionsAll=consequenceTypeOptionsAll
      consequenceAttributeOptions=consequenceAttributeOptions
    }}
    {{> "systems/eunos-blades/templates/parts/dialog-consequence-block.hbs"
      rollPosition="desperate"
      consequenceData=consequenceData
      consequenceTypeOptions=consequenceTypeOptions
      consequenceTypeOptionsAll=consequenceTypeOptionsAll
      consequenceAttributeOptions=consequenceAttributeOptions
    }}

  </section>
</div>

<div class="dialog-buttons flex-horizontal">
  {{#each buttons as |bData bName|}}
  <button class="dialog-button {{bName}} {{~#if (test ../default "==" bName)}} default{{/if}}" data-button="{{bName}}">
    {{{bData.icon}}}
    {{{bData.label}}}
  </button>
  {{/each}}
</div>