<form class="{{cssClass}} actor-sheet" autocomplete="off">

	{{!-- Actor Img: Portrait & Background Overlay --}}
	<img class="sheet-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
	<div class="sheet-img-bg full-width">
		<img src="{{actor.img}}" />
	</div>

	{{!-- Sheet Container --}}
	<div class="sheet-root">
		{{!-- Header --}}
		<section class="sheet-top">

			<input class="sheet-title shadowed" type="text" name="name" value="{{actor.name}}">
	</section>

  <section class="item-main flex-vertical">
		<label class="label-stripe">{{localize "BITD.Description"}}</label>
			<textarea rows="2" name="system.description">{{system.description}}</textarea>
		<label class="label-stripe">{{localize "BITD.FactionType"}}</label>
			{{system.type}}<br><br>
		<label class="label-stripe">{{localize "BITD.Tier"}}</label>
			<textarea rows="1" name="system.tier">{{system.tier}}</textarea>
		<label class="label-stripe">{{localize "BITD.Notes"}}</label>
			<textarea rows="2" name="system.notes">{{system.notes}}</textarea>

			{{#if isGM }}
					<label class="label-stripe">{{localize "BITD.Goal"}}</label>
					<div class="flex-horizontal clock-block" id="faction-goal-clock">

						<div class="goal-clock clock-container flex-vertical">
							{{> "systems/eunos-blades/templates/components/clock.hbs"
							target="system.goal_1.value"
							data=goal_1_clock
							}}
							<textarea name="system.goal_1.name">{{system.goal_1.name}}</textarea>
						</div>
						<div class="goal-clock clock-container flex-vertical">
							{{> "systems/eunos-blades/templates/components/clock.hbs"
							target="system.goal_2.value"
							data=goal_2_clock
							}}
							<textarea name="system.goal_2.name">{{system.goal_2.name}}</textarea>
						</div>

					</div>
					<label class="label-stripe">{{localize "BITD.NotableNPCs"}}</label>
					<textarea rows="10" name="system.notables">{{system.notables}}</textarea>
					<label class="label-stripe">{{localize "BITD.Turf"}}</label>
					<textarea rows="2" name="system.turf">{{system.turf}}</textarea>
					<label class="label-stripe">{{localize "BITD.Assets"}}</label>
					<textarea rows="1" name="system.assets">{{system.assets}}</textarea>
					<label class="label-stripe">{{localize "BITD.Quirks"}}</label>
					<textarea rows="1" name="system.quirks">{{system.quirks}}</textarea>
					<label class="label-stripe">{{localize "BITD.Allies"}}</label>
					<textarea rows="1" name="system.allies">{{system.allies}}</textarea>
					<label class="label-stripe">{{localize "BITD.Enemies"}}</label>
					<textarea rows="1" name="system.enemies">{{system.enemies}}</textarea>
					<label class="label-stripe">{{localize "BITD.Situation"}}</label>
					<textarea rows="10" name="system.situation">{{system.situation}}</textarea>
			{{/if}}
  </section>
	</div>
</form>
