<form class="{{cssClass}} actor-sheet" autocomplete="off">

	<img class="char-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
	<img class="char-img-bg" src="{{actor.img}}" />

	<section class="char-top">
		<input class="char-name top-title shadowed" type="text" name="name" value="{{actor.name}}" placeholder="Who Are You?">
		<input class="char-concept top-subtitle shadowed" type="text" name="data.concept" value="{{data.concept}}" placeholder="Concept">

		<div class="char-arena labelled-item">
			<label>Arena:</label>
			<input type="text" name="data.arena" value="{{data.arena}}">
		</div>
		<div class="char-heritage labelled-item">
			<label>Heritage:</label>
			<input type="text" name="data.heritage" value="{{data.heritage}}">
		</div>
		<div class="char-district labelled-item">
			<label>District:</label>
			<input type="text" name="data.district" value="{{data.district}}">
		</div>
		<div class="char-faction labelled-item">
			<label>Faction:</label>
			<input type="text" name="data.faction" value="{{data.faction}}">
		</div>
		<div class="char-allies labelled-item">
			<label>Allies:</label>
			<input type="text" name="data.allies" value="{{data.allies}}">
		</div>
		<div class="char-enemies labelled-item">
			<label>Enemies:</label>
			<input type="text" name="data.enemies" value="{{data.enemies}}">
		</div>
		<div class="char-traits input-group">
			<input class="shadowed" type="text" name="data.traits.0" value="{{data.traits.[0]}}" placeholder="Trait">
			<input class="shadowed" type="text" name="data.traits.1" value="{{data.traits.[1]}}" placeholder="Trait">
			<input class="shadowed" type="text" name="data.traits.2" value="{{data.traits.[2]}}" placeholder="Trait">
		</div>
		<input class="char-short-description shadowed" type="text" name="data.description_short" value="{{data.description_short}}"
			placeholder="Short Description">
	</section>



	<section class="flex-horizontal char-tabs">
		<div class="tab-content flex-vertical grow-two nav-panel">
			<nav class="tabs flex-horizontal">
				<a class="item" data-tab="description">Description</a>
				<a class="item" data-tab="friends-and-foes">Friends & Foes</a>
				{{#if isGM}}
				<a class="item" data-tab="randomizer">Randomizer</a>
				{{/if}}
			</nav>
			<div id="char-{{actor._id}}-description" class="tab flex-vertical description editor-tab" data-tab="description">
				{{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
			</div>

			<div id="char-{{actor._id}}-friends-and-foes" class="tab flex-vertical friends-and-foes" data-tab="friends-and-foes">
				<div class="flex-horizontal">
					<div class="char-connections-list allies-list">
						<div class="label-stripe flex-horizontal"><p>Allies</p></div>
					</div>
					<div class="char-connections-list enemies-list">
						<div class="label-stripe flex-horizontal"><p>Enemies</p></div>
					</div>
					<div class="char-connections-list others-list">
						<div class="label-stripe flex-horizontal"><p>Others</p></div>
					</div>
				</div>
			</div>

				{{#if isGM}}
			<div id="char-{{actor._id}}-randomizer" class="tab flex-vertical randomizer" data-tab="randomizer">
				{{> "systems/eunos-blades/templates/parts/button-icon.hbs"
					blockClass="tooltip-left"
					buttonClass="fas fas-galaxy"
					tooltip="<b>Randomize!</b>"
					action="randomize"
				}}
				<div class="randomizer">
					{{#each randomizers as |data key|}}
					<div class="char-randomizer-field field-size-{{data.size}}">
						{{> "systems/eunos-blades/templates/parts/toggle-icon.hbs"
							isToggled=data.isLocked
							activeClass="fas fa-lock"
							activeTooltip="<b>Field Frozen</b><br>Click to Randomize"
							inactiveClass="far fa-lock-open-alt"
							inactiveTooltip="<b>Randomizing Field</b><br>Click to Freeze"
							targetKey=(concat "data.randomizers." key ".isLocked") }}
						{{#if data.label}}
						<label class="randomizer-label">{{data.label}}</label>
						{{/if}}
						<input class="randomizer-input" type="text" value="{{data.value}}" name="data.randomizers.{{key}}.value" />
					</div>
					{{/each}}
				</div>
			</div>
			{{/if}}
		</div>
	</section>
</form>