<form class="{{cssClass}} actor-sheet" autocomplete="off">

	{{!-- Actor Img: Portrait --}}
	<img class="sheet-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
	{{#unless (test actor.img "==" "icons/svg/mystery-man.svg")}}
	<div class="sheet-img-bg full-width">
		<img src="{{actor.img}}" />
	</div>
	{{/unless}}

	{{!-- SubActor GM Alert --}}
	{{#if isGM}}{{#if isSubActor}}
		<div class="gm-alert-header">Editing as SubActor of {{parentActor.name}}</div>
	{{/if}}{{/if}}

	{{!-- Tags --}}
	{{#if isGM}}
		<input type="text" class="comp-tags tags-gm" />
	{{/if}}

	{{!-- Sheet Container --}}
	<div class="sheet-root">

		{{!-- Header --}}
		<section class="sheet-top">

			<input class="sheet-title shadowed" type="text" name="name" value="{{actor.name}}" placeholder="Who Are You?" />

			<input class="comp comp-concept sheet-subtitle shadowed" type="text" name="system.concept" value="{{system.concept}}" placeholder="Concept" />

			<div class="flex-horizontal comp-horizontal comp comp-labeled-input comp-district">
				<label class="comp-label shadowed">District:</label>
				<input class="comp-tags tags-district" data-tag-target="system.district" type="text">
			</div>

			<div class="flex-horizontal comp-horizontal comp comp-labeled-input comp-faction">
				<label class="comp-label shadowed">Faction:</label>
				<input class="tagify comp-tags tags-faction" data-tag-target="system.faction" type="text">
			</div>

			<div class="comp comp-traits">
				<input class="shadowed" type="text" name="system.traits.0" value="{{system.traits.[0]}}" placeholder="Trait">
				<input class="shadowed" type="text" name="system.traits.1" value="{{system.traits.[1]}}" placeholder="Trait">
				<input class="shadowed" type="text" name="system.traits.2" value="{{system.traits.[2]}}" placeholder="Trait">
			</div>

			<input class="comp comp-short-description shadowed" type="text" name="system.description_short" value="{{system.description_short}}" placeholder="Short Description">

		</section>

		{{!-- Tabs, Tab Navication --}}
		<section class="tab-content nav-group flex-vertical">

			{{!-- Nav menu --}}
			<nav class="nav-tabs flex-horizontal full-width">
				<a class="tab-selector" data-tab="description">Description</a>
				<a class="tab-selector" data-tab="friends-and-foes">Friends & Foes</a>
				{{#if isGM}}
				<a class="tab-selector" data-tab="randomizer">Randomizer</a>
				{{/if}}
			</nav>

			{{!-- Description --}}
			<div class="tab description flex-vertical" data-tab="description">
				{{editor system.description target="system.description" button=true owner=owner editable=editable}}
			</div>

			{{!-- Friends & Foes --}}
			<div class="tab friends-and-foes flex-vertical" data-tab="friends-and-foes">
				<div class="flex-horizontal">
					<div class="comp-connections-list allies-list">
						<label class="comp tab-label"><span class="tab-title">Allies</span></label>
					</div>
					<div class="comp-connections-list enemies-list">
						<label class="comp tab-label"><span class="tab-title">Enemies</span></label>
					</div>
					<div class="comp-connections-list others-list">
						<label class="comp tab-label"><span class="tab-title">Others</span></label>
					</div>
				</div>
			</div>

			{{!-- Randomizer --}}
			{{#if isGM}}
			<div class="tab randomizer flex-vertical" data-tab="randomizer">
				{{> "systems/eunos-blades/templates/parts/button-icon.hbs"
				buttonClass="fas fas-galaxy"
				tooltip="<b>Randomize!</b>"
				action="randomize"
				}}
				<div class="randomizer">
					{{#each randomizers as |data key|}}
					<div class="comp comp-randomizer-field field-size-{{data.size}}">
						{{> "systems/eunos-blades/templates/parts/toggle-icon.hbs"
						isToggled=data.isLocked
						activeClass="fas fa-lock"
						activeTooltip="<b>Field Frozen</b><br>Click to Randomize"
						inactiveClass="far fa-lock-open-alt"
						inactiveTooltip="<b>Randomizing Field</b><br>Click to Freeze"
						targetKey=(concat "system.randomizers." key ".isLocked") }}
						{{#if data.label}}
						<label class="comp-label shadowed randomizer-label">{{data.label}}</label>
						{{/if}}
						<input class="randomizer-input" type="text" value="{{data.value}}"
							name="system.randomizers.{{key}}.value" />
					</div>
					{{/each}}
				</div>
			</div>
			{{/if}}
		</section>
	</div>
</form>