{{log "ROLL COLLAB CONTEXT" this}}

<form class="{{cssClass}} roll-collab-sheet roll-collab-sheet-gm" autocomplete="off">
  <div class="sheet-root">
    <div class="split-root flex-horizontal">
      <div class="split-root-left">
        <section class="sheet-top">
          <h1 class="roll-type">{{rollType}} Roll</h1>
        </section>
        <section class="sheet-main tab-content nav-group flex-vertical">
          <div class="roll-sheet-block rolling-block flex-vertical">
            <div class="roll-sheet-sub-block rolling-header-block flex-horizontal">
              <label class="shadowed">Rolling:</label>
              {{#if rollTraitOptions}}
              <select class="roll-sheet-select roll-sheet-select-trait" name="flags.eunos-blades.rollCollab.rollTrait">
                {{#select rollTrait}}
                {{#each rollTraitOptions}}
                <option value="{{value}}">{{name}}</option>
                {{/each}}
                {{/select}}
              </select>
              {{else}}
              <span class="shadowed roll-readonly">{{rollTraitData.name}}</span>
              {{/if}}
              {{> "systems/eunos-blades/templates/components/dotline.hbs"
              data=rollTraitData
              isLocked=true
              iconFull="dot-full.svg"
              }}
            </div>
            <div class="roll-sheet-sub-block rolling-pos-effects-block flex-horizontal">
              {{#each rollMods.roll.positive as |mod_status mod_name|}}
              {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs"
                mod_name=mod_name
                mod_status=mod_status
                mod_type="roll"
                mod_cat="positive" }}
              {{/each}}
            </div>
            <div class="roll-sheet-sub-block rolling-neg-effects-block flex-horizontal">
              {{#each rollMods.roll.negative as |mod_status mod_name|}}
              {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs"
                mod_name=mod_name
                mod_status=mod_status
                mod_type="roll"
                mod_cat="negative" }}
              {{/each}}
            </div>
            <div class="roll-sheet-float-block rolling-dice-total-block">
              <span class="dice-total">{{diceTotal}}</span>
              <span class="d-symbol">d</span>
            </div>

          </div>
          <div class="roll-sheet-block position-block flex-vertical">
            <div class="roll-sheet-sub-block position-header-block flex-horizontal">
              <label class="shadowed">Position:</label>
              <span class="roll-readonly">{{rollPositionInitial}}</span>
            </div>
            <div class="roll-sheet-sub-block rolling-pos-effects-block flex-horizontal">
              {{#each rollMods.position.positive as |mod_status mod_name|}}
              {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs"
                mod_name=mod_name
                mod_status=mod_status
                mod_type="position"
                mod_cat="positive" }}
              {{/each}}
            </div>
            <div class="roll-sheet-sub-block rolling-neg-effects-block flex-horizontal">
              {{#each rollMods.position.negative as |mod_status mod_name|}}
              {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs"
                mod_name=mod_name
                mod_status=mod_status
                mod_type="position"
                mod_cat="negative" }}
              {{/each}}
            </div>
            <div class="roll-sheet-float-block position-final-block position-{{case "lower" rollPositionFinal}}">
              <span class="shadowed roll-readonly">{{rollPositionFinal}}</span>
            </div>
          </div>
          <div class="roll-sheet-block effect-block flex-vertical">
            <div class="roll-sheet-sub-block effect-header-block flex-horizontal">
              <label class="shadowed">Effect:</label>
              <span class="roll-readonly">{{rollEffectInitial}}</span>
            </div>
            <div class="roll-sheet-sub-block rolling-pos-effects-block flex-horizontal">
              {{#each rollMods.effect.positive as |mod_status mod_name|}}
              {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs"
                mod_name=mod_name
                mod_status=mod_status
                mod_type="effect"
                mod_cat="positive" }}
              {{/each}}
            </div>
            <div class="roll-sheet-sub-block rolling-neg-effects-block flex-horizontal">
              {{#each rollMods.effect.negative as |mod_status mod_name|}}
              {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs"
                mod_name=mod_name
                mod_status=mod_status
                mod_type="effect"
                mod_cat="negative" }}
              {{/each}}
            </div>
            <div class="roll-sheet-float-block effect-final-block effect-{{case "lower" rollEffectFinal}}">
              <span class="shadowed roll-readonly">{{rollEffectFinal}}</span>
            </div>
          </div>
          {{#if isAffectingResult}}
          <div class="roll-sheet-block result-block flex-vertical">
            <div class="roll-sheet-sub-block result-header-block flex-horizontal">
              <label class="shadowed">Result:</label>
            </div>
            <div class="roll-sheet-sub-block rolling-pos-effects-block flex-horizontal">
              {{#each rollMods.result.positive as |mod_status mod_name|}}
              {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs"
                mod_name=mod_name
                mod_status=mod_status
                mod_type="result"
                mod_cat="positive" }}
              {{/each}}
            </div>
            <div class="roll-sheet-sub-block rolling-neg-effects-block flex-horizontal">
              {{#each rollMods.result.negative as |mod_status mod_name|}}
              {{> "systems/eunos-blades/templates/components/roll-collab-mod.hbs"
                mod_name=mod_name
                mod_status=mod_status
                mod_type="result"
                mod_cat="negative" }}
              {{/each}}
            </div>
            <div class="roll-sheet-float-block result-final-block result-{{#if (test rollResultFinal "<" 0)}}negative{{/if}}{{~#if (test rollResultFinal "==" 0)}}neutral{{/if}}{{~#if (test rollResultFinal ">" 0)}}positive{{/if}}">
              <span class="shadowed roll-readonly">{{signNum rollResultFinal}} Result</span>
            </div>
          </div>
          {{/if}}
        </section>
      </div>
      <div class="split-root-right">
        <section class="sheet-top">
          <div class="roll-sheet-block factors-block flex-vertical">
            {{#each rollFactorData}}
            <div class="roll-factor flex-horizontal">
              <label class="shadowed roll-factor-label">{{name}}</label>
              <span class="shadowed roll-factor-value {{cssClasses}}">{{value}}</span>
            </div>
            {{/each}}
            <label class="shadowed roll-factor-vs">vs.</label>
          </div>
        </section>
        <section class="sheet-main tab-content nav-group flex-vertical">
          {{#if rollOpposition}}
          {{> "systems/eunos-blades/templates/components/roll-collab-opposition.hbs" rollOpposition}}
          {{/if}}
        </section>
      </div>
    </div>
    <section class="sheet-footer">
      <div class="roll-sheet-float-block roll-button">
        <div class="roll-odds-strip">
          {{#each rollOddsData}}
          <span class="roll-odds tooltip-trigger {{cssClasses}}" style="width: {{calc odds "*" 100}}%;">{{result}}</span>
          <span class="tooltip tooltip-roll-odds">{{{tooltip}}}</span>
          {{/each}}
        </div>
        <button class="roll-button {{~#unless isGMReady}} roll-readonly{{/unless}}" {{~#if isGMReady}} data-action="roll" data-roll-id="{{rollID}}"{{/if}}>ROLL</button>
      </div>
      {{#if stressData}}
      <div class="roll-sheet-float-block roll-stress-block tooltip-trigger">
        <span class="shadowed roll-stress-cost">({{stressData.cost}} Stress)</span>
        <span class="tooltip tooltip-roll-stress">{{{stressData.tooltip}}}</span>
      </div>
      {{/if}}
    </section>
  </div>
</form>