{{!-- {{eLog "BUTTON CONTEXT" this}} --}}

<a class="button-icon {{blockClass}} {{~#if tooltip}} tooltip-trigger{{/if}}"
  data-action="{{action}}"
  data-key-id="{{targetId}}"
  data-value="{{value}}"
>
  {{#if buttonClass}}
    <i class="{{buttonClass}}" {{~#if buttonStyle}}style="{{buttonStyle}}"{{/if}}></i>
  {{/if}}
  {{#if toggleIconKey}}
    <i class="fa-sharp fa-{{#if toggleIconValue}}solid{{else}}regular{{/if}} fa-{{toggleIconKey}}{{#unless toggleIconValue}}-slash{{/unless}}"></i>
  {{/if}}
  {{#if buttonImg}}
    <img class="button-img" src="{{buttonImg}}" />
  {{/if}}
  {{#if tooltip}}
    <span class="tooltip button-icon-tooltip">{{{tooltip}}}</span>
  {{/if}}
</a>