<div class="clock {{~#if isActive}} clock-active{{/if}}" {{~#if target}} data-target="{{target}}"{{/if}} {{~#if clockNum}} data-index="{{clockNum}}"{{/if}} data-size="{{max}}" data-value="{{value}}">
  {{#if isVisible}}
  <div class="clock-interior" style="clip-path: url(#{{value}}-of-{{max}}); {{~#if (test value "==" 0)}} opacity: 0;{{/if}}">
    <svg viewBox="0 0 400 400">
      <circle cx="200" cy="200" r="200" />
    </svg>
    {{#if color}}
    <img class="clock-interior-img" src="systems/eunos-blades/assets/clocks/clock-glow-{{color}}.webp" style="{{#if (test value "==" 0)}}opacity: 0;{{/if}}" />
    {{/if}}
  </div>
  <svg class="clock-frame" viewBox="0 0 400 400">
    <g class="segmented" data-size="{{max}}">
      {{#forloop 1 max}}
        <use href="#{{../max}}-segment" />
      {{/forloop}}
    </g>
  </svg>
  {{/if}}
  <svg class="clock-frame clock-bg {{~#unless isVisible}} hidden-clock{{/unless}}" viewBox="0 0 400 400">
    <circle class="clock-bg" cx="200" cy="200" r="200" />
  </svg>
    {{#if isVisible}}
  {{#unless (test value "==" 0)}}
  <div class="clock-glow" style="{{#unless (test value "==" max)}}clip-path: url(#{{value}}-of-{{max}});{{/unless}}"></div>
  {{/unless}}
  {{/if}}
</div>