{{eLog (concat "Clock Key Context of " id) this}}

<div class="clock-key-container" data-size="{{size}}">

  <div id="{{id}}" class="clock-key"
    data-id="{{id}}"
    data-size="{{size}}"
    data-is-visible="{{isVisible}}"
    data-is-name-visible="{{isNameVisible}}"
    data-is-spotlit="{{isSpotlit}}"
  >
    <label class="key-label {{~#unless isNameVisible}} label-hidden{{/unless}}">{{name}}</label>
    <div class="key-image-container {{~#if (test size "==" 1)}} one-key-image-container{{/if}}">
      <svg class="key-image" viewBox="0 0 {{fullDisplayPosData.width}} {{fullDisplayPosData.height}}">
        {{#if (test size "==" 1)}}
          <use href="#{{oneKeyIndex}}-one-key" class="key-bg" />
          <rect class="metallic-overlay" x="0" y="0" clip-path="url(#{{oneKeyIndex}}-one-key-clip" />
        {{else}}
          <use href="#{{size}}-key" class="key-bg" />
          <rect class="metallic-overlay" x="0" y="0" clip-path="url(#{{size}}-key-clip" />
        {{/if}}
      </svg>
      {{#each clocks }}
        {{> "systems/eunos-blades/templates/components/clock.hbs" }}
      {{/each}}
      {{#if isFactionKey}}
      <div class="faction-container">
      <label class="faction-label">{{target.name}}</label>
      <div class="faction-image">
        <img src="{{target.img}}" />
      </div>
      </div>
      {{/if}}
    </div>
  </div>

</div>