<div class="comp consequence-display-container full-width"
      data-user-id="{{userId}}"
      data-roll-id="{{rollId}}"
      data-csq-name="{{name}}"
      data-csq-type="{{type}}"
      data-resist-attribute="{{attribute}}"
      data-resist-name="{{resistedTo.name}}"
      data-resist-type="{{resistedTo.type}}" >

  {{#unless isMinimal}}
  <img class="consequence-bg-image" src="systems/eunos-blades/assets/chat/csq-strip-long.png" />
  {{/unless}}

  <div class="consequence-interaction-pad accept-consequence-pad"></div>
  <div class="consequence-interaction-pad resist-consequence-pad"></div>
  {{#if specialArmorTo}}
    <div class="consequence-interaction-pad special-armor-consequence-pad"></div>
  {{/if}}
  <div class="consequence-icon-container">
    <div class="consequence-icon-circle base-consequence">
      {{eLog "ICON DATA" icon}}
      <img class="consequence-icon-img" src="systems/eunos-blades/assets/icons/consequence-icons/base-{{icon}}.svg" />
    </div>
    <div class="consequence-icon-circle accept-consequence">
      <img class="consequence-icon-img" src="systems/eunos-blades/assets/icons/consequence-icons/accept-{{icon}}.svg" />
    </div>
    <div class="consequence-icon-circle resist-consequence">
      {{#if resistedTo.icon}}
      <img class="consequence-icon-img" src="systems/eunos-blades/assets/icons/consequence-icons/resist-{{resistedTo.icon}}.svg" />
      {{/if}}
    </div>
    {{#if specialArmorTo}}
    <div class="consequence-icon-circle special-armor-consequence">
      {{#if specialArmorTo.icon}}
      <img class="consequence-icon-img" src="systems/eunos-blades/assets/icons/consequence-icons/special-{{specialArmorTo.icon}}.svg" />
      {{/if}}
    </div>
    {{/if}}

    <div class="consequence-button-container consequence-resist-button-container resist-consequence">
      <div class="consequence-button-bg consequence-resist-button-bg"></div>
      <label class="consequence-button-label consequence-resist-button-label">RESIST</label>
      {{> "systems/eunos-blades/templates/components/button-icon.hbs"
        blockClass="consequence-resist-button"
        buttonClass="fa-solid fa-hand-fist"
        action="resist-consequence"
      }}
    </div>
    <div class="consequence-button-container consequence-accept-button-container accept-consequence">
      <div class="consequence-button-bg consequence-accept-button-bg"></div>
      {{> "systems/eunos-blades/templates/components/button-icon.hbs"
        blockClass="consequence-accept-button"
        buttonClass="fa-solid fa-square-check"
        action="accept-consequence"
      }}
      <label class="consequence-button-label consequence-accept-button-label">ACCEPT</label>
    </div>
    {{#if specialArmorTo}}
    <div class="consequence-button-container consequence-special-armor-button-container special-armor-consequence">
      <div class="consequence-button-bg consequence-special-armor-button-bg"></div>
      <label class="consequence-button-label consequence-special-armor-button-label">SPECIAL</label>
      {{> "systems/eunos-blades/templates/components/button-icon.hbs"
        blockClass="consequence-special-armor-button"
        buttonClass="fa-duotone fa-shield-quartered"
        action="special-armor-consequence"
      }}
    </div>
    {{/if}}

  </div>

  <div class="consequence-type-container">

    <label class="consequence-type base-consequence">{{typeDisplay}}</label>

    <div class="consequence-type-bg accept-consequence"></div>
    <label class="consequence-type accept-consequence">{{typeDisplay}}</label>

    {{#unless (test resistedTo.type "==" "None")}}
    <label class="consequence-type resist-consequence">{{resistedTo.typeDisplay}}</label>
    {{/unless}}

    {{#if specialArmorTo}}
    {{#unless (test specialArmorTo.type "==" "None")}}
    <label class="consequence-type special-armor-consequence">{{specialArmorTo.typeDisplay}}</label>
    {{/unless}}
    {{/if}}

  </div>

  <div class="consequence-name-container">

    <label class="consequence-name base-consequence">{{name}}</label>
    <label class="consequence-name accept-consequence">{{name}}</label>

    {{#if (test resistedTo.type "==" "None")}}
    <label class="consequence-name resist-consequence fully-negated">(Fully Negated!)</label>
    {{else}}
    <label class="consequence-name resist-consequence">{{resistedTo.name}}</label>
    {{/if}}

    {{#if specialArmorTo}}
    {{#if (test specialArmorTo.type "==" "None")}}
    <label class="consequence-name special-armor-consequence fully-negated">(Fully Negated!)</label>
    {{else}}
    <label class="consequence-name special-armor-consequence">{{specialArmorTo.name}}</label>
    {{/if}}
    {{/if}}

  </div>

  <div class="consequence-footer-container">
    <div class="consequence-footer-bg resist-consequence"></div>
    <label class="consequence-footer-message consequence-resist-attribute flex-horizontal resist-consequence">
      {{case "upper" attribute}}
      <div class="dotline locked">
      {{#for 1 attributeVal}}
      <span class="dot full-dot"></span>
      {{/for}}
      </div>
    </label>

    {{#if specialArmorTo}}
    {{#if specialArmorTo.footerMsg}}
    <div class="consequence-footer-bg special-armor-consequence"></div>
    <label class="consequence-footer-message consequence-special-armor-message special-armor-consequence">{{specialArmorTo.footerMsg}}</label>
    {{/if}}
    {{/if}}
  </div>


</div>
