
<div class="dotline {{~#if dotlineClass}} {{dotlineClass}}{{/if}} {{~#if isLocked}} locked{{/if}}" {{~#unless isLocked}}data-target="{{target}}"{{/unless}} data-value="{{data.value}}">
  {{#if dotlineLabel}}
    <label class="dotline-label">{{dotlineLabel}}:&nbsp;</label>
  {{/if}}
  {{!-- Filled Dots --}}
  {{#forloop 1 (calc (test value "??" data.value) "min" (test (test max "??" data.max) "??" (test value "??" data.value)))}}
  <span class="dot full-dot {{~#if (test this "==" (test value "??" data.value))}} value-dot{{/if}} {{~#if ../svgKey}} svg-dot{{/if}}" data-value="{{this}}" data-dtype="Number">
    {{#if (test ../altIconStep "&&" (test (calc this "%" ../altIconStep) "==" 0))}}
      {{#if ../altIconFullHover}}
        <img class="img-hover" src="systems/eunos-blades/assets/icons/dotline-icons/{{../altIconFullHover}}" />
      {{/if}}
      {{#if ../svgAltFullHover}}
        {{{compileSvg ../svgAltKey ../svgAltFullHover}}}
      {{/if}}
      {{#if ../altIconFull}}
        <img class="img-main" src="systems/eunos-blades/assets/icons/dotline-icons/{{../altIconFull}}" />
      {{/if}}
      {{#if ../svgAltFull}}
        {{{compileSvg ../svgAltKey ../svgAltFull}}}
      {{/if}}
    {{else}}
      {{#if ../iconFullHover}}
        <img class="img-hover" src="systems/eunos-blades/assets/icons/dotline-icons/{{../iconFullHover}}" />
      {{/if}}
      {{#if ../svgFullHover}}
        {{{compileSvg ../svgKey ../svgFullHover}}}
      {{/if}}
      {{#if ../iconFull}}
        <img class="img-main" src="systems/eunos-blades/assets/icons/dotline-icons/{{../iconFull}}" />
      {{/if}}
      {{#if ../svgFull}}
        {{{compileSvg ../svgKey ../svgFull}}}
      {{/if}}
    {{/if}}
  </span>
  {{/forloop}}

  {{!-- Empty Dots --}}
  {{#if (test max "??" data.max)}}
  {{#forloop (calc (test value "??" data.value) "+" 1) (test max "??" data.max)}}
  <span class="dot empty-dot {{~#if ../svgKey}} svg-dot{{/if}}" data-value="{{this}}" data-dtype="Number">
    {{#if ../iconEmptyHover}}
      <img class="img-hover" src="systems/eunos-blades/assets/icons/dotline-icons/{{../iconEmptyHover}}" />
    {{/if}}
    {{#if ../svgEmptyHover}}
      {{{compileSvg ../svgKey ../svgEmptyHover}}}
    {{/if}}
    {{#if ../iconEmpty}}
      <img class="img-main" src="systems/eunos-blades/assets/icons/dotline-icons/{{../iconEmpty}}" />
    {{/if}}
    {{#if ../svgEmpty}}
      {{{compileSvg ../svgKey ../svgEmpty}}}
    {{/if}}
  </span>
  {{/forloop}}
  {{/if}}

  {{#if advanceButton}}
  <button class="advance-button gold-orbit" data-action="{{advanceButton}}">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    ADVANCE!
  </button>
  {{/if}}

</div>