<div class="comp comp-vertical portrait-block" data-comp-cat="{{cat}}" {{~#if id}} data-comp-id="{{id}}"{{/if}}>

  {{~#if label}}
    {{~#if id}}
      <label class="comp-label {{#if labelClass}}{{labelClass}} {{/if}}shadowed">
        {{~#if (test cat "&&" addButton)}}
          <a class="comp-control comp-add">{{label}}</a>
        {{else}}
          {{label}}
        {{/if~}}
      </label>
    {{~else}}
      <label class="comp-label {{~#if addButton}} comp-prompt{{/if}}{{~#if labelClass}} {{labelClass}}{{else}} shadowed{{/if}}">
        {{~#if addButton}}
          <a class="comp-control comp-add">
            <span class="sur-title">Select Your</span>
            <span class="main-title">{{label}}</span>
          </a>
        {{else}}
          {{label}}
        {{/if~}}
      </label>
    {{/if~}}
  {{else}}
      <label class="comp-label">&nbsp;</label>
  {{/if~}}

  <div class="comp-body">
    {{#if img}}<img class="comp-img" src="{{img}}" />{{/if}}
    {{#if name}}<div class="comp-title shadowed">{{name}}</div>{{/if}}
  </div>

  {{#if (test id "&&" remButton)}}
  <a class="comp-control comp-delete comp-button" title="Delete item">
    <i class="fa-sharp fa-solid fa-xmark"></i>
  </a>
  {{/if}}

</div>