<span class="roll-mod-container">
  <span
    class="roll-mod shadowed posneg-{{posNeg}} status-{{case "lower" status}} {{~#if tooltip}} tooltip-trigger{{/if}}{{~#if sideString}} roll-mod-sidestring{{/if}}{{~#if modType}} roll-mod-{{modType}}{{/if}}"
    data-action="{{#if (test @root.isGM "||" (test "Toggle" "in" status))}}toggle{{/if}}"
    data-status="{{status}}"
    data-pos-neg="{{posNeg}}"
    data-cat="{{category}}"
    data-name="{{name}}"
  >{{name}}{{#if sideString}}:{{/if}}</span>

  {{#if tooltip}}
  <div class="tooltip tooltip-small tooltip-left tooltip-roll-mod">{{{tooltip}}}</div>
  {{/if}}
  {{#if sideString}}
  <span class="roll-mod-side-string shadowed">{{{sideString}}}</span>
  {{/if}}
</span>