  <div class="roll-sheet-block factors-block roll-opp-factors roll-opp-type-{{@root.rollOpposition.type}} flex-vertical">
    {{#each factorData}}
    {{#unless isPrimary}}
    {{#if isActive}}
    <div class="roll-factor roll-factor-{{name}} {{~#if isPrimary}} roll-factor-primary{{/if}}{{#if cssClasses}} {{cssClasses}}{{/if}} flex-horizontal">
      <label class="shadowed roll-factor-label">{{name}}</label>
      <span class="shadowed roll-factor-value">{{display}}</span>
    </div>
    {{/if}}
    {{/unless}}
    {{/each}}
  </div>
