<span class="roll-mod status-{{case "lower" mod_status}}" {{~#if (test "Toggle" "in" mod_status)}}
  data-action="toggle" data-type="{{mod_type}}" data-cat="{{mod_cat}}" data-name="{{mod_name}}"{{/if}}
>
  {{mod_name}}
</span>