<select class="blades-select {{~#if cssClass}} {{cssClass}}{{/if}}"
  data-action="{{dataAction}}" data-dtype="{{dataDType}}"
  {{#if dataFlagTarget}}data-flag-target="{{dataFlagTarget}}"{{else}}data-target="{{dataTarget}}"{{/if}}
  {{#if dataDocType}}data-doc-type="{{dataDocType}}"{{/if}}>

  {{#select selected}}
    <option value="" hidden disabled selected></option>
    {{#each options}}
      <option value="{{value}}">{{display}}</option>
    {{/each}}
  {{/select}}

</select>