<form class="{{cssClass}}" autocomplete="off">
  <div class="sheet-root">

    {{#if isGM}}
    <input type="text" class="comp-tags tags-gm" />
    {{/if}}

    <section class="sheet-top">
      <img class="sheet-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
      <input class="comp-title sheet-title shadowed" type="text" name="name" value="{{item.name}}"
        placeholder="{{localize 'BITD.Name'}}" />
    </section>
    <section class="item-main flex-vertical">
      {{#if (test isGM "||" isEmbeddedItem)}}
      <label class="tab-label">
        <span class="tab-title">Description</span>
      </label>
      {{editor system.description target="system.description" button=true owner=owner editable=editable}}
      {{/if}}

      <label class="tab-label">
        <span class="tab-title">Rules</span>
      </label>
      {{editor system.rules target="system.rules" button=true owner=owner editable=editable}}

      {{#if (test isGM "||" system.rules_notes)}}
      <label class="tab-label">
        <span class="tab-title">Additional Rules Notes</span>
      </label>
      {{editor system.rules_notes target="system.rules_notes" button=true owner=owner editable=editable}}
      {{/if}}

      {{#if (test isGM "||" (test system.load "||" (test system.uses.max "||" system.num_available)))}}
      <div class="flex-horizontal full-width">
        {{#if (test isGM "||" system.price)}}
        <div class="comp comp-horizontal">
          <label class="comp-label comp-input-label">Cost: </label>
          <input class="comp-number-input" data-dtype="Number" type="number" name="system.price" value="{{system.price}}">
        </div>
        {{/if}}
        {{#if (test isGM "||" system.uses.max)}}
        <div class="comp comp-horizontal">
          <label class="comp-label comp-input-label">Uses: </label>
          <input class="comp-number-input" data-dtype="Number" type="number" name="system.uses.max"
            value="{{system.uses.max}}">
        </div>
        {{/if}}
        {{#if (test isGM "||" system.num_available)}}
        <div class="comp comp-horizontal">
          <label class="comp-label comp-input-label">Max per Score: </label>
          <input class="comp-number-input" data-dtype="Number" type="number" name="system.num_available"
            value="{{system.num_available}}">
        </div>
        {{/if}}
      </div>
      {{/if}}

      {{#if isGM}}
      <label class="tab-label">
        <span class="tab-title">Active Effects</span>
        <a class="comp-control comp-add effect-control" data-action="create" title="Create Effect">
          <i class="fas fa-plus-square"></i>
        </a>
      </label>
      {{> "systems/eunos-blades/templates/parts/active-effects.hbs"}}
      {{/if}}
    </section>
  </div>
</form>