<form class="{{cssClass}}" autocomplete="off">
	<section class="header">
		<h1>Clock Keeper</h1>
	</section>
	<section class="main">
		<div class="scene-selection">
			<label>Scene:</label>
			<select name="data.targetScene">
				{{#select data.targetScene}}
				{{#each data.scenes}}
				<option value="{{id}}">{{name}}</option>
				{{/each}}
				{{/select}}
			</select>
		</div>
		<div class="keys-container">
			<table>
				<thead>
					<th class="black-white">State</th>
					<th class="black-white">Name</th>
					<th class="black-white">Size</th>
					<th class="black-white">
						{{> "systems/eunos-blades/templates/parts/button-icon.hbs"
							blockClass="tooltip-left"
							buttonClass="fas fa-plus-square"
							tooltip="<b>Add Key</b>"
							action="add-key"
						}}
					</th>
				</thead>
				<tbody>
					{{#each data.clock_keys as |keyData keyID|}}
					<tr>
							<th class="black-white">
								{{> "systems/eunos-blades/templates/parts/toggle-icon.hbs"
									isToggled=keyData.isVisible
									activeClass="fas fa-eye"
									activeTooltip="<b>Key is Visible</b><br>Click to Hide"
									inactiveClass="fas fa-eye-slash"
									inactiveTooltip="<b>Key is Hidden</b><br>Click to Show"
									targetKey=(concat "data.clock_keys." keyID ".isVisible") }}
								{{> "systems/eunos-blades/templates/parts/toggle-icon.hbs"
									isToggled=keyData.isActive
									activeClass="fas fa-bell"
									activeTooltip="<b>Key is Focused</b><br>Click to Mute"
									inactiveClass="fas fa-bell-slash"
									inactiveTooltip="<b>Key is Muted</b><br>Click to Focus"
									targetKey=(concat "data.clock_keys." keyID ".isActive") }}
							</th>
							<th class="black-white">
								{{> "systems/eunos-blades/templates/parts/toggle-icon.hbs"
									isToggled=keyData.isNameVisible
									activeClass="fas fa-comment"
									activeTooltip="<b>Name is Visible</b><br>Click to Hide"
									inactiveClass="fas fa-comment-slash"
									inactiveTooltip="<b>Name is Hidden</b><br>Click to Show"
									targetKey=(concat "data.clock_keys." keyID ".isNameVisible") }}
								<input type="text" class="key-input key-input-display" name="data.clock_keys.{{keyID}}.display" value="{{keyData.display}}">
							</th>
							<th class="black-white">
								<select class="key-clock-counter" data-dtype="number" data-id="{{keyID}}" name="data.clock_keys.{{keyID}}.numClocks">
									{{#select keyData.numClocks}}
									{{#times_from_1 6}}
									<option value="{{this}}">{{this}}</option>
									{{/times_from_1}}
									{{/select}}
								</select>
							</th>
							<th class="black-white">
								{{> "systems/eunos-blades/templates/parts/button-icon.hbs"
									blockClass="tooltip-left"
									buttonClass="fas fa-trash"
									tooltip="<b>Delete Key</b>"
									action="delete-key"
									targetId=keyID
								}}
							</th>
						</tr>
						{{#times_from_1 keyData.numClocks}}
						{{> "systems/eunos-blades/templates/parts/clock-sheet-row.hbs" keyID=keyID keyData=keyData clockData=(lookup keyData.clocks this) clockNum=this}}
						{{/times_from_1}}
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</section>
</form>