<form class="{{cssClass}} clock-keeper-sheet" autocomplete="off">

  <img class="sheet-img" src="{{item.img}}" />
  {{eLog "Clock Keeper Sheet" this}}

  {{!-- Sheet Container --}}
  <div class="sheet-root">

    {{!-- Header --}}
    <section class="sheet-top">
      <input class="sheet-title shadowed" type="text" readonly value="Clock Keeper">
    </section>

    {{!-- Tabs, Tab Navigation --}}
    <section class="tab-content flex-vertical">
      <div class="scene-selection">
        <label>Scene:</label>
        <select name="system.targetScene">
          {{#select system.targetScene}}
          {{#each system.scenes}}
          <option value="{{id}}">{{name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>
      <div class="keys-container full-width">
        <table>
          <thead>
            <th class="black-white">State</th>
            <th class="black-white">Name</th>
            <th class="black-white">Size</th>
            <th class="black-white">
              {{> "systems/eunos-blades/templates/components/button-icon.hbs"
                buttonClass="fas fa-plus-square"
                tooltip="<b>Add Key</b>"
                action="add-key"
              }}
            </th>
          </thead>
          <tbody>
            {{#each clock_keys as |keyData keyID|}}
            <tr>
                <th class="black-white">
                  {{> "systems/eunos-blades/templates/components/toggle-icon.hbs"
                    isToggled=keyData.isVisible
                    activeClass="fas fa-eye"
                    activeTooltip="<b>Key is Visible</b><br>Click to Hide"
                    inactiveClass="fas fa-eye-slash"
                    inactiveTooltip="<b>Key is Hidden</b><br>Click to Show"
                    targetKey=(concat "system.clock_keys." keyID ".isVisible") }}
                  {{> "systems/eunos-blades/templates/components/toggle-icon.hbs"
                    isToggled=keyData.isActive
                    activeClass="fas fa-bell"
                    activeTooltip="<b>Key is Focused</b><br>Click to Mute"
                    inactiveClass="fas fa-bell-slash"
                    inactiveTooltip="<b>Key is Muted</b><br>Click to Focus"
                    targetKey=(concat "system.clock_keys." keyID ".isActive") }}
                  {{> "systems/eunos-blades/templates/components/toggle-icon.hbs"
                    isToggled=keyData.isNameVisible
                    activeClass="fas fa-comment"
                    activeTooltip="<b>Name is Visible</b><br>Click to Hide"
                    inactiveClass="fas fa-comment-slash"
                    inactiveTooltip="<b>Name is Hidden</b><br>Click to Show"
                    targetKey=(concat "system.clock_keys." keyID ".isNameVisible") }}
                </th>
                <th class="black-white">
                  <input type="text" class="key-input key-input-display" name="system.clock_keys.{{keyID}}.display" value="{{keyData.display}}">
                </th>
                <th class="black-white">
                  <select class="key-clock-counter" data-dtype="number" data-id="{{keyID}}" name="system.clock_keys.{{keyID}}.numClocks">
                    {{#select keyData.numClocks}}
                    {{#for 1 6}}
                    <option value="{{this}}">{{this}}</option>
                    {{/for}}
                    {{/select}}
                  </select>
                </th>
                <th class="black-white">
                  {{> "systems/eunos-blades/templates/components/button-icon.hbs"
                    buttonClass="fas fa-trash"
                    tooltip="<b>Delete Key</b>"
                    action="delete-key"
                    targetId=keyID
                  }}
                </th>
              </tr>

              {{#for 1 keyData.numClocks}}
              {{> "systems/eunos-blades/templates/parts/clock-sheet-row.hbs" keyID=keyID keyData=keyData clockData=(lookup keyData.clocks this) clockNum=this}}
              {{/for}}
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </section>
  </div>
</form>