<form class="{{cssClass}} clock-keeper-sheet" autocomplete="off">

  <img class="sheet-img" src="{{item.img}}" />
  {{eLog "Clock Keeper Sheet" this}}

  {{!-- Sheet Container --}}
  <div class="sheet-root">

    {{!-- Header --}}
    <section class="sheet-top">
      <input class="sheet-title shadowed" type="text" readonly value="Clock Keeper">
    </section>

    {{!-- Tabs, Tab Navigation --}}
    <section class="tab-content flex-vertical">
      <div class="scene-selection">
        <label>Scene:</label>
        <select name="system.targetScene">
          {{#select system.targetScene}}
          {{#each sceneOptions }}
          <option value="{{id}}">{{name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>
      <div class="keys-container full-width">
        <table>
          <thead>
            <th class="black-white">State</th>
            <th class="black-white">Name</th>
            <th class="black-white">Size</th>
            <th class="black-white">
              {{> "systems/eunos-blades/templates/components/button-icon.hbs"
                buttonClass="fa-sharp fa-solid fa-square-plus"
                tooltip="<b>Add Key</b>"
                action="add-key"
              }}
            </th>
          </thead>
          <tbody>
            {{#each sceneKeys as |key keyID|}}

            {{> "systems/eunos-blades/parts/clock-sheet-key.hbs" }}


            {{/each}}
          </tbody>
        </table>
      </div>
    </section>
  </div>
</form>