<form class="{{cssClass}}" autocomplete="off">
  <div class="sheet-root">

    {{#if isGM}}
    <input type="text" class="comp-tags tags-gm" />
    {{/if}}

    <section class="sheet-top">
      <img class="sheet-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
      <input class="comp-title sheet-title shadowed" type="text" name="name" value="{{item.name}}"
        placeholder="{{localize 'BITD.Name'}}" />
    </section>

    <section class="item-main flex-vertical">
      {{#if isEmbeddedItem}}
      <label class="tab-label">
        <span class="tab-title">Description</span>
      </label>
      {{editor system.description target="system.description" button=true owner=owner editable=editable}}
      {{/if}}

      <label class="tab-label">
        <span class="tab-title">Rules</span>
      </label>
      {{editor system.rules target="system.rules" button=true owner=owner editable=editable}}

      {{#if (test isGM "||" system.rules_notes)}}
      {{editor system.rules_notes target="system.rules_notes" button=true owner=owner editable=editable}}
      {{/if}}

      <div class="flex-vertical">
        <label class="label-stripe">{{localize "BITD.AbilityPrice"}}</label>
        <input data-dtype="Number" id="ability-price" type="text" name="system.price" value="{{system.price}}"
          placeholder="{{localize 'BITD.AbilityPrice'}}">
      </div>

      {{#if isGM}}
      <label class="tab-label">
        <span class="tab-title">Active Effects</span>
      </label>
      {{> "systems/eunos-blades/templates/parts/active-effects.hbs"}}
      {{/if}}
    </section>
  </div>
</form>