<form class="{{cssClass}} crew-type" autocomplete="off">
  <div class="sheet-root">

    {{#if isGM}}
    <input type="text" class="comp-tags tags-gm" />
    {{/if}}

    <section class="sheet-top">
      <img class="sheet-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
      <input class="comp-title sheet-title shadowed" type="text" name="name" value="{{item.name}}"
        placeholder="{{localize 'BITD.Name'}}" />
    </section>

    <section class="item-main flex-vertical">

      <textarea class="crew-type-description" name="system.description" placeholder="(Description)" {{~#unless editable}}
        readonly{{/unless}}>{{system.description}}</textarea>
      <label class="label-stripe">{{localize "BITD.ExpClues"}}</label>
      {{editor system.experience_clues target="system.experience_clues" button=true owner=owner editable=editable}}

      <label class="label-stripe">{{localize "BITD.Turf"}}</label>
      <div id="turf-container">
        {{> "systems/eunos-blades/templates/parts/turf-list.hbs" turfs_data=system.turfs can_edit=true editable=editable}}
      </div>

      {{#if isGM}}
      <label class="tab-label">
        <span class="tab-title">Active Effects</span>
        <a class="comp-control comp-add effect-control" data-action="create" title="Create Effect">
          <i class="fas fa-plus-square"></i>
        </a>
      </label>
      {{> "systems/eunos-blades/templates/parts/active-effects.hbs"}}
      {{/if}}
    </section>
  </div>
</form>