<form class="{{cssClass}}" autocomplete="off">
  <div class="sheet-root">

    {{#if isGM}}
    <input type="text" class="comp-tags tags-gm" />
    {{/if}}
  <section class="sheet-top">
    <img class="sheet-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <input class="comp-title sheet-title shadowed" type="text" name="name" value="{{item.name}}" placeholder="{{localize 'BITD.Name'}}" />
  </section>


  {{!-- Sheet Body --}}
  <section class="item-main flex-vertical">
    {{#if isEmbeddedItem}}
    <label class="tab-label">
      <span class="tab-title">Description</span>
    </label>
    {{editor system.description target="system.description" button=true owner=owner editable=editable}}
    {{/if}}

    <label class="tab-label">
      <span class="tab-title">Rules</span>
    </label>
    {{editor system.rules target="system.rules" button=true owner=owner editable=editable}}

    {{#if (test isGM "||" system.rules_notes)}}
    <label class="tab-label">
      <span class="tab-title">Additional Rules Notes</span>
    </label>
    {{editor system.rules_notes target="system.rules_notes" button=true owner=owner editable=editable}}
    {{/if}}

    <div class="flex-horizontal">
      <label>{{localize "BITD.Price"}}</label>
      <input data-dtype="Number" type="number" name="system.price" value="{{system.price}}">
    </div>

    {{#if isGM}}
      <div class="label-stripe">{{localize "BITD.Effects"}}</div>
      <div id="effects">{{> "systems/eunos-blades/templates/parts/active-effects.hbs"}}</div>
    {{/if}}
  </section>
  </div>
</form>
