
<form class="{{cssClass}}" autocomplete="off">
	<section class="item-top flex-horizontal">
		<img src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
		<input class="item-name top-title shadowed" type="text" name="name" value="{{item.name}}" placeholder="{{localize 'BITD.Name'}}" />
	</section>
	<section class="item-main flex-vertical">
		<label class="tab-label">
			<span class="tab-title">Rules</span>
		</label>
		{{editor content=data.rules target="data.rules" button=true owner=owner editable=editable}}

		{{#if (test isGM "||" data.rules_notes)}}
		<label class="tab-label">
			<span class="tab-title">Additional Rules Notes</span>
		</label>
		{{editor content=data.rules_notes target="data.rules_notes" button=true owner=owner editable=editable}}
		{{/if}}

		{{#if isGM}}
			<label class="tab-label">
				<span class="tab-title">Active Effects</span>
			</label>
			{{> "systems/eunos-blades/templates/parts/active-effects.hbs"}}
		{{/if}}
  </section>
</form>
