{{eLog "Project Sheet Context" this}}
<form class="{{cssClass}}" autocomplete="off">

  {{!-- Tags --}}
  {{#if isGM}}
  <input type="text" class="comp-tags tags-gm" />
  {{/if}}

  {{!-- Sheet Container --}}
  <div class="sheet-root">

    {{!-- Header --}}
    <section class="sheet-top">
      <input class="sheet-title shadowed" type="text" name="name" value="{{item.name}}">
    </section>


    {{!-- Body --}}
    <div class="split-panel full-width flex-horizontal">
      {{!-- Gradient Background  --}}
      <div class="full-width gradient-background"></div>

      {{!-- Left Panel: Project Details  --}}
      <section class="tab-content flex-vertical project-panel-left">
        {{#if (test isGM "||" isEmbeddedItem)}}
        <label class="tab-label">
          <span class="tab-title">Description</span>
        </label>
        {{editor system.description target="system.description" button=true owner=owner editable=editable}}
        {{/if}}

        {{#if (test isGM "||" system.rules)}}
        <label class="tab-label">
          <span class="tab-title">Rules</span>
        </label>
        {{editor system.rules target="system.rules" button=true owner=owner editable=isGM}}
        {{/if}}

        {{#if (test isGM "||" system.notes)}}
        <label class="tab-label">
          <span class="tab-title">Notes</span>
        </label>
        {{editor system.notes target="system.notes" button=true owner=owner editable=isGM}}
        {{/if}}

        {{#if isGM}}
        <label class="tab-label">
          <span class="tab-title">GM Notes</span>
        </label>
        {{editor system.gm_notes target="system.gm_notes" button=true owner=owner editable=isGM}}
        {{/if}}
      </section>

      {{!-- Right Panel: Clock Key Wrapper  --}}
      <section class="clock-key-panel flex-horizontal project-panel-right"></section>
    </div>
</form>