<form class="{{cssClass}}" autocomplete="off">

  {{!-- Controls Header --}}
  <section class="controls-header">

  </section>

  {{!-- Sheet Container --}}
  <div class="sheet-root">

    {{!-- Header --}}
    <section class="sheet-top">
      <div class="controls-panel">
      {{> "systems/eunos-blades/templates/components/toggle-icon.hbs"
        cssClass="score-toggle"
        isToggled=system.isActive
        activeClass="fa-duotone fa-toggle-large-on"
        activeTooltip="<b>Score is Active.</b><br>Click to deactivate."
        inactiveClass="fa-duotone fa-toggle-large-off"
        inactiveTooltip="<b>Clock is Inactive.</b><br>Click to activate."
        targetKey="system.isActive" }}
      </div>
      <input class="sheet-title shadowed" type="text" name="name" value="{{item.name}}">
      <div class="controls-panel"></div>

    </section>

    {{!-- Three-Column Layout --}}
    <div class="three-columns">
      <div class="column player-character-summary-column">

        {{!-- Player Character Summaries --}}
        <div class="player-character-summary-panel">
          {{#each playerCharacters}}
          {{> "systems/eunos-blades/templates/parts/gm-pc-summary.hbs"}}
          {{/each}}
        </div>

      </div>

      <div class="column">
        <section class="accordian-block descriptions-panel">
          <input type="radio" name="system.accordians.main" id="main-descriptions" value="0" {{checked (test system.accordians.main "==" "0")}} />
          <label for="main-descriptions" class="accordian-label">
            <span class="accordian-block-title">Descriptions</span>
          </label>
          <div class="accordian-contents">
            Descriptions Content!
          </div>
        </section>
        <section class="accordian-block locations-panel">
          <input type="radio" name="system.accordians.main" id="main-locations" value="1" {{checked (test system.accordians.main "==" "1")}} />
          <label for="main-locations" class="accordian-label">
            <span class="accordian-block-title">Locations</span>
          </label>
          <div class="accordian-contents">
            Locations Content!
          </div>
        </section>
        <section class="accordian-block randomizer-panel">
          <input type="radio" name="system.accordians.main" id="main-randomizers" value="2" {{checked (test system.accordians.main "==" "2")}} />
          <label for="main-randomizers" class="accordian-label">
            <span class="accordian-block-title">Randomizers</span>
            <span class="randomizer-trigger" data-action="randomize">
              <i class="fa-solid fa-shuffle"></i>
            </span>
          </label>
          <div class="accordian-contents">
            {{!-- Bargains Randomizer --}}
            <div class="accordian-block randomizer-container">
              <input type="radio" name="system.accordians.randomizers" id="randomizer-bargains" value="0" {{checked (test system.accordians.randomizers "==" "0")}} />
              <label for="randomizer-bargains" class="accordian-label accordian-label-small">
                <span class="accordian-block-title accordian-block-title-small">Bargains</span>
                <span class="randomizer-trigger" data-action="randomize" data-category="Bargains">
                  <i class="fa-solid fa-shuffle"></i>
                </span>
              </label>
              <div class="accordian-contents randomizer-list randomizer-bargain">
                {{#each system.randomizers.Bargains as |randItem randIndex|}}
                <div class="randomizer-item {{~#if randItem.isLocked}} randomizer-item-locked{{/if}}">
                  <input class="randomizer-input randomizer-input-title" type="text" name="system.randomizers.Bargains.{{randIndex}}.name" value="{{randItem.name}}"  {{~#unless randItem.isLocked}} readonly{{/unless}} />
                  <input class="randomizer-input randomizer-input-subtitle" type="text" name="system.randomizers.Bargains.{{randIndex}}.category" value="{{randItem.category}}"  {{~#unless randItem.isLocked}} readonly{{/unless}} />
                  <textarea class="randomizer-input randomizer-input-body" type="text" name="system.randomizers.Bargains.{{randIndex}}.effect"  {{~#unless randItem.isLocked}} readonly{{/unless}}>{{randItem.effect}}</textarea>
                  <span class="toggle-icon toggle-lock{{~#if randItem.isLocked}} toggled{{/if}}">
                    <input data-dtype="Boolean" type="checkbox" name="system.randomizers.Bargains.{{randIndex}}.isLocked" class="hidden-toggle toggle-lock" {{checked randItem.isLocked}}>
                    <i class="toggle-on fa-solid fa-lock"></i>
                    <i class="toggle-off fa-regular fa-lock-open"></i>
                  </span>
                </div>
                {{/each}}
              </div>
            </div>

            {{!-- Obstacles Randomizer --}}
            <div class="accordian-block randomizer-container">
              <input type="radio" name="system.accordians.randomizers" id="randomizer-obstacles" value="1" {{checked (test system.accordians.randomizers "==" "1")}} />
              <label for="randomizer-obstacles" class="accordian-label accordian-label-small">
                <span class="accordian-block-title accordian-block-title-small">Obstacles</span>
                <span class="randomizer-trigger" data-action="randomize" data-category="Obstacles">
                  <i class="fa-solid fa-shuffle"></i>
                </span>
              </label>
              <div class="accordian-contents randomizer-list randomizer-obstacle">
                {{#each system.randomizers.Obstacles as |randItem randIndex|}}
                <div class="randomizer-item {{~#if randItem.isLocked}} randomizer-item-locked{{/if}}">
                  <input class="randomizer-input randomizer-input-title" type="text" name="system.randomizers.Obstacles.{{randIndex}}.name" value="{{randItem.name}}"  {{~#unless randItem.isLocked}} readonly{{/unless}} />
                  <input class="randomizer-input randomizer-input-subtitle" type="text" name="system.randomizers.Obstacles.{{randIndex}}.category" value="{{randItem.category}}"  {{~#unless randItem.isLocked}} readonly{{/unless}} />
                  <textarea class="randomizer-input randomizer-input-body" type="text" name="system.randomizers.Obstacles.{{randIndex}}.desc" {{~#unless randItem.isLocked}} readonly{{/unless}}>{{randItem.desc}}</textarea>
                  <div class="randomizer-input-container randomizer-input-container-questions">
                    <ul class="randomizer-questions-list">
                      {{#each randItem.questions}}
                      <li>{{this}}</li>
                      {{/each}}
                    </ul>
                    <textarea class="randomizer-input randomizer-input-notes" type="text" name="system.randomizers.Obstacles.{{randIndex}}.notes" {{~#unless randItem.isLocked}} readonly{{/unless}}>{{randItem.notes}}</textarea>
                  </div>
                  <div class="randomizer-input-container randomizer-input-container-mods">
                    <div class="randomizer-mods-easier">
                      <ul class="randomizer-mods-easier-list">
                        {{#each randItem.modsEasier}}
                        <li>{{this}}</li>
                        {{/each}}
                      </ul>
                    </div>
                    <div class="randomizer-mods-harder">
                      <ul class="randomizer-mods-harder-list">
                        {{#each randItem.modsHarder}}
                        <li>{{this}}</li>
                        {{/each}}
                      </ul>
                    </div>
                  </div>
                  <span class="toggle-icon toggle-lock{{~#if randItem.isLocked}} toggled{{/if}}">
                    <input data-dtype="Boolean" type="checkbox" name="system.randomizers.Obstacles.{{randIndex}}.isLocked" class="hidden-toggle toggle-lock" {{checked randItem.isLocked}}>
                    <i class="toggle-on fa-solid fa-lock"></i>
                    <i class="toggle-off fa-regular fa-lock-open"></i>
                  </span>
                </div>
                {{/each}}
              </div>
            </div>

            {{!-- NPCs Randomizer --}}
            <div class="accordian-block randomizer-container">
              <input type="radio" name="system.accordians.randomizers" id="randomizer-npcs" value="2" {{checked (test system.accordians.randomizers "==" "2")}} />
              <label for="randomizer-npcs" class="accordian-label accordian-label-small">
                <span class="accordian-block-title accordian-block-title-small">NPCs</span>
                <span class="randomizer-trigger" data-action="randomize" data-category="NPCs">
                  <i class="fa-solid fa-shuffle"></i>
                </span>
              </label>
              <div class="accordian-contents randomizer-list randomizer-npc">
                {{#each system.randomizers.NPCs as |randItem randIndex|}}
                <div class="randomizer-item {{~#if randItem.isLocked}} randomizer-item-locked{{/if}}">
                  <input class="randomizer-input randomizer-input-title" type="text" name="system.randomizers.NPCs.{{randIndex}}.name" value="{{randItem.name}}"  {{~#unless randItem.isLocked}} readonly{{/unless}} />
                  <input class="randomizer-input randomizer-input-subtitle" type="text" name="system.randomizers.NPCs.{{randIndex}}.category" value="{{randItem.category}}"  {{~#unless randItem.isLocked}} readonly{{/unless}} />
                  <textarea class="randomizer-input randomizer-input-body" type="text" name="system.randomizers.NPCs.{{randIndex}}.effect"  {{~#unless randItem.isLocked}} readonly{{/unless}}>{{randItem.effect}}</textarea>
                  <span class="toggle-icon toggle-lock{{~#if randItem.isLocked}} toggled{{/if}}">
                    <input data-dtype="Boolean" type="checkbox" name="system.randomizers.NPCs.{{randIndex}}.isLocked" class="hidden-toggle toggle-lock" {{checked randItem.isLocked}}>
                    <i class="toggle-on fa-solid fa-lock"></i>
                    <i class="toggle-off fa-regular fa-lock-open"></i>
                  </span>
                </div>
                {{/each}}
              </div>
            </div>

            {{!-- Scores/Heists Randomizer --}}
            <div class="accordian-block randomizer-container">
              <input type="radio" name="system.accordians.randomizers" id="randomizer-scores" value="3" {{checked (test system.accordians.randomizers "==" "3")}} />
              <label for="randomizer-scores" class="accordian-label accordian-label-small">
                <span class="accordian-block-title accordian-block-title-small">Scores</span>
                <span class="randomizer-trigger" data-action="randomize" data-category="Scores">
                  <i class="fa-solid fa-shuffle"></i>
                </span>
              </label>
              <div class="accordian-contents randomizer-list randomizer-score">
                {{#each system.randomizers.Scores as |randItem randIndex|}}
                <div class="randomizer-item {{~#if randItem.isLocked}} randomizer-item-locked{{/if}}">
                  <input class="randomizer-input randomizer-input-title" type="text" name="system.randomizers.Scores.{{randIndex}}.name" value="{{randItem.name}}"  {{~#unless randItem.isLocked}} readonly{{/unless}} />
                  <input class="randomizer-input randomizer-input-subtitle" type="text" name="system.randomizers.Scores.{{randIndex}}.category" value="{{randItem.category}}"  {{~#unless randItem.isLocked}} readonly{{/unless}} />
                  <textarea class="randomizer-input randomizer-input-body" type="text" name="system.randomizers.Scores.{{randIndex}}.desc"  {{~#unless randItem.isLocked}} readonly{{/unless}}>{{randItem.desc}}</textarea>
                  <textarea class="randomizer-input randomizer-input-narrative" type="text" name="system.randomizers.Scores.{{randIndex}}.narrative"  {{~#unless randItem.isLocked}} readonly{{/unless}}>{{randItem.narrative}}</textarea>
                  <span class="toggle-icon toggle-lock{{~#if randItem.isLocked}} toggled{{/if}}">
                    <input data-dtype="Boolean" type="checkbox" name="system.randomizers.Scores.{{randIndex}}.isLocked" class="hidden-toggle toggle-lock" {{checked randItem.isLocked}}>
                    <i class="toggle-on fa-solid fa-lock"></i>
                    <i class="toggle-off fa-regular fa-lock-open"></i>
                  </span>
                </div>
                {{/each}}
              </div>
            </div>
          </div>
        </section>

      </div>

      <div class="column">
        {{!-- Images Panel --}}
        <div class="selectable-image-panel">
          {{#each system.images as |imgSrc imgNum|}}
          <img class="selectable-image {{~#if (test @root.system.imageSelected "==" imgNum)}} image-selected{{/if}}" src="{{imgSrc}}" data-action="select-image" data-img-num="{{imgNum}}" />
          {{/each}}
          <img class="add-image-control" src="icons/svg/cancel.svg" data-action="add-image" />
        </div>

        {{!-- Opposition Creation Panel --}}
        <div class="opposition-creation-panel">
          {{#each system.oppositions as |oppData oppID|}}

          {{> "systems/eunos-blades/templates/parts/roll-opposition-creator.hbs" id=oppID selectedID=../system.oppositionSelected}}
          {{/each}}
          {{#with (randString 10) as |id|}}
          {{> "systems/eunos-blades/templates/parts/roll-opposition-creator.hbs" id=id isBlank=true}}
          {{/with}}
        </div>
      </div>
    </div>
  </div>
</form>