<form class="{{cssClass}}" autocomplete="off">
	<section class="item-top flex-horizontal">
		<img src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
		<input class="comp-title sheet-title shadowed" type="text" name="name" value="{{item.name}}" placeholder="{{localize 'BITD.Name'}}" />
	</section>
	<section class="item-main flex-vertical">
		{{#if isEmbeddedItem}}
		<label class="tab-label">
			<span class="tab-title">Description</span>
		</label>
		{{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
		{{/if}}

		<label class="tab-label">
			<span class="tab-title">Rules</span>
		</label>
		{{editor content=data.rules target="data.rules" button=true owner=owner editable=editable}}

		{{#if (test isGM "||" data.rules_notes)}}
		<label class="tab-label">
			<span class="tab-title">Additional Rules Notes</span>
		</label>
		{{editor content=data.rules_notes target="data.rules_notes" button=true owner=owner editable=editable}}
		{{/if}}

		{{#if isGM}}
			<label class="tab-label">
				<span class="tab-title">Active Effects</span>
				<a class="effect-control" data-action="create" title="Create Effect">
						<i class="fas fa-plus-square"></i>
				</a>
			</label>
			{{> "systems/eunos-blades/templates/parts/active-effects.hbs"}}
		{{/if}}
	</section>
</form>