<a class="button-icon {{blockClass}}" data-id="{{targetId}}" data-action="{{action}}">
	<i class="{{buttonClass}}"></i>
	{{#if tooltip}}
	<span class="tooltip button-icon-tooltip">{{{tooltip}}}</span>
	{{/if}}
</a>