<div class="euno-clock {{#if data.isActive}}euno-clock-active{{/if}}" data-index="{{clockNum}}" data-size="{{data.size}}" data-value="{{data.value}}">
	<img class="clock-bg" src="systems/eunos-blades/assets/clocks/clock-bg.webp" />
	<img class="clock-glow" src="systems/eunos-blades/assets/clocks/clock-glow-{{data.color}}.webp" style="
		{{#if (eq data.value "0")}}opacity: 0; {{else}}clip-path: url(#clockClip-{{data.size}}-{{data.value}}); {{/if}}
	" />
	<img class="clock-frame" src="systems/eunos-blades/assets/clocks/clock-{{data.size}}-frame.webp" style="
		{{#if (eq data.value data.size)}}opacity: 0;{{/if}}
	" />
</div>