{{#if (test clockKey.isVisible "&&" clockKey.isInCurrentScene)}}
<div class="control-flipper clock-control-flipper"  data-clock-key-id="{{clockKey.id}}" data-clock-id="{{clock.id}}" style="translate: none; rotate: none; scale: none; transform: translate(0px 0px);">
{{else}}
<div class="control-flipper clock-control-flipper controls-flipped" data-clock-key-id="{{clockKey.id}}" data-clock-id="{{clock.id}}" style="translate: none; rotate: none; scale: none; transform: rotateX(180deg);">
{{/if}}


  <div class="clock-control-panel controls-front" style="translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate3d(0px, 0px, 2px);">

    {{!-- Toggle Visible --}}
    {{> "systems/eunos-blades/templates/components/button-icon.hbs"
      blockClass="clock-control-button clock-toggle-visible"
      toggleIconKey="eye"
      toggleIconValue=clock.isVisible
      action="toggle-visible"
    }}

    {{!-- Toggle Active --}}
    {{> "systems/eunos-blades/templates/components/button-icon.hbs"
      blockClass="clock-control-button clock-toggle-active"
      toggleIconKey="bolt"
      toggleIconValue=clock.isActive
      action="toggle-active"
    }}

    {{!-- Toggle Name Visibility --}}
    {{> "systems/eunos-blades/templates/components/button-icon.hbs"
      blockClass="clock-control-button clock-toggle-name-visible"
      toggleIconKey="signature"
      toggleIconValue=clock.isNameVisible
      action="toggle-name-visibility"
    }}

    {{!-- Toggle Highlight --}}
    {{> "systems/eunos-blades/templates/components/button-icon.hbs"
      blockClass="clock-control-button clock-toggle-highlight"
      toggleIconKey="lightbulb"
      toggleIconValue=clock.isHighlighted
      action="toggle-highlight"
    }}

    {{!-- Name --}}
    <input type="text" class="clock-input clock-input-name" {{~#if clock.isNameVisible}} readonly{{/if}}
      data-target-prop="name"
      value="{{clock.name}}"
    />

    {{!-- Adding Clock Segments --}}

    <div class="clock-control-segment-buttons clock-control-add-segment-buttons">
    {{!-- Add One Segment --}}
    {{> "systems/eunos-blades/templates/components/button-icon.hbs"
      blockClass="clock-control-button clock-add-segment"
      buttonClass="fa-duotone fa-circle-three-quarters"
      buttonStyle="--fa-primary-color: var(--blades-white); --fa-secondary-color: var(--blades-green-bright); --fa-secondary-opacity: 1;"
      action="change-segments"
      value="1"
    }}

    {{!-- Add Two Segments --}}
    {{> "systems/eunos-blades/templates/components/button-icon.hbs"
      blockClass="clock-control-button clock-add-segment"
      buttonClass="fa-duotone fa-circle-half"
      buttonStyle="--fa-primary-color: var(--blades-white); --fa-secondary-color: var(--blades-green-bright); --fa-secondary-opacity: 1"
      action="change-segments"
      value="2"
    }}

    {{!-- Add Three Segments --}}
    {{> "systems/eunos-blades/templates/components/button-icon.hbs"
      blockClass="clock-control-button clock-add-segment"
      buttonClass="fa-duotone fa-circle-three-quarters fa-flip-horizontal"
      buttonStyle="--fa-primary-color: var(--blades-green-bright); --fa-secondary-color: var(--blades-white); --fa-secondary-opacity: 1;"
      action="change-segments"
      value="3"
    }}
    </div>

    {{!-- Removing Clock Segments --}}

    <div class="clock-control-segment-buttons clock-control-add-segment-buttons">
    {{!-- Remove One Segment --}}
    {{> "systems/eunos-blades/templates/components/button-icon.hbs"
      blockClass="clock-control-button clock-remove-segment"
      buttonClass="fa-duotone fa-circle-three-quarters"
      buttonStyle="--fa-primary-color: var(--blades-white); --fa-secondary-color: var(--blades-red-bright); --fa-secondary-opacity: 1;"
      action="change-segments"
      value="-1"
    }}

    {{!-- Remove Two Segments --}}
    {{> "systems/eunos-blades/templates/components/button-icon.hbs"
      blockClass="clock-control-button clock-remove-segment"
      buttonClass="fa-duotone fa-circle-half"
      buttonStyle="--fa-primary-color: var(--blades-white); --fa-secondary-color: var(--blades-red-bright); --fa-secondary-opacity: 1"
      action="change-segments"
      value="-2"
    }}

    {{!-- Remove Three Segments --}}
    {{> "systems/eunos-blades/templates/components/button-icon.hbs"
      blockClass="clock-control-button clock-remove-segment"
      buttonClass="fa-duotone fa-circle-three-quarters fa-flip-horizontal"
      buttonStyle="--fa-primary-color: var(--blades-red-bright); --fa-secondary-color: var(--blades-white); --fa-secondary-opacity: 1;"
      action="change-segments"
      value="-3"
    }}
    </div>
  </div>

  <div class="clock-control-panel controls-back" style="translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate3d(0px, 0px, -2px) rotateX(180deg);">

    {{!-- Toggle Visible --}}
    {{> "systems/eunos-blades/templates/components/button-icon.hbs"
      blockClass="clock-control-button clock-toggle-visible"
      toggleIconKey="eye"
      toggleIconValue=clock.isVisible
      action="toggle-visible"
    }}

    {{!-- Toggle Active --}}
    {{> "systems/eunos-blades/templates/components/button-icon.hbs"
      blockClass="clock-control-button clock-toggle-active"
      toggleIconKey="bolt"
      toggleIconValue=clock.isActive
      action="toggle-active"
    }}

    {{!-- Toggle Name Visibility --}}
    {{> "systems/eunos-blades/templates/components/button-icon.hbs"
      blockClass="clock-control-button clock-toggle-name-visible"
      toggleIconKey="signature"
      toggleIconValue=clock.isNameVisible
      action="toggle-name-visibility"
    }}

    {{!-- Toggle Highlight --}}
    {{> "systems/eunos-blades/templates/components/button-icon.hbs"
      blockClass="clock-control-button clock-toggle-highlight"
      toggleIconKey="lightbulb"
      toggleIconValue=clock.isHighlighted
      action="toggle-highlight"
    }}

    {{!-- Name --}}
    <input type="text" class="clock-input clock-input-name"
      data-target-prop="name"
      value="{{clock.name}}"
    />

    {{!-- Color --}}
    <select data-dtype="string" class="clock-control-select clock-select-color" data-target-prop="color" data-value="{{clock.color}}">
      {{#select clock.color}}
      <option data-color="yellow" value="yellow" style="background: yellow !important">📀</option>
      <option data-color="red" value="red" style="background: red !important">🔴</option>
      <option data-color="cyan" value="cyan" style="background: cyan !important">🔵</option>
      <option data-color="white" value="white" style="background: white !important">🔘</option>
      {{/select}}
    </select>

    {{!-- Value --}}
    <select data-dtype="number" class="clock-control-select clock-select-value" data-target-prop="value" data-value="{{clock.value}}">
      {{#select clock.value}}
      {{#for 0 clock.max}}
        <option value="{{this}}">{{this}}</option>
      {{/for}}
      {{/select}}
    </select>

    {{!-- Max --}}
    <select data-dtype="number" class="clock-control-select clock-select-number" data-target-prop="max" data-value="{{clock.max}}">
      {{#select clock.max}}
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="8">8</option>
      <option value="10">10</option>
      <option value="12">12</option>
      {{/select}}
    </select>

    {{!-- Delete Clock --}}
    {{> "systems/eunos-blades/templates/components/button-icon.hbs"
      blockClass="clock-control-button clock-control-delete-clock"
      buttonClass="fa-sharp fa-regular fa-circle-x"
      action="delete-clock"
    }}
  </div>

</div>
