<tr class="clock-row">
  <td>
    {{> "systems/eunos-blades/templates/components/toggle-icon.hbs"
      cssClass="clock-toggle"
      isToggled=clockData.isVisible
      activeClass="fas fa-eye"
      activeTooltip="<b>Clock is Visible.</b><br>Click to hide."
      inactiveClass="fas fa-eye-slash"
      inactiveTooltip="<b>Clock is Hidden.</b><br>Click to display."
      targetKey=(concat "system.clock_keys." keyID ".clocks." clockNum ".isVisible") }}
    {{> "systems/eunos-blades/templates/components/toggle-icon.hbs"
      cssClass="clock-toggle"
      isToggled=clockData.isActive
      activeClass="fas fa-bell"
      activeTooltip="<b>Clock is Focused.</b><br>Click to mute."
      inactiveClass="fas fa-bell-slash"
      inactiveTooltip="<b>Clock is Muted.</b><br>Click to focus."
      targetKey=(concat "system.clock_keys." keyID ".clocks." clockNum ".isActive") }}

    {{> "systems/eunos-blades/templates/components/toggle-icon.hbs"
      cssClass="clock-toggle"
      isToggled=clockData.isNameVisible
      activeClass="fas fa-comment"
      activeTooltip="<b>Name is Visible.</b><br>Click to hide."
      inactiveClass="fas fa-comment-slash"
      inactiveTooltip="<b>Name is Hidden.</b><br>Click to display."
      targetKey=(concat "system.clock_keys." keyID ".clocks." clockNum ".isNameVisible") }}
  </td>
  <td>
    <input type="text" class="clock-input clock-input-display" {{~#if clockData.color}} style="color: {{clockData.color}}"{{/if}} name="system.clock_keys.{{keyID}}.clocks.{{clockNum}}.display" value="{{#if clockData}}{{clockData.display}}{{/if}}">
  </td>
  {{#if clockData}}
  <td>
    <select data-dtype="number" name="system.clock_keys.{{keyID}}.clocks.{{clockNum}}.max">
      {{#select clockData.max}}
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="8">8</option>
      <option value="10">10</option>
      <option value="12">12</option>
      {{/select}}
    </select>
    <select data-dtype="string" name="system.clock_keys.{{keyID}}.clocks.{{clockNum}}.color" data-color="{{clockData.color}}">
      {{#select clockData.color}}
      <option data-color="yellow" value="yellow" style="background: yellow !important">📀</option>
      <option data-color="red" value="red" style="background: red !important">🔴</option>
      <option data-color="cyan" value="cyan" style="background: cyan !important">🔵</option>
      <option data-color="white" value="white" style="background: white !important">🔘</option>
      {{/select}}
    </select>
  </td>
  <td>
    <select data-dtype="number" name="system.clock_keys.{{keyID}}.clocks.{{clockNum}}.value">
      {{#select clockData.value}}
      {{#times_from_0 clockData.max}}
        <option value="{{this}}">{{this}}</option>
      {{/times_from_0}}
      {{/select}}
    </select>
  </td>
  {{/if}}
</tr>