


    {{eLog "DialogConsequence.Block Context" this}}
    <div class="consequence-section consequence-section-{{rollPosition}} full-width">

      <h2 class="consequence-subheader-{{rollPosition}}-{{rollResult}}">On {{case "title" rollResult}}</h2>

      {{#each consequenceData as |cData cID|}}
        {{#if cData}}
        <div class="roll-consequence-row flex-vertical full-width" data-csq-id="{{cID}}">
          <div class="comp consequence-display-container roll-consequence-entry-row full-width flex-horizontal">
            {{!-- Icon --}}
            <div class="consequence-icon-container">
              {{#if cData.icon}}
              <div class="consequence-icon-circle">
                <img class="consequence-icon-img" src="systems/eunos-blades/assets/icons/consequence-icons/base-{{ cData.icon}}.svg" />
              </div>
              {{/if}}
            </div>
            {{!-- Type --}}
            {{> "systems/eunos-blades/templates/components/select.hbs"
              cssClass="roll-consequence-type-select"
              dataAction="gm-select"
              dataFlagTarget=(concat "rollCollab.consequenceData." ../rollPosition "." ../rollResult "." cID ".type")
              dataDType="String"
              dataDocType=false
              selected=cData.type
              options=../consequenceTypeOptions
            }}
            {{!-- Attribute --}}
            {{> "systems/eunos-blades/templates/components/select.hbs"
              cssClass="roll-consequence-attribute-select"
              dataAction="gm-select"
              dataFlagTarget=(concat "rollCollab.consequenceData." ../rollPosition "." ../rollResult "." cID ".attribute")
              dataDType="String"
              dataDocType=false
              selected=cData.attribute
              options=../consequenceAttributeOptions
            }}
            {{!-- Blank Options Trigger --}}
            {{> "systems/eunos-blades/templates/components/button-icon.hbs"
              blockClass="blank-option-button"
              buttonClass="fa-duotone fa-credit-card-blank"
              action=(concat "blank-option-" ../rollPosition "-" ../rollResult "-" cID)
            }}
            {{!-- AI Trigger --}}
            {{#unless cData.resistNegates}}
            {{> "systems/eunos-blades/templates/components/button-icon.hbs"
              blockClass="ai-query-button"
              buttonClass="fa-solid fa-brain-circuit"
              tooltip="<b>Query AI</b><br>Query OpenAI for suggestions on resisted versions of this consequence."
              action=(concat "ai-query-" ../rollPosition "-" ../rollResult "-" cID)
            }}
            {{/unless}}
            {{!-- Armor Toggle --}}
            {{#if cData.isDisplayingArmorToggle}}
              {{> "systems/eunos-blades/templates/components/toggle-icon.hbs"
                isToggled=cData.canArmor
                blockClass="armor-toggle"
                dataAction=(concat "toggle-armor-" ../rollPosition "-" ../rollResult "-" cID)
                activeClass="fa-sharp fa-solid fa-shield"
                inactiveClass="fa-sharp fa-regular fa-shield"
              }}
            {{/if}}
            {{!-- Special Armor Toggle --}}
            {{#if cData.isDisplayingSpecialArmorToggle}}
              {{> "systems/eunos-blades/templates/components/toggle-icon.hbs"
                isToggled=cData.canSpecialArmor
                blockClass="special-armor-toggle"
                dataAction=(concat "toggle-special-" ../rollPosition "-" ../rollResult "-" cID)
                activeClass="fa-sharp fa-duotone fa-shield-quartered"
                inactiveClass="fa-sharp fa-regular fa-shield-quartered"
              }}
            {{/if}}<i class=""></i>
            {{!-- Name --}}
            <input class="shadowed consequence-name" type="text" value="{{cData.name}}" data-action="gm-update-dialog" data-flag-target="rollCollab.consequenceData.{{../rollPosition}}.{{../rollResult}}.{{cID}}.name" />
          </div>
          {{!-- AI Options --}}
          <div class="flex-vertical consequence-resist-options-container full-width">
            {{#each cData.resistOptions as |rData rID|}}
            {{#unless (test rData.isVisible "==" false)}}
            <div class="flex-horizontal consequence-resist-option" data-csq-id="{{rID}}">
              {{!-- Select Resist Option --}}
              {{#if rData.isSelected}}
                {{> "systems/eunos-blades/templates/components/button-icon.hbs"
                  blockClass="resist-select-button"
                  buttonClass="fa-solid fa-star gold-bright"
                  tooltip="<b>Selected AI Suggestion</b><br>Click to Deselect"
                  action=(concat "gm-select-toggle-" ../../rollPosition "-" ../../rollResult "-" cID "-" rID)
                }}
              {{else}}
                {{> "systems/eunos-blades/templates/components/button-icon.hbs"
                  blockClass="resist-select-button"
                  buttonClass="fa-regular fa-star grey"
                  tooltip="<b>AI Suggestion</b><br>Click to Select."
                  action=(concat "gm-select-toggle-" ../../rollPosition "-" ../../rollResult "-" cID "-" rID)
                }}
              {{/if}}
              {{!-- Type --}}
              {{> "systems/eunos-blades/templates/components/select.hbs"
                cssClass="roll-consequence-type-select"
                dataAction="gm-select"
                dataFlagTarget=(concat "rollCollab.consequenceData." ../../rollPosition "." ../../rollResult "." cID ".resistOptions." rID ".type")
                dataDType="String"
                dataDocType=false
                selected=rData.type
                options=../../consequenceTypeOptionsAll }}
              {{!-- Name --}}
              {{#if (test rData.type "==" "None")}}
              <input class="shadowed consequence-name consequence-name-none" type="text" value="" readonly />
              {{else}}
              <input class="shadowed consequence-name" type="text" value="{{rData.name}}" data-action="gm-update-dialog" data-flag-target="rollCollab.consequenceData.{{../../rollPosition}}.{{../../rollResult}}.{{cID}}.resistOptions.{{rID}}.name" />
              {{/if}}
            </div>
            {{/unless}}
            {{/each}}
          </div>
        </div>
        {{/if}}
      {{/each}}
    </div>