
<div class="dotline {{~#if blockClass}} {{blockClass}}{{/if}}" data-target="{{target}}" data-value="{{data.value}}">

	{{!-- Zero Dot --}}
	{{#if zeroDot}}
	<span class="dot zero-dot" data-value="0" data-dtype="Number">
		<img class="img-hover" src="systems/eunos-blades/assets/icons/dotlines/{{zeroDot}}" />
	</span>
	{{/if}}

	{{!-- Filled Dots --}}
	{{#forloop 1 data.value}}
	<span class="dot full-dot {{~#if (test this "==" data.value)}} value-dot{{/if}}" data-value="{{this}}" data-dtype="Number">
		{{#if (test ../altIconStep "&&" (test (calc this "%" ../altIconStep) "==" 0))}}
		{{#if ../altIconFullHover}}
		<img class="img-hover" src="systems/eunos-blades/assets/icons/dotlines/{{../altIconFullHover}}" />
		{{/if}}
		<img class="img-main" src="systems/eunos-blades/assets/icons/dotlines/{{../altIconFull}}" />
		{{else}}
		{{#if ../iconFullHover}}
		<img class="img-hover" src="systems/eunos-blades/assets/icons/dotlines/{{../iconFullHover}}" />
		{{/if}}
		<img class="img-main" src="systems/eunos-blades/assets/icons/dotlines/{{../iconFull}}" />
		{{/if}}
	</span>
	{{/forloop}}

	{{!-- Empty Dots --}}
	{{#forloop (calc data.value "+" 1) data.max}}
	<span class="dot empty-dot" data-value="{{this}}" data-dtype="Number">
		{{#if ../iconEmptyHover}}
		<img class="img-hover" src="systems/eunos-blades/assets/icons/dotlines/{{../iconEmptyHover}}" />
		{{/if}}
		<img class="img-main" src="systems/eunos-blades/assets/icons/dotlines/{{../iconEmpty}}" />
	</span>
	{{/forloop}}

</div>