<span class="toggle-icon {{blockClass}}">
	<input  data-dtype="Boolean" type="checkbox" class="hidden-toggle" name="{{targetKey}}" {{checked isToggled}} />
	<i class="toggle-on {{activeClass}}"></i>
	<i class="toggle-off {{inactiveClass}}"></i>
	{{#if tooltip}}
	<span class="tooltip toggle-icon-tooltip">{{{tooltip}}}</span>
	{{/if}}
	{{#if activeTooltip}}
		{{#if isToggled}}
			<span class="tooltip toggle-icon-tooltip">{{{activeTooltip}}}</span>
		{{/if}}
	{{/if}}
	{{#if inactiveTooltip}}
		{{#unless isToggled}}
			<span class="tooltip toggle-icon-tooltip">{{{inactiveTooltip}}}</span>
		{{/unless}}
	{{/if}}
</span>